printcart/Chat_and_Email_Order_Wordpress.json
{
  "name": "Chat and Email Order Wordpress",
  "nodes": [
    {
      "parameters": {},
      "id": "26ab38bd-bb2f-4311-bc8f-d445d4e49612",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -260,
        -120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a5646e93-98d6-4ca1-b489-e30cece704a7",
              "leftValue": "={{ $json.status }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "40f56570-f02a-4849-89a1-2118aae5dcd2",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        -120
      ]
    },
    {
      "parameters": {},
      "id": "37d534ca-95fe-4d3b-b724-5890cd907b29",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        200
      ]
    },
    {
      "parameters": {
        "messageImport": "=You have a new order in\nShop: {{ $('Code2').item.json.storeName }},\nFrom: Worldpress,\nAt: {{ $('Code2').item.json.created_at }},\nOrder name: {{ $('Code2').item.json.projectName }}",
        "userId": "={{ $('Code2').item.json.id }}"
      },
      "id": "6e4a32fc-d25f-4f5c-8b5f-bef85cce48ad",
      "name": "Workchat",
      "type": "@cloodo/n8n-nodes-workchat.workchat",
      "typeVersion": 1,
      "position": [
        1940,
        -360
      ],
      "credentials": {
        "workchatTokenApi": {
          "id": "vmWmvYNeiMEbsF91",
          "name": "Workchat Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\nreturn item;"
      },
      "id": "fd4feea0-b2d9-48f9-8e2a-ac953e81579f",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        -20
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.id = null;\n}\n\nreturn $input.all();"
      },
      "id": "0d2820c6-59ce-41ff-b63a-94f5a1e4163c",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter out items with id = null\nconst itemsWithId = items.filter(item => item.json.id !== null);\n\n// Extract id from the first item with id\nconst idToCombine = itemsWithId.length > 0 ? itemsWithId[0].json.id : null;\n\n// Combine id with other items\nconst combinedItems = items.map(item => {\n    if (item.json.id === null) {\n        item.json.id = idToCombine;\n    }\n  \n    return item;\n});\n// Filter out items with only id\nconst filteredItems = combinedItems.filter(item => Object.keys(item.json).length > 1);\nreturn filteredItems;"
      },
      "id": "c61c5750-ea94-47b8-9690-cd8d1817c8f4",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "e4a304f1-2acd-441e-a613-6902b76b6faf",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1460,
        -140
      ]
    },
    {
      "parameters": {},
      "id": "53c518aa-1b38-438d-afa5-e4446e0d8cb0",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2280,
        -140
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Y9cS6DQdjKdIfrtl-l640qS_piFK4rdbdmSZqxOPWxE",
          "mode": "list",
          "cachedResultName": "List Printcart Stores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y9cS6DQdjKdIfrtl-l640qS_piFK4rdbdmSZqxOPWxE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1949333510,
          "mode": "list",
          "cachedResultName": "Order From WorldPress",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y9cS6DQdjKdIfrtl-l640qS_piFK4rdbdmSZqxOPWxE/edit#gid=1949333510"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ad2f14a0-ccd3-45c1-bfd6-82477a164b7d",
      "name": "Check exist",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        400,
        -120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhTdi4ifxZKO2CSF",
          "name": "Google Sheets printcart"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.email, p.created_at, s.store_name as storeName, p.uuid, p.name as projectName, u.name as userName\nFROM projects p\nJOIN stores s ON p.store_id = s.id\nJOIN users u ON s.user_id = u.id\nWHERE p.uuid = '{{ $json.id }}';",
        "options": {}
      },
      "id": "399e4611-0bd7-4543-a94e-8b4eba4fd217",
      "name": "Get project information",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1000,
        -300
      ],
      "credentials": {
        "mySql": {
          "id": "zeIUsGdBlo7sjOHL",
          "name": "Printcart Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id \nFROM users u \nWHERE u.email = '{{ $json.email }}';",
        "options": {}
      },
      "id": "35831b5a-e79a-433e-bd6b-4ca23c63c1c2",
      "name": "Get user workchat Id",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        1020,
        -20
      ],
      "credentials": {
        "mySql": {
          "id": "Yas8kVkbrNEoFJep",
          "name": "Cloodo Worksuit Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Y9cS6DQdjKdIfrtl-l640qS_piFK4rdbdmSZqxOPWxE",
          "mode": "list",
          "cachedResultName": "List Printcart Stores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y9cS6DQdjKdIfrtl-l640qS_piFK4rdbdmSZqxOPWxE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1949333510,
          "mode": "list",
          "cachedResultName": "Order From WorldPress",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y9cS6DQdjKdIfrtl-l640qS_piFK4rdbdmSZqxOPWxE/edit#gid=1949333510"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.uuid }}",
            "UserEmail": "={{ $json.userEmail }}",
            "OrderName": "={{ $json.name }}",
            "date": "={{ $json.created_at }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OrderName",
              "displayName": "OrderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "StoreName",
              "displayName": "StoreName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "UserEmail",
              "displayName": "UserEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "5ffdfb24-45ee-49bf-bcf3-85414c833e56",
      "name": "Get project today",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        200,
        -120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhTdi4ifxZKO2CSF",
          "name": "Google Sheets printcart"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "6cd6a5da-ab5b-4584-b58c-5030f9198b96",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        -300
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Y9cS6DQdjKdIfrtl-l640qS_piFK4rdbdmSZqxOPWxE",
          "mode": "list",
          "cachedResultName": "List Printcart Stores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y9cS6DQdjKdIfrtl-l640qS_piFK4rdbdmSZqxOPWxE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1949333510,
          "mode": "list",
          "cachedResultName": "Order From WorldPress",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y9cS6DQdjKdIfrtl-l640qS_piFK4rdbdmSZqxOPWxE/edit#gid=1949333510"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Code2').item.json.uuid }}",
            "status": "send",
            "OrderName": "={{ $('Code2').item.json.projectName }}",
            "StoreName": "={{ $('Code2').item.json.storeName }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OrderName",
              "displayName": "OrderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "StoreName",
              "displayName": "StoreName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "84bf2516-b44a-48d4-bf45-51a4f9f12aeb",
      "name": "Save to google sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1940,
        -140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhTdi4ifxZKO2CSF",
          "name": "Google Sheets printcart"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT projects.*, u.email AS userEmail\nFROM projects\nINNER JOIN stores ON projects.store_id = stores.id\nINNER JOIN users u ON stores.user_id = u.id\nWHERE stores.integration = 'woocommerce' AND DATE(projects.created_at) = CURDATE()-2;",
        "options": {}
      },
      "id": "a605fd8a-e507-4b48-95c7-d5e9d2c2d922",
      "name": "Get Project",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -20,
        -120
      ],
      "credentials": {
        "mySql": {
          "id": "zeIUsGdBlo7sjOHL",
          "name": "Printcart Database"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "Unsubscribed List",
        "options": {}
      },
      "id": "c49cb3e7-d14e-42a1-8910-acd4fea1c016",
      "name": "Save to google sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1340,
        -780
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhTdi4ifxZKO2CSF",
          "name": "Google Sheets printcart"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0",
          "mode": "list",
          "cachedResultName": "Check error account ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1885315609,
          "mode": "list",
          "cachedResultName": "Unsubscribed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0/edit#gid=1885315609"
        },
        "options": {}
      },
      "id": "3a05594c-cb6e-4431-81ab-aa64896b228a",
      "name": "Save to google sheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1020,
        -760
      ],
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhTdi4ifxZKO2CSF",
          "name": "Google Sheets printcart"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id \nFROM users u \nWHERE u.email = '{{ $json.email }}';",
        "options": {}
      },
      "id": "37183c7a-c08e-4a83-9b38-2f8a113de0d8",
      "name": "Get user workchat Id1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        200,
        -300
      ],
      "credentials": {
        "mySql": {
          "id": "xb8mMTZBhISimPeO",
          "name": "Cloodo Workchat Admin"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "e10dec33-e637-4321-b5c4-ddf1d176bd48",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1780,
        -640
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bea81855-07f9-4de1-b04a-8d2a50d598f4",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        -480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloodo.com/mautic.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "uname",
              "value": "={{ $json.userName }}"
            },
            {
              "name": "subject",
              "value": "=Hello {{ $json.userName }}"
            },
            {
              "name": "content",
              "value": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            background-color: #f4f4f4;\n            margin-top: 50px;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #fff;\n        }\n        .content {\n            color: #333;\n            font-size: 16px;\n            margin-bottom: 20px;\n        }\n        .button {\n            display: inline-block;\n            padding: 10px 20px;\n            text-decoration: none;\n            border-radius: 5px;\n            border: 2px solid #007bff;\n            background-color: #2f79c9;\n            color: #fff;\n            font-size: 20px;\n            transition: background-color 0.3s, box-shadow 0.3s;\n        }\n        .button:hover {\n            background-color: #4ca1e6;\n            color: #fff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);\n        }\n        .center-container {\n            text-align: center;\n        }\n        img {\n            width: 80%;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n <div class=\"content\">\n            Dear {{ $json.userName }},<br><br>\n<div>\n         Congratulations! You have a new order through Printcart waiting to be fulfilled. Here are the details:<br><br>\n  Store Name: {{ $json.storeName }}<br>\n  Order Number:  {{ $json.id }}<br>\n  Order Date: {{ $json.created_at }}<br><br>\n  To fulfill the order, please log in to your Printcart dashboard and navigate to the Orders section. From there, you can view the order details, check the custom design, and download it for printing production.<br><br>\n  <div class=\"center-container\" >\n  <a href=\"https://dashboard.printcart.com/orders\" style=\"color: #fff\" class=\"button\">Process Order Fulfilment</a><br><br>\n</div>\n</div>\n</body>"
            },
            {
              "name": "send_mail",
              "value": "printcart"
            },
            {
              "name": "email_id",
              "value": "79"
            }
          ]
        },
        "options": {}
      },
      "id": "e0f6ded3-70a6-424e-bfca-c0fd9a6d422d",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1940,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloodo.com/mautic.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "=support@printcart.com"
            },
            {
              "name": "uname",
              "value": "={{ $json.userName }}"
            },
            {
              "name": "subject",
              "value": "=Hello {{ $json.userName }}"
            },
            {
              "name": "content",
              "value": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            background-color: #f4f4f4;\n            margin-top: 50px;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #fff;\n        }\n        .content {\n            color: #333;\n            font-size: 16px;\n            margin-bottom: 20px;\n        }\n        .button {\n            display: inline-block;\n            padding: 10px 20px;\n            text-decoration: none;\n            border-radius: 5px;\n            border: 2px solid #007bff;\n            background-color: #2f79c9;\n            color: #fff;\n            font-size: 20px;\n            transition: background-color 0.3s, box-shadow 0.3s;\n        }\n        .button:hover {\n            background-color: #4ca1e6;\n            color: #fff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);\n        }\n        .center-container {\n            text-align: center;\n        }\n        img {\n            width: 80%;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n <div class=\"content\">\n            Dear {{ $json.userName }},<br><br>\n<div>\n         Congratulations! You have a new order through Printcart waiting to be fulfilled. Here are the details:<br><br>\n  Store Name: {{ $json.storeName }}<br>\n  Order Number:  {{ $json.id }}<br>\n  Order Date: {{ $json.created_at }}<br><br>\n  To fulfill the order, please log in to your Printcart dashboard and navigate to the Orders section. From there, you can view the order details, check the custom design, and download it for printing production.<br><br>\n  <div class=\"center-container\" >\n  <a href=\"https://dashboard.printcart.com/orders\" style=\"color: #fff\" class=\"button\">Process Order Fulfilment</a><br><br>\n</div>\n</div>\n</body>"
            },
            {
              "name": "send_mail",
              "value": "printcart"
            },
            {
              "name": "email_id",
              "value": "79"
            }
          ]
        },
        "options": {}
      },
      "id": "782d2894-8d81-442a-809e-5dd9deba417a",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1940,
        260
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Get Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get project information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workchat": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to google sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Workchat",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check exist": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get project information": {
      "main": [
        [
          {
            "node": "Get user workchat Id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user workchat Id": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get project today": {
      "main": [
        [
          {
            "node": "Check exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to google sheet": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project": {
      "main": [
        [
          {
            "node": "Get project today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b6791125-1665-4cec-95ee-6537350bbd6b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "hkgTzfzlHnXdxpzn",
  "tags": []
}