printcart/Cloodo_Google_Sheet_1.json
{
  "name": "Cloodo Google Sheet 1",
  "nodes": [
    {
      "parameters": {},
      "id": "27aa230e-fc25-41b0-b3f1-f64e085a798a",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1420,
        640
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "ca79c40a-810f-4642-ae20-6f1fcbfc3adc",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -160,
        660
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "055fb00c-bddb-4da5-93b6-28ab10222683",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -160,
        380
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1T8RGTkjl29cN9xA2MRScR_ZO6McSg_kkWMlMbtMssJk",
          "mode": "list",
          "cachedResultName": "Cloodo Company Report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T8RGTkjl29cN9xA2MRScR_ZO6McSg_kkWMlMbtMssJk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1438595162,
          "mode": "list",
          "cachedResultName": "Company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T8RGTkjl29cN9xA2MRScR_ZO6McSg_kkWMlMbtMssJk/edit#gid=1438595162"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $json.id }}",
            "Company Name": "={{ $json.name }}",
            "Last_login": "={{ $json.last_login }}",
            "URL": "={{ $json.website }}",
            "Email": "={{ $json.email }}",
            "Address": "={{ $json.address }}",
            "Phone": "={{ $json.phone }}",
            "Licence_expire_on": "={{ $json.licence_expire_on }}",
            "License_updated_at": "={{ $json.license_updated_at }}",
            "Created_at": "={{ $json.created_at }}",
            "Updateed_at": "={{ $json.updated_at }}",
            "subscription_updated_at": "={{ $json.subscription_updated_at }}",
            "Uuid": "={{ $json.uuid }}",
            "Lead": "={{ $json.total_leads }}",
            "Client": "={{ $json.total_clients }}"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee",
              "displayName": "Employee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": " Invoice",
              "displayName": " Invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lead",
              "displayName": "Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Project",
              "displayName": "Project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Task",
              "displayName": "Task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last_login",
              "displayName": "Last_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Licence_expire_on",
              "displayName": "Licence_expire_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "License_updated_at",
              "displayName": "License_updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created_at",
              "displayName": "Created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Updateed_at",
              "displayName": "Updateed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subscription_updated_at",
              "displayName": "subscription_updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uuid",
              "displayName": "Uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "aab3667e-600f-4758-8c6d-6486473728a8",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        80,
        520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhTdi4ifxZKO2CSF",
          "name": "Google Sheets printcart"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "38bc3ebf-58bf-4d02-8fbe-1e84dca9548a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1440,
        320
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "companies",
          "mode": "list",
          "cachedResultName": "companies"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "459c22e1-b232-4fb6-8afc-d450e55303a9",
      "name": "Take companies",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -1100,
        540
      ],
      "credentials": {
        "mySql": {
          "id": "Yas8kVkbrNEoFJep",
          "name": "Cloodo Worksuit Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT companies.id, COUNT(c.id) AS total_clients\nFROM companies \nLEFT JOIN clients c ON companies.id = c.company_id\nWHERE companies.id = {{ $json.id }}\nGROUP BY companies.id;",
        "options": {}
      },
      "id": "e85c28ce-8651-46ed-8287-9d8dfeaf8f14",
      "name": "Number of Client",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -560,
        680
      ],
      "credentials": {
        "mySql": {
          "id": "Yas8kVkbrNEoFJep",
          "name": "Cloodo Worksuit Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT companies.id, COUNT(l.id) AS total_leads\nFROM companies \nLEFT JOIN leads l ON companies.id = l.company_id\nWHERE companies.id = {{ $json.id }}\nGROUP BY companies.id;",
        "options": {}
      },
      "id": "628de14c-e16f-4111-a125-e39fa0ac05a0",
      "name": "Number of Lead",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -560,
        360
      ],
      "credentials": {
        "mySql": {
          "id": "Yas8kVkbrNEoFJep",
          "name": "Cloodo Worksuit Database"
        }
      }
    },
    {
      "parameters": {},
      "id": "e92a0658-5ac9-44af-97ad-81bc68c0f19f",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        300,
        520
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Take companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take companies": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Number of Client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Number of Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Take companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Number of Client": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Number of Lead": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ded5f053-3419-4606-8d8e-29d136581350",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "kKhykFxriTF0m96k",
  "tags": []
}