printcart/Cloodo_Google_Sheet_2.json
{
  "name": "Cloodo Google Sheet 2",
  "nodes": [
    {
      "parameters": {},
      "id": "48af3d03-b823-411e-941d-bf229e25542e",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1420,
        640
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1T8RGTkjl29cN9xA2MRScR_ZO6McSg_kkWMlMbtMssJk",
          "mode": "list",
          "cachedResultName": "Cloodo Company Report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T8RGTkjl29cN9xA2MRScR_ZO6McSg_kkWMlMbtMssJk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1438595162,
          "mode": "list",
          "cachedResultName": "Company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T8RGTkjl29cN9xA2MRScR_ZO6McSg_kkWMlMbtMssJk/edit#gid=1438595162"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $json.id }}",
            "URL": "={{ $json.website }}",
            "Email": "={{ $json.email }}",
            "Address": "={{ $json.address }}",
            "Phone": "={{ $json.phone }}",
            "Licence_expire_on": "={{ $json.licence_expire_on }}",
            "License_updated_at": "={{ $json.license_updated_at }}",
            "Created_at": "={{ $json.created_at }}",
            "Updateed_at": "={{ $json.updated_at }}",
            "subscription_updated_at": "={{ $json.subscription_updated_at }}",
            "Uuid": "={{ $json.uuid }}"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Employee",
              "displayName": "Employee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": " Invoice",
              "displayName": " Invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lead",
              "displayName": "Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Project",
              "displayName": "Project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Task",
              "displayName": "Task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last_login",
              "displayName": "Last_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Licence_expire_on",
              "displayName": "Licence_expire_on",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "License_updated_at",
              "displayName": "License_updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created_at",
              "displayName": "Created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Updateed_at",
              "displayName": "Updateed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subscription_updated_at",
              "displayName": "subscription_updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Uuid",
              "displayName": "Uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "bd05f9c0-2911-4f0c-8080-7423b0ecbf3f",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        300,
        440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhTdi4ifxZKO2CSF",
          "name": "Google Sheets printcart"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "62880cd1-cc10-4943-800f-27e327ee42e1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1440,
        320
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "companies",
          "mode": "list",
          "cachedResultName": "companies"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "d6c057e6-cb11-4ce4-b507-44e3a3bc97e6",
      "name": "Take companies",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -1100,
        540
      ],
      "credentials": {
        "mySql": {
          "id": "Yas8kVkbrNEoFJep",
          "name": "Cloodo Worksuit Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT companies.id, COUNT(e.id) AS total_employees\nFROM companies \nLEFT JOIN employees e ON companies.id = e.company_id\nWHERE companies.id = {{ $json.id }}\nGROUP BY companies.id;",
        "options": {}
      },
      "id": "914c23dc-dbf4-4e71-a1b2-3da0eb959055",
      "name": "Number of Employees",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -540,
        700
      ],
      "credentials": {
        "mySql": {
          "id": "Yas8kVkbrNEoFJep",
          "name": "Cloodo Worksuit Database"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "249e013d-0bbe-459c-b8c7-68d304fd067e",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -120,
        620
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT companies.id, COUNT(i.id) AS total_invoices\nFROM companies \nLEFT JOIN invoices i ON companies.id = i.company_id\nWHERE companies.id = {{ $json.id }}\nGROUP BY companies.id;",
        "options": {}
      },
      "id": "b6bf3e15-88ba-4128-a125-da085fc2248f",
      "name": "Number of Invoice2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -540,
        460
      ],
      "credentials": {
        "mySql": {
          "id": "Yas8kVkbrNEoFJep",
          "name": "Cloodo Worksuit Database"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "9e76139a-abdf-4cbf-858a-8a3777114a59",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -120,
        420
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT companies.id, COUNT(d.id) AS total_departments\nFROM companies \nLEFT JOIN departments d ON companies.id = d.company_id\nWHERE companies.id = {{ $json.id }}\nGROUP BY companies.id;",
        "options": {}
      },
      "id": "52855ef9-abe9-4794-9e98-bbba718a013f",
      "name": "Number of Department",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.2,
      "position": [
        -540,
        220
      ],
      "credentials": {
        "mySql": {
          "id": "Yas8kVkbrNEoFJep",
          "name": "Cloodo Worksuit Database"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "ae091c6e-d210-4ab1-99f8-4e8d842c382d",
      "name": "Merge4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -120,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Take companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take companies": {
      "main": [
        [
          {
            "node": "Number of Employees",
            "type": "main",
            "index": 0
          },
          {
            "node": "Number of Invoice2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Number of Department",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Take companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Number of Employees": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Number of Invoice2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Number of Department": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c21c2574-3eb1-487d-9b96-2d8c9e501d1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "WLtVJU9zwBEwkveo",
  "tags": []
}