printcart/Messager___Reply_Info_Project.json
{
  "name": "Messager - Reply Info Project",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f196b88-a38a-4657-a3c3-0bc7aa082a4a",
              "name": "response",
              "value": "=had done",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "28a5aa77-9cf8-4161-a47d-5051d9f027d1",
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1940,
        720
      ]
    },
    {
      "parameters": {},
      "id": "010a4d76-412a-4992-b2b1-3e7ef12b9863",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        720
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 778731400,
          "mode": "list",
          "cachedResultName": "Follow CLient",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=778731400"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Execute Workflow Trigger').item.json.id }} ",
            "level": "4",
            "status": "ask_info_project"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "admin",
              "displayName": "admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project",
              "displayName": "project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project_name",
              "displayName": "project_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "list_id_project",
              "displayName": "list_id_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name_project_create",
              "displayName": "name_project_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project_summary_create",
              "displayName": "project_summary_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "start_date_create",
              "displayName": "start_date_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deadline_create",
              "displayName": "deadline_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project_url_create",
              "displayName": "project_url_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "55ec88e1-1513-4420-ad48-0921ee132eeb",
      "name": "Update Info to Create",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1340,
        720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Vl0s1SHrC6Hdk8iv",
          "name": "Canh Google Sheets "
        }
      }
    },
    {
      "parameters": {
        "messageImport": "={{ $json.output }}",
        "userId": "={{ $('Execute Workflow Trigger').item.json.id }}"
      },
      "id": "e93ef9b3-4d4c-4480-a852-62c5f9a1f352",
      "name": "Require Confirm Project2",
      "type": "@cloodo/n8n-nodes-workchat.workchat",
      "typeVersion": 1,
      "position": [
        1060,
        500
      ],
      "credentials": {
        "workchatTokenApi": {
          "id": "vmWmvYNeiMEbsF91",
          "name": "Workchat Printcart Admin"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "getTaskByProject",
        "project_id": "={{ $json.project_id }}",
        "requestOptions": {}
      },
      "id": "5f51ed90-961a-461e-991a-f8a2d7ef4ba6",
      "name": "Cloodo CRM2",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        -520,
        920
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "get",
        "ID": "={{ $json.project_id }}",
        "requestOptions": {}
      },
      "id": "f495ab24-f60c-4316-b7c4-4b7237569780",
      "name": "Get Project",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        -520,
        540
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "getMilestones",
        "ID": "={{ $json.project_id }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "ad1a92c1-8c21-4260-be51-daa4a8f2e035",
      "name": "Get Milestone",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        -520,
        720
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "98ad2e48-47f9-42d9-a2d7-fe1b027d63e0",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -260,
        720
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "d5946fa5-1968-4bfd-a288-27edfd794ff1",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -40,
        720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cc045fe-9f4c-4b8c-8e38-594e9e73cb0b",
              "name": "project.name",
              "value": "={{ $json.data[0].data.name }}",
              "type": "string"
            },
            {
              "id": "3bde1784-723c-462e-82d9-fe908f30cf89",
              "name": "project.summary",
              "value": "={{ $json.data[0].data.summary }}",
              "type": "string"
            },
            {
              "id": "2d779eb2-089e-4589-b7e1-65b9271a4795",
              "name": "project.start_date",
              "value": "={{ $json.data[0].data.start_date }}",
              "type": "string"
            },
            {
              "id": "bb4c2efa-fb9f-4cd5-8c71-4ee2de2bd37c",
              "name": "project.deadline",
              "value": "={{ $json.data[0].data.deadline }}",
              "type": "string"
            },
            {
              "id": "ff854952-dc98-4d5a-ae21-383fa6ee894c",
              "name": "project.notes",
              "value": "={{ $json.data[0].data.notes }}",
              "type": "string"
            },
            {
              "id": "215605be-1525-4c06-81b6-e40595b838ef",
              "name": "project.project_admin",
              "value": "={{ $json.data[0].data.project_admin.name }}",
              "type": "string"
            },
            {
              "id": "1317454f-e263-43af-85b0-cb8b25aab849",
              "name": "project.members",
              "value": "={{ $json.data[0].data.members }}",
              "type": "array"
            },
            {
              "id": "0a180d7e-c661-4762-9a6d-80614275ffba",
              "name": "milestone",
              "value": "={{ $json.data[1].data }}",
              "type": "array"
            },
            {
              "id": "d29a0dce-3076-44d1-bbd9-be49e344d0ea",
              "name": "tasks",
              "value": "={{ $json.data[2].data }}",
              "type": "array"
            },
            {
              "id": "d69151c4-6abe-4434-a48a-82ac3153b69e",
              "name": "client.name",
              "value": "={{ $json.data[0].data.client.user.name }}",
              "type": "string"
            },
            {
              "id": "e48b5215-30b4-475c-9814-1b8031b29829",
              "name": "project.id",
              "value": "={{ $json.data[0].data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e6b01cee-63d1-4e6b-a6f3-515cbb636a8e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "let message =  $input.all()[0].json.output\nmessage = message.replace(/\\*/g, '')\nmessage = message.replace(/\\n\\n/g, '\\\\n\\\\n');\nmessage = message.replace(/\\n/g, '\\\\n');\nmessage = message.replace(/\"/g, '');\nmessage = message.replace(/###/g, '');\nreturn {\n  output: message\n};"
      },
      "id": "2627b4ed-d33b-43b3-9823-cc59ef37c9a6",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/112710510078308/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAQEYCcZCVQ0BOzY6wqcnJVxVynZBLbm5hhScnbluyUZAfGFji6VNyf3R8Jvy0zDoypmZBIsFhZCU1tBRPjlIwS1FWFDeDSqzSa2AGdyDqbTN7MP88cbSiP9CPXY1gmM4EJzHWsO64oZBZA8bimm01LQ3p0n5jCpZCzhjlESwV0JGm16ocyrZBLHu9FSh5wYe08wZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Execute Workflow Trigger').item.json.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{ $json.output }}\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "d6a760ac-54bb-481e-a597-e8851b0bd819",
      "name": "Require Confirm Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        720
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0",
          "mode": "list",
          "cachedResultName": "Check error account and auto answer ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 573714152,
          "mode": "list",
          "cachedResultName": "Follow Client",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0/edit#gid=573714152"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Execute Workflow Trigger').item.json.id }} ",
            "level": "4",
            "status": "ask_info_project"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "admin",
              "displayName": "admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project",
              "displayName": "project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project_name",
              "displayName": "project_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "list_id_project",
              "displayName": "list_id_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name_project_create",
              "displayName": "name_project_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project_summary_create",
              "displayName": "project_summary_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "start_date_create",
              "displayName": "start_date_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deadline_create",
              "displayName": "deadline_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project_url_create",
              "displayName": "project_url_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "5bcddafd-aa6b-4e7a-adea-c83230cac00d",
      "name": "Update Info to Create1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1340,
        960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhTdi4ifxZKO2CSF",
          "name": "Google Sheets printcart"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1466582400,
          "mode": "list",
          "cachedResultName": "Message Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=1466582400"
        },
        "numberToDelete": 1000
      },
      "id": "915fde2f-4d8b-4b7e-afcc-bdd110eb519a",
      "name": "Clear Row Message Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1620,
        720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Vl0s1SHrC6Hdk8iv",
          "name": "Canh Google Sheets "
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_hXKJctyZjDaAYbui721cTMvi",
          "mode": "list",
          "cachedResultName": "Printcart Admin - AI Assistant"
        },
        "prompt": "define",
        "text": "=You are an AI Assistant of Printcart\n\nGenerate a friendly and professional message to reply client message about the client’s project using the data provided below. Use only simple bullet points for clarity and include minimal icons (no use more than 5 icons in chat message) where necessary to enhance readability. Do not use text effects like bold, italics, or underlining. If any field is missing or empty, omit it from the response. Keep the tone helpful, professional, and engaging. Let embed link to project in chat message.\nRemember, Do not use brackets like ( ), [ ], \"\", '', {}.. to wrap content like links or text\n\nThese data to analysis:\nclient request: {{ $('Execute Workflow Trigger')?.item?.json?.query||'' }}\n \nclient name: {{ $json.client.name }}\n\nlink to project: https://worksuite.cloodo.com/apps/work/project/{{ $json.project.id }}/   \nremember add space when start and end link to project when you embed it into message\n  project name: {{ $json.project.name }}\nproject summary: {{ $json.project.summary }}\nstart date: {{ $json.project.start_date }}\ndeadline: {{ $json.project.deadline }}\nnotes: {{ $json.project.notes }}\nproject admin: {{ $json.project.project_admin }}\nproject members {{ ', '+$json.project.members.map(item=>item.name) }}\n\nList milestones:\n{{ $json.milestone.map((item, index) => `\nMilestone: ${index+1}\n  - Title: ${item.title}\n  - Status: ${item.status}\n  - Start Date: ${item.start_date}\n  - Due Date: ${item.due_date}\n  - Summary: ${item.summary}\n`).join('') }}\n\n\nList tasks:\n{{ $json.tasks.map((item, index) => `\nTask: ${index+1}\n  - Title: ${item.heading}\n  - Status: ${item.status}\n  - Start Date: ${item.start_date}\n  - Due Date: ${item.due_date}\n`).join('') }}\n\n",
        "options": {}
      },
      "id": "fef16f5c-2b8d-4d03-9cb5-bc4c6287a4ab",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        400,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "NFeGqVn7YLHPSlQH",
          "name": "AI_Agent_API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Project",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Milestone",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cloodo CRM2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Info to Create": {
      "main": [
        [
          {
            "node": "Clear Row Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Project": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Milestone": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Require Confirm Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Require Confirm Project": {
      "main": [
        [
          {
            "node": "Update Info to Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Row Message Data": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "434de7da-98a7-4a1f-a956-9abea8779ff5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "uwwKHWODM7aWEuym",
  "tags": []
}