printcart/Printcart_KPI_reports_1am5.json
{
  "name": "Printcart KPI reports 1am5",
  "nodes": [
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1yAWV-yLEs-uhVGM8g_dxQXXeGu7ZRIT1FKIWXUKDOeE",
          "mode": "list",
          "cachedResultName": "Printcart reports chuẩn",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yAWV-yLEs-uhVGM8g_dxQXXeGu7ZRIT1FKIWXUKDOeE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 571377416,
          "mode": "list",
          "cachedResultName": "KPI reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yAWV-yLEs-uhVGM8g_dxQXXeGu7ZRIT1FKIWXUKDOeE/edit#gid=571377416"
        },
        "keepFirstRow": true
      },
      "id": "0b57bf7b-fc75-4480-8b22-644f6c0cca5d",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        980,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhTdi4ifxZKO2CSF",
          "name": "Google Sheets printcart"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yAWV-yLEs-uhVGM8g_dxQXXeGu7ZRIT1FKIWXUKDOeE",
          "mode": "list",
          "cachedResultName": "Printcart reports chuẩn",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yAWV-yLEs-uhVGM8g_dxQXXeGu7ZRIT1FKIWXUKDOeE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 571377416,
          "mode": "list",
          "cachedResultName": "KPI reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yAWV-yLEs-uhVGM8g_dxQXXeGu7ZRIT1FKIWXUKDOeE/edit#gid=571377416"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No.": "={{ $json.data.id }}",
            "KPI Name": "={{ $json.data.link }}",
            "Task Category": "={{ $json.data.category.category_name }}",
            "Target": "={{ $json.targetValue }}",
            "Actual": "={{ $json.actualValue }}",
            "Weight": "={{ $json.weightValue }}",
            "Ranking": "={{ $json.data.rankText }}",
            "Status": "={{ $json.data.board_column.column_name }}",
            "Bonus/Fined": "={{ $json.bonusValue }}",
            "Assigned": "={{ $json.data.assigned_by.name }}",
            "Due Date": "={{ $json.data.datetime }}"
          },
          "matchingColumns": [
            "KPI Name"
          ],
          "schema": [
            {
              "id": "No.",
              "displayName": "No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "KPI Name",
              "displayName": "KPI Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Task Category",
              "displayName": "Task Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target",
              "displayName": "Target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Actual",
              "displayName": "Actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weight",
              "displayName": "Weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ranking",
              "displayName": "Ranking",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bonus/Fined",
              "displayName": "Bonus/Fined",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assigned",
              "displayName": "Assigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "5b945985-9e03-49e0-98f3-e865ea4bec47",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.1,
      "position": [
        2320,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhTdi4ifxZKO2CSF",
          "name": "Google Sheets printcart"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.meta.current_page }}",
              "value2": "={{ $json.meta.last_page }}"
            }
          ]
        }
      },
      "id": "3aaea4ba-1185-4e02-939f-454f700aec09",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        480
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=data",
        "include": "=",
        "options": {}
      },
      "id": "aa733fe8-ce51-4cfc-b30b-800e4f3db196",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1700,
        460
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "get",
        "ID": "={{ $json.data.id }}",
        "requestOptions": {}
      },
      "id": "044c459f-8be6-450f-a86d-276a2717a681",
      "name": "Cloodo Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1940,
        460
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "getTaskByProject",
        "page": "={{ $runIndex +1 }}",
        "project_id": "251dd504-afae-4d1a-97f0-b2c09a41300c",
        "requestOptions": {}
      },
      "id": "2097a584-49e5-4562-9631-746b4c8986a8",
      "name": "Cloodo Project1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1200,
        480
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "=// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  for (const item of $input.all()) {\n  for(let i=0;i<5;i++) {\n    if(item.json.data.custom_fields_data[i]?.label == 'KPI Target')\n    {   item.json.targetValue = item.json.data.custom_fields_data[i].value}\n  \n\n   if(item.json.data.custom_fields_data[i]?.label == 'KPI Weight')\n    {  \n     let weight= Number(item.json.data.custom_fields_data[i].value) + 1\n      item.json.weightValue = weight}\n    if(item.json.data.custom_fields_data[i]?.label == 'KPI Actual')\n    {   item.json.actualValue = item.json.data.custom_fields_data[i].value}\n    if(item.json.data.custom_fields_data[i]?.label == 'KPI Bonus-Fined')\n    {   item.json.bonusValue = item.json.data.custom_fields_data[i].value}\n  }\n}\n   if(item.json.data.custom_fields_data[5] !== undefined && item.json.data.custom_fields_data[5].value !== null)\n  {\n\n    console.log( item.json.data.custom_fields_data[5].value )\n     let rank = Number(item.json.data.custom_fields_data[5].value)\n    if(rank ==0) {\n         item.json.data.rankText = \"Không đạt(1.0)\"\n    }\n      if(rank ==1) {\n        item.json.data.rankText = \"Cần cố gắng(2.0)\"\n    }\n      if(rank ==2) {\n         item.json.data.rankText = \"Đạt yêu cầu(3.0)\"\n    }\n      if(rank ==3) {\n         item.json.data.rankText = \"Vượt yêu cầu(4.0)\"\n    }\n  }\n \n  let dateType = new Date(item.json.data.due_on)\n  var parts = item.json.data.due_on.split('-');\n  console.log(parts[0], parts[1] , parts[2]); \n   item.json.data.datetime = `${parts[1]}/${parts[0]}/${parts[2]}` \n   item.json.data.link = `=HYPERLINK(\"https://worksuite.cloodo.com/apps/work/tasks/${item.json.data.id}\", \"${item.json.data.heading}\")`;\n   console.log(\"due on:\" +  item.json.data.datetime, typeof( item.json.data.datetime))\n\n  if(item.json.data.completed_on ==null) {\n    item.json.data.completed = \"Incomplete\"\n  }\n  else {\n     item.json.data.completed = \"Completed\"\n  }\n \n}\n\nreturn $input.all(); "
      },
      "id": "b9f42010-ce9d-4897-b9a1-2ed73aef3cb0",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        460
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "id": "18a92b1b-3df0-42f2-ba57-d519aff602d2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        720,
        480
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Cloodo Project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cloodo Project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "839f1087-b28e-4116-b8a6-617c5a44dfc2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "8NacsTe4eNYgwKYH",
  "tags": []
}