printcart/Project_Deparments__1_point.json
{
  "name": "Project Deparments -1 point",
  "nodes": [
    {
      "parameters": {},
      "id": "a5abc672-b7eb-4a4d-8531-6e71f6a8fdd2",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        840,
        460
      ]
    },
    {
      "parameters": {
        "page": "={{ $runIndex + 1 }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "58a15c71-6a84-4b2e-a3e8-2348517c14b6",
      "name": "Cloodo Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1060,
        360
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "5c29924f-dd3f-4f6f-a2b9-d1b3e3615f43",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1560,
        340
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "e643ad15-0415-45d6-b917-c01dd0f67b83",
      "name": "Cloodo Project1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1820,
        340
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.department }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "38ee0ae3-0843-4f22-9b11-b6c36c4bfb2b",
      "name": "IF is empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2060,
        340
      ]
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $json.data.project_admin.id }}",
        "points": 1,
        "note": "={{ $json.data.project_admin.name }} are penalized -1 point when the Project is not assigned a department on {{ $today.format('dd-MM-yyyy') }}: https://worksuite.cloodo.com/apps/work/project/{{ $json.data.id }}"
      },
      "id": "3452f324-1eba-489a-883d-cf911831edf3",
      "name": "Cloodo Point",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        2540,
        300
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "ueep8CUM43I6JFUH",
          "name": "Point Printcart"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data.project_admin }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a3ed65c3-c115-47f9-957e-0908d4a32926",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2300,
        320
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C05FYKF1SJU",
          "mode": "id"
        },
        "text": "=Point: {{ $json.data.project_admin.name }} are penalized -1 point when the Project is not assigned a department: https://worksuite.cloodo.com/work/project/{{ $json.data.id }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "8f231af4-bda5-4a91-840d-318f276f322b",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        2740,
        300
      ],
      "credentials": {
        "slackApi": {
          "id": "13",
          "name": "worksuite cloodo"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "aa0cf531-56a1-42dc-b3f9-57284a13bac9",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        820,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex }}",
              "value2": 10
            }
          ]
        }
      },
      "id": "050acd60-5300-453f-8e34-a358b5187772",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1280,
        360
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Cloodo Project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project1": {
      "main": [
        [
          {
            "node": "IF is empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF is empty": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Cloodo Point",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Point": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "91c92b04-3a10-4708-bee1-bfd6d5b90b10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "KJxqka0mxAD13Jrt",
  "tags": []
}