printcart/QCM69_70.json
{
  "name": "QCM69+70",
  "nodes": [
    {
      "parameters": {},
      "id": "5c609e11-ee2e-40ff-80d6-287d288725a4",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        880,
        500
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "page": "={{ $runIndex }}",
        "additionalFields": {
          "fromDate": "= {{ $today.set({ day: 27 }).minus({month : 0}).format('yyyy-MM-dd') }} ",
          "toDate": "= {{ $today.set({ day: 1 }).plus({month :1}).minus({day : 1}).format('yyyy-MM-dd') }} "
        },
        "requestOptions": {}
      },
      "id": "ba8215df-d5a7-4c56-b8b8-29a7d278ac7f",
      "name": "Cloodo Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1220,
        440
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "d5a8e806-2911-4e93-b1ac-1fea69ed8d2d",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1640,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex }}",
              "value2": "={{ $json.meta.last_page }}"
            }
          ]
        }
      },
      "id": "c7594109-edfe-4b5a-bfdb-17f79b01b5ab",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1420,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ac39c482-21f9-4f4d-a789-4fd37935ff71",
              "leftValue": "={{ $json.data.category }}",
              "rightValue": "2c991f1a-6665-4533-bfca-ac969f431eb2",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "92363054-a760-4e1a-a6ca-6ceee6095822",
              "leftValue": "={{ $json.data.labels }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "70fb3a24-bbb5-4499-b7d6-46feb8621892",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2300,
        520
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "f44556c6-7bf2-4dc4-ab7f-6daf1506af23",
      "name": "Cloodo Project1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1860,
        420
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "additionalFields": {
          "search": "=Task does not have Task category or Task label or incorrectly entered Task category or Task label : <a href=\"https://worksuite.cloodo.com/apps/work/tasks/{{ $('Cloodo Project1').item.json.data.id }}\">Click here</a><br>   "
        },
        "requestOptions": {}
      },
      "id": "20f059fb-207b-4f59-a4b8-d7be452e61f8",
      "name": "Search task facebook",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        5440,
        1180
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.meta.total }}",
              "value2": 1
            }
          ]
        }
      },
      "id": "7e0b7a16-f63b-499f-af80-4009bfa628b1",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5880,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('Cloodo Project1').item.json.data.assigned_by.id }}",
        "points": 1,
        "note": "=QCM70:Estimate time exceeds the specified level : <a href=\"https://worksuite.cloodo.com/apps/work/tasks/{{ $('Cloodo Project1').item.json.data.id }}\">Click here</a><br>  \nTable Estimate time:<a href=\"https://docs.google.com/spreadsheets/d/1gDjf1jpT7T6nfLRSD6gf0w5jpOsWVpYCZ2ySsxmODLg/edit#gid=0\">Click here</a><br>\n\n"
      },
      "id": "c7fea25f-ccbb-4a70-a558-31f871b38d99",
      "name": "QCM45",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        6220,
        960
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "ueep8CUM43I6JFUH",
          "name": "Point Printcart"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2d67b367-c5ca-4463-b512-fe448149b416",
              "leftValue": "={{ $json.data.assigned_by.id }}",
              "rightValue": "2c991f1a-6665-4533-bfca-ac969f431eb2",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "174738a7-54b7-4088-bc44-54b07a2a1f5f",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2100,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "23990dff-64f4-42a1-a108-371fa9857a90",
              "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
              "rightValue": "5cd1ae7b-83b0-4fb9-95e3-7d8e925d0a33",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2220c6ca-ca00-4646-aee6-60818e15e057",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3100,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5fadbb30-fc93-404b-8450-08c1fc4759d6",
              "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
              "rightValue": "72d5dae7-b40a-451b-a7d4-2a8cb9b718f1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "03417f83-1850-4907-9068-2bc78aa21102",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3320,
        1180
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "additionalFields": {
          "search": "=QCM69{{ $('Cloodo Project1').item.json.data.assigned_by.name }}: -1 point for Task does not have Task category or Task label or incorrectly entered Task category or Task label : https://worksuite.cloodo.com/apps/work/tasks/{{ $('Cloodo Project1').item.json.data.id }} "
        },
        "requestOptions": {}
      },
      "id": "80916057-c928-4691-a91c-1abf7ed8c041",
      "name": "Search task facebook1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        4360,
        1260
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.meta.total }}",
              "value2": 1
            }
          ]
        }
      },
      "id": "af80f9e7-a307-4875-a06d-bac07802650c",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5180,
        1600
      ]
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('Cloodo Project1').item.json.data.assigned_by.id }}",
        "points": 1,
        "note": "=QCM69{{ $('Cloodo Project1').item.json.data.assigned_by.name }}: -1 point for Task does not have Task category or Task label or incorrectly entered Task category or Task label : https://worksuite.cloodo.com/apps/work/tasks/{{ $('Cloodo Project1').item.json.data.id }} "
      },
      "id": "2feb3828-49fc-4659-adbb-6803e03a59b5",
      "name": "QCM",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        5440,
        1480
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "ueep8CUM43I6JFUH",
          "name": "Point Printcart"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e782900d-0c87-4118-9a84-c3c5671dc957",
              "leftValue": "={{ $('If').item.json.data.estimate_minutes }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9a440c02-8ab4-4ea6-b444-be142b6d9e1b",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4260,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e782900d-0c87-4118-9a84-c3c5671dc957",
              "leftValue": "={{ $('If').item.json.data.estimate_hours }}",
              "rightValue": 24,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "93653865-0947-4636-8c2a-bdeb192d5f7f",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4220,
        2280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e782900d-0c87-4118-9a84-c3c5671dc957",
              "leftValue": "={{ $('If').item.json.data.estimate_hours }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8f25ae25-e447-4263-ab8f-4ac1f2a87a4d",
      "name": "If7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4140,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e782900d-0c87-4118-9a84-c3c5671dc957",
              "leftValue": "={{ $('If').item.json.data.estimate_hours }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e331eb7c-28f5-4359-9757-e29c1ac303e1",
      "name": "If8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4140,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e782900d-0c87-4118-9a84-c3c5671dc957",
              "leftValue": "={{ $('If').item.json.data.total_estimate }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5450d7f9-d47c-4a29-b35d-581902c3669e",
      "name": "If9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4140,
        840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e782900d-0c87-4118-9a84-c3c5671dc957",
              "leftValue": "={{ $('If').item.json.data.estimate_hours }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73dab9d9-5c58-497b-bee3-7c816619e4ca",
      "name": "If10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4080,
        1080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9de25975-9473-41d0-bebd-331997b0616e",
              "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
              "rightValue": "21e1670f-8a46-41bf-a840-c6557a500cb6",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aff0b556-ee80-4c3d-ba91-2752aeb84fd0",
      "name": "If11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3500,
        1860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "02a6bb37-454f-40e4-a401-184d2280961d",
              "leftValue": "={{ $('If').item.json.data.estimate_minutes }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5bfda4b8-4cd9-4b1e-bc37-a72e5c54f41d",
      "name": "If12",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4220,
        1420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "439febe6-b085-4207-b67d-24c63565f009",
              "leftValue": "={{ $('If').item.json.data.estimate_minutes }}",
              "rightValue": 15,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b867056d-6831-478f-a04c-c38d56f9e0db",
      "name": "If13",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4220,
        1560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "439febe6-b085-4207-b67d-24c63565f009",
              "leftValue": "={{ $('If').item.json.data.estimate_minutes }}",
              "rightValue": 15,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4c1e39a7-53d9-4d1e-b566-1a78247b9283",
      "name": "If14",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4220,
        1700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1b2e9f37-e741-4ce1-8c4c-ffbc28fdc978",
              "leftValue": "={{ $('If').item.json.data.estimate_hours }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "59d560ee-2ee9-41cc-b3d5-1000b8339fd0",
      "name": "If15",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4220,
        1840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1b2e9f37-e741-4ce1-8c4c-ffbc28fdc978",
              "leftValue": "={{ $('If').item.json.data.estimate_hours }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6781954b-a06f-46ce-8fba-d41cd3d7db4e",
      "name": "If16",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4220,
        1980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1b2e9f37-e741-4ce1-8c4c-ffbc28fdc978",
              "leftValue": "={{ $('If').item.json.data.estimate_hours }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6dc6aeab-f422-498b-8ad3-3f7c6275390a",
      "name": "If17",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4220,
        2120
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "id": "19dbcf77-62fe-4948-a461-2a886607ab14",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        880,
        240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "221d7c01-3e08-4dc6-8435-baee055c04bf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Writing Content"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4c2c3d47-f001-4e37-b923-d9f516e568c3",
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "0cc24516-7299-44b6-9ca1-cf2050c91af6",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Social Promoting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "af04823c-b8de-4919-a99a-57a8b310c4d9",
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "605f5817-7c14-4025-a224-d14cc174fe62",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Design"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "3e686f1e-33aa-4649-84cd-fbcd08a49c94",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3500,
        2000
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "5cd1ae7b-83b0-4fb9-95e3-7d8e925d0a33",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "197a7137-4eed-4f61-85cb-850d3d5efb0e",
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "72d5dae7-b40a-451b-a7d4-2a8cb9b718f1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "16333c6f-608c-47a7-96b1-968d7f414ce0",
      "name": "check label",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3280,
        1380
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('If').item.json.data.category.id }}",
                    "rightValue": "fc140da4-bb6a-44f8-aaac-7c7607447537",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Testing and Handover"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "69737fb6-50a0-43bf-b554-d7a3a7ed3b7d",
                    "leftValue": "={{ $('If').item.json.data.category.id }}",
                    "rightValue": "7608c26a-5c91-4446-8f56-ba958d139ab6",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Client Engagement"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "601c9c32-b409-48f0-b919-1f717f326261",
                    "leftValue": "={{ $('If').item.json.data.category.id }}",
                    "rightValue": "6dae623e-6b93-4e9b-a1f7-172c240b0abe",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Research and Development"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "1d4f989e-e2a9-40e0-9e4b-2fa2c6b5acdf",
                    "leftValue": "={{ $('If').item.json.data.category.id }}",
                    "rightValue": "457ab05c-7d1b-485f-bc3a-05d9fcf8a4bb",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Communication and PR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "18614abd-bdce-48a2-831b-59a5860e6b61",
                    "leftValue": "={{ $('If').item.json.data.category.id }}",
                    "rightValue": "7114374e-0342-414e-b4dc-f4ae2d99c757",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Client Projects"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "12e969ec-a97f-4340-ae5d-84250f5732e1",
                    "leftValue": "={{ $('If').item.json.data.category.id }}",
                    "rightValue": "0a2aae3b-2946-4ca5-8e1a-ce913b41ba8e",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "30c23966-b593-46f5-b1c4-00c6494397ae",
      "name": "check category1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2460,
        820
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "15af5dd9-e64b-452a-99ef-6a5bf5b3d2c0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Project Analysis"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "d66c5fef-70ce-4e2a-9f93-c9a0804373f3",
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "72d5dae7-b40a-451b-a7d4-2a8cb9b718f1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bug Fixing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "2f363b41-b1bc-445a-8834-8dad118638b7",
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "e947316f-0b9c-4c8d-85e7-756453484a9e",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Qualify Lead"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "6cfcf1e1-b12b-4ab2-ad04-91b86ca96fb4",
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "5cd1ae7b-83b0-4fb9-95e3-7d8e925d0a33",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "e2ae1bcf-620b-4428-b94b-c9f6bac50219",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3500,
        2140
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "72d5dae7-b40a-451b-a7d4-2a8cb9b718f1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "eb7c3b03-fc69-4455-80c8-354c1bfa2607",
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "21e1670f-8a46-41bf-a840-c6557a500cb6",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a632817c-c029-4c7c-a64e-9c54e36f7675",
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "6c8028d6-7612-4bfa-9e42-bb8e18fd2471",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "f916ebe0-aa85-49d4-96b0-43c320770776",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3060,
        620
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "afe2a56a-e333-4ab9-b731-22f16405cbbe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Preparing Proposal"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "30efd184-21fc-44a7-9793-a3aaccc2b342",
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "e947316f-0b9c-4c8d-85e7-756453484a9e",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Qualify Lead"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "1ca6ff8a-088c-4797-b43e-eeb0c6b3fa51",
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "6d088815-3ff9-49a7-ac31-fe11bc04f38b",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ticket Support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cdb7572b-df5b-46a3-8aca-6d24844b7e05",
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "8532e892-e355-46d4-891b-db3a445e4d12",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Client Meeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "2f438708-0212-4e7c-9d5c-2ffa64bf5b4a",
                    "leftValue": "={{ $('If').item.json.data.labels[0].id }}",
                    "rightValue": "15af5dd9-e64b-452a-99ef-6a5bf5b3d2c0",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Project Analysis"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "1ace759f-5f36-4946-b417-c55a2d93af77",
      "name": "check label1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3460,
        1620
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project": {
      "main": [
        [
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Cloodo Project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF6": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          },
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Search task facebook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "check category1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search task facebook": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "QCM45",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search task facebook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search task facebook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search task facebook1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "QCM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [],
        [
          {
            "node": "Search task facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [],
        [
          {
            "node": "Search task facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [],
        [
          {
            "node": "Search task facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [],
        [
          {
            "node": "Search task facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [],
        [
          {
            "node": "Search task facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [],
        [
          {
            "node": "Search task facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search task facebook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [],
        [
          {
            "node": "Search task facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If13": {
      "main": [
        [],
        [
          {
            "node": "Search task facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If14": {
      "main": [
        [],
        [
          {
            "node": "Search task facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If15": {
      "main": [
        [],
        [
          {
            "node": "Search task facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If16": {
      "main": [
        [],
        [
          {
            "node": "Search task facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If17": {
      "main": [
        [],
        [
          {
            "node": "Search task facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search task facebook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check label": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search task facebook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check category1": {
      "main": [
        [
          {
            "node": "check label",
            "type": "main",
            "index": 0
          },
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "check label1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search task facebook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "If17",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search task facebook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search task facebook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check label1": {
      "main": [
        [
          {
            "node": "If13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If15",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search task facebook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "583a4333-604a-4594-bbe5-01274260e6d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "PGUMCHzpu2P3Kdea",
  "tags": []
}