printcart/QCM_33__34__35.json
{
  "name": "QCM 33, 34, 35",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "8fb76442-9f80-424c-966e-407184611e2f",
      "name": "Split Out3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -640,
        800
      ]
    },
    {
      "parameters": {
        "resource": "milestones",
        "page": "=1",
        "additionalFields": {
          "search": "KPI thang",
          "fromDate": "={{ $today.minus({ months: 1 }).set({ day: 1 }).format('dd-MM-yyyy') }}\n",
          "toDate": "={{ $today.set({ day: 1 }).plus({ months: 1 }).minus({days: 1}).format('dd-MM-yyyy') }}"
        },
        "requestOptions": {}
      },
      "id": "19a4b3ba-23d1-40ba-ab2b-caee4a07796c",
      "name": "Cloodo Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -820,
        800
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "resource": "milestones",
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "f441f14e-2359-4619-923c-66c26f8deff7",
      "name": "Cloodo Project1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -180,
        780
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "14840ac4-3e5e-4dc3-aeaa-112447cb6b2e",
              "leftValue": "={{ $json.status }}",
              "rightValue": "complete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ae15206f-b6df-45b8-9d48-de41c1e34448",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -440,
        800
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.task",
        "options": {}
      },
      "id": "6bcf3552-b669-4a87-8538-cf68202fca12",
      "name": "Split Out4",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        40,
        780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f9382891-7384-435e-a8c1-afa52166c91c",
              "leftValue": "={{ $json.heading }}",
              "rightValue": "Request",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "175796f6-0171-4aa5-ab72-f4e23170339f",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        300,
        780
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "c15acab0-eea5-49de-99fe-53355a823a15",
      "name": "Cloodo Project2",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        520,
        760
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "=// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  for (const item of $input.all()) {\n  for(let i=0;i<5;i++) {\n    if(item.json.data.custom_fields_data[i]?.label == 'KPI Target')\n    {   item.json.targetValue = item.json.data.custom_fields_data[i].value}\n  \n\n   if(item.json.data.custom_fields_data[i]?.label == 'KPI Weight')\n    {  \n     let weight= Number(item.json.data.custom_fields_data[i].value) + 1\n      item.json.weightValue = weight}\n    if(item.json.data.custom_fields_data[i]?.label == 'KPI Actual')\n    {   item.json.actualValue = item.json.data.custom_fields_data[i].value}\n    if(item.json.data.custom_fields_data[i]?.label == 'KPI Bonus-Fined')\n    {   item.json.bonusValue = item.json.data.custom_fields_data[i].value}\n  }\n  }\n \n  \n}\n\nreturn $input.all(); "
      },
      "id": "5ddfe3cc-96fe-406b-9de2-8352d89b0b22",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        760
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "KPI Target",
              "value": "={{ $json.targetValue }}"
            },
            {
              "name": "KPI Bonus-Fined",
              "value": "={{ $json.bonusValue }} "
            },
            {
              "name": "KPI Actual",
              "value": "={{ $json.actualValue }}"
            }
          ],
          "string": [
            {
              "name": "=Name assigned_to",
              "value": "={{ $('Cloodo Project2').item.json.data.assigned_to[0].name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "efaa9680-b78d-4dd6-b86e-a26a1f7120d4",
      "name": "Input data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        920,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9374bbef-4679-49d2-8e3c-1fbd228994da",
              "leftValue": "={{ parseInt($json['KPI Target']) }}",
              "rightValue": "={{ parseInt($json['KPI Actual']) }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "92993e7a-0903-46e3-b076-219906aa4f42",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1140,
        840
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "Phat",
              "value": "={{ ($json['KPI Target'] - $json['KPI Actual'] )* 5 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7399589b-8445-4bf6-94f3-c33f30c30d79",
      "name": "Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1380,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9374bbef-4679-49d2-8e3c-1fbd228994da",
              "leftValue": "={{ parseInt($json['KPI Target']) }}",
              "rightValue": "={{ parseInt($json['KPI Actual']) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "13c2960c-5240-4d0f-aaed-0340a049abc8",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1140,
        660
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "Thuong",
              "value": "={{ ($json['KPI Actual']- ($json['KPI Target']   ))* 10 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "91e15998-1af9-49d8-a9e8-5e83b92ea537",
      "name": "Results1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1380,
        640
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                3,
                2,
                4,
                5
              ],
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "4db9a2d1-fda9-44ee-8a1f-a909d2d46eb0",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1060,
        540
      ]
    },
    {
      "parameters": {},
      "id": "5d64b7ba-84eb-481d-8eb4-2a777d058901",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1060,
        800
      ]
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('Code').item.json.data.assigned_to[0].id }}",
        "points": "={{ $json.Thuong }}",
        "note": "=QCM33: {{ $json['Name assigned_to'] }} +{{ $json.Thuong }} Failure to meet KPI Engagement targets has type Consountant closed during the month. check Task KPI: https://worksuite.cloodo.com/apps/work/tasks/{{ $('Code').item.json.data.id }}"
      },
      "id": "916b8739-4ff3-4469-9e94-3fb93aa157e6",
      "name": "QCM",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        1640,
        640
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "ueep8CUM43I6JFUH",
          "name": "Point Printcart"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "6b6e9d15-8156-4e07-8a80-5637c253313b",
      "name": "Cloodo Project3",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        560,
        340
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "=// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  for (const item of $input.all()) {\n  for(let i=0;i<5;i++) {\n    if(item.json.data.custom_fields_data[i]?.label == 'KPI Target')\n    {   item.json.targetValue = item.json.data.custom_fields_data[i].value}\n  \n\n   if(item.json.data.custom_fields_data[i]?.label == 'KPI Weight')\n    {  \n     let weight= Number(item.json.data.custom_fields_data[i].value) + 1\n      item.json.weightValue = weight}\n    if(item.json.data.custom_fields_data[i]?.label == 'KPI Actual')\n    {   item.json.actualValue = item.json.data.custom_fields_data[i].value}\n    if(item.json.data.custom_fields_data[i]?.label == 'KPI Bonus-Fined')\n    {   item.json.bonusValue = item.json.data.custom_fields_data[i].value}\n  }\n  }\n \n  \n}\n\nreturn $input.all(); "
      },
      "id": "67a81ed8-ec5c-42ad-a07b-4c0e29be8fa6",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        340
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "KPI Target",
              "value": "={{ $json.targetValue }}"
            },
            {
              "name": "KPI Bonus-Fined",
              "value": "={{ $json.bonusValue }} "
            },
            {
              "name": "KPI Actual",
              "value": "={{ $json.actualValue }}"
            }
          ],
          "string": [
            {
              "name": "=Name assigned_to",
              "value": "={{ $('Cloodo Project3').item.json.data.assigned_to[0].name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "574a0808-dfe7-4a52-8a9f-d8ba1e171707",
      "name": "Input data1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        960,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9374bbef-4679-49d2-8e3c-1fbd228994da",
              "leftValue": "={{ parseInt($json['KPI Target']) }}",
              "rightValue": "={{ parseInt($json['KPI Actual']) }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0398d63e-2703-405c-a4c4-26060d6366ca",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1180,
        420
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "Phat",
              "value": "={{ ($json['KPI Target'] - $json['KPI Actual'] )* 5 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d16693e0-7676-4566-ad42-952e32a872f8",
      "name": "Results2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1420,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9374bbef-4679-49d2-8e3c-1fbd228994da",
              "leftValue": "={{ parseInt($json['KPI Target']) }}",
              "rightValue": "={{ parseInt($json['KPI Actual']) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3a22998b-7508-464f-b954-53837063e12a",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1180,
        240
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "Thuong",
              "value": "={{ ($json['KPI Actual']- ($json['KPI Target']   ))* 10 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "85efcef3-2052-4c6b-9b4e-e5bda224de00",
      "name": "Results3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1420,
        220
      ]
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('Code1').item.json.data.assigned_to[0].id }}",
        "points": "={{ $json.Thuong }}",
        "note": "=QCM34: {{ $json['Name assigned_to'] }} +{{ $json.Thuong }} Failure to meet KPI Engagement targets has type Ticket support closed during the month. check Task KPI: https://worksuite.cloodo.com/apps/work/tasks/{{ $('Code1').item.json.data.id }}"
      },
      "id": "a3b9cde6-5bfd-420e-a1f6-3c7ef8913c52",
      "name": "QCM1",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        1680,
        220
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "ueep8CUM43I6JFUH",
          "name": "Point Printcart"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f9382891-7384-435e-a8c1-afa52166c91c",
              "leftValue": "={{ $json.heading }}",
              "rightValue": "Sale",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "84dc5409-0b1e-49b5-b317-a80af72db306",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        300,
        360
      ]
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('Code1').item.json.data.assigned_to[0].id }}",
        "points": "={{ $json.Phat }}",
        "note": "=QCM34: {{ $json['Name assigned_to'] }} -{{ $json.Phat }} Failure to meet KPI Engagement targets has type Sales closed during the month. check Task KPI: https://worksuite.cloodo.com/apps/work/tasks/{{ $('Code1').item.json.data.id }}"
      },
      "id": "abbc4b28-1365-4e22-ac9a-5680d8d6b280",
      "name": "QCM34",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        1680,
        400
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "ueep8CUM43I6JFUH",
          "name": "Point Printcart"
        }
      }
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('Code').item.json.data.assigned_to[0].id }}",
        "points": "={{ $json.Phat }}",
        "note": "=QCM33: {{ $json['Name assigned_to'] }} -{{ $json.Phat }} Failure to meet KPI Engagement targets has type Consountant request closed during the month. check Task KPI: https://worksuite.cloodo.com/apps/work/tasks/{{ $('Code').item.json.data.id }}"
      },
      "id": "0e6fe365-4f47-4967-8506-87c1757765bc",
      "name": "QCM33",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        1640,
        820
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "ueep8CUM43I6JFUH",
          "name": "Point Printcart"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "568cffc4-c9a3-466a-a836-b5e7dd1b9f67",
      "name": "Cloodo Project4",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        540,
        1160
      ],
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "=// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  for (const item of $input.all()) {\n  for(let i=0;i<5;i++) {\n    if(item.json.data.custom_fields_data[i]?.label == 'KPI Target')\n    {   item.json.targetValue = item.json.data.custom_fields_data[i].value}\n  \n\n   if(item.json.data.custom_fields_data[i]?.label == 'KPI Weight')\n    {  \n     let weight= Number(item.json.data.custom_fields_data[i].value) + 1\n      item.json.weightValue = weight}\n    if(item.json.data.custom_fields_data[i]?.label == 'KPI Actual')\n    {   item.json.actualValue = item.json.data.custom_fields_data[i].value}\n    if(item.json.data.custom_fields_data[i]?.label == 'KPI Bonus-Fined')\n    {   item.json.bonusValue = item.json.data.custom_fields_data[i].value}\n  }\n  }\n \n  \n}\n\nreturn $input.all(); "
      },
      "id": "e7d2893f-04c1-4dbb-976a-6b1b439279a7",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        1160
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "KPI Target",
              "value": "={{ $json.targetValue }}"
            },
            {
              "name": "KPI Bonus-Fined",
              "value": "={{ $json.bonusValue }} "
            },
            {
              "name": "KPI Actual",
              "value": "={{ $json.actualValue }}"
            }
          ],
          "string": [
            {
              "name": "=Name assigned_to",
              "value": "={{ $('Cloodo Project4').item.json.data.assigned_to[0].name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "879b0ea3-2fb2-4693-81ac-e07f99399eef",
      "name": "Input data2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        940,
        1160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9374bbef-4679-49d2-8e3c-1fbd228994da",
              "leftValue": "={{ parseInt($json['KPI Target']) }}",
              "rightValue": "={{ parseInt($json['KPI Actual']) }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f0a58c30-0f00-4f97-ad5e-df36bd013cbf",
      "name": "If7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        1240
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "Phat",
              "value": "={{ ($json['KPI Target'] - $json['KPI Actual'] )* 5 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0800c8a3-6932-4aad-bebb-9b3232925294",
      "name": "Results4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1400,
        1220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9374bbef-4679-49d2-8e3c-1fbd228994da",
              "leftValue": "={{ parseInt($json['KPI Target']) }}",
              "rightValue": "={{ parseInt($json['KPI Actual']) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8a72f2a8-695c-48cd-bbf1-2201abaf2795",
      "name": "If8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        1060
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "Thuong",
              "value": "={{ ($json['KPI Actual']- ($json['KPI Target']   ))* 10 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "41048b16-1e80-41d8-9443-33e81aa0ad98",
      "name": "Results5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1400,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('Code2').item.json.data.assigned_to[0].id }}",
        "points": "={{ $json.Thuong }}",
        "note": "=QCM35: {{ $json['Name assigned_to'] }} +{{ $json.Thuong }} Failure to meet KPI Engagement targets has type Supporter closed during the month. check Task KPI: https://worksuite.cloodo.com/apps/work/tasks/{{ $('Code2').item.json.data.id }}"
      },
      "id": "dc4147d7-8e23-484b-beea-26b051d65520",
      "name": "QCM2",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        1660,
        1040
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "ueep8CUM43I6JFUH",
          "name": "Point Printcart"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f9382891-7384-435e-a8c1-afa52166c91c",
              "leftValue": "={{ $json.heading }}",
              "rightValue": "Support",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ecc4ab55-3bb6-4cb6-85a1-a3f7bdd10665",
      "name": "If9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        280,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('Code2').item.json.data.assigned_to[0].id }}",
        "points": "={{ $json.Phat }}",
        "note": "=QCM35: {{ $json['Name assigned_to'] }} -{{ $json.Phat }} Failure to meet KPI Engagement targets has type Support closed during the month. check Task KPI: https://worksuite.cloodo.com/apps/work/tasks/{{ $('Code2').item.json.data.id }}"
      },
      "id": "f76be62d-c63e-4703-9fba-32dc28e17c1b",
      "name": "QCM35",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        1660,
        1220
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "ueep8CUM43I6JFUH",
          "name": "Point Printcart"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project1": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Cloodo Project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If4",
            "type": "main",
            "index": 0
          },
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Cloodo Project2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Input data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input data": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project3": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Input data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input data1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Results2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Results3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Cloodo Project3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project4": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Input data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input data2": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Results4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Results5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Cloodo Project4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9077e522-5ca6-4e6e-9272-387bab8d5f49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "hkYjV4YbINIcekPu",
  "tags": []
}