printcart/Send_email_limit.json
{
  "name": "Send email limit",
  "nodes": [
    {
      "parameters": {
        "event": [
          "projectAdded"
        ]
      },
      "id": "e957d94a-6f92-49fb-932f-d481fdae42d9",
      "name": "Cloodo Trigger",
      "type": "@cloodo/n8n-nodes-cloodo-trigger.cloodoTrigger",
      "typeVersion": 1,
      "position": [
        500,
        320
      ],
      "webhookId": "c3828c5b-5fa0-4c3b-bb7f-e73f3796fd27",
      "credentials": {
        "cloodoApi": {
          "id": "9ceDNPpBEBMqKFjc",
          "name": "Workflow Princart"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0",
          "mode": "list",
          "cachedResultName": "Check error account and auto answer ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 159269298,
          "mode": "list",
          "cachedResultName": "Limit Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0/edit#gid=159269298"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.limit.accountData.id }}",
            "Name": "={{ $json.limit.accountData.name }}",
            "Email": "={{ $json.limit.accountData.email }}",
            "Type": "={{ $json.title }}",
            "Numer": "={{ $json.accountData }}",
            "Limit": "={{ $json.count }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Numer",
              "displayName": "Numer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Limit",
              "displayName": "Limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "248da8f4-6adf-4d03-9688-be3a385b17a1",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        720,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhTdi4ifxZKO2CSF",
          "name": "Google Sheets printcart"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0",
          "mode": "list",
          "cachedResultName": "Check error account and auto answer ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 159269298,
          "mode": "list",
          "cachedResultName": "Limit Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0/edit#gid=159269298"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=ID",
              "lookupValue": "={{ $json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "905bb1df-496b-4d52-9b5a-506208226f17",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        920,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhTdi4ifxZKO2CSF",
          "name": "Google Sheets printcart"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "201cec92-4059-424b-97d7-1d9b6d88a8b5",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c6f7441f-5654-47a6-875e-cb9bbd9694f8",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloodo.com/mautic.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.Email }}"
            },
            {
              "name": "uname",
              "value": "={{ $json.Name }}"
            },
            {
              "name": "subject",
              "value": "=Hello {{ $json.Name }}"
            },
            {
              "name": "content",
              "value": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Notification for New Unsynchronized Product in Printcart</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            background-color: #f4f4f4;\n            margin: 30;\n            padding: 10;\n            margin-top: 50px;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 30px;\n            background-color: #fff;\n        }\n\n        .header {\n            color: #007bff;\n            font-size: 24px;\n            margin-bottom: 20px;\n        }\n        .content {\n            color: #333;\n            font-size: 16px;\n            margin-bottom: 20px;\n        }\n        .button {\n            display: inline-block;\n            padding: 10px 20px;\n            text-decoration: none;\n            border-radius: 5px;\n            border: 2px solid #007bff;\n            background-color: #2f79c9;\n            color: #fff;\n            font-size: 20px;\n            transition: background-color 0.3s, box-shadow 0.3s;\n        }\n        .button:hover {\n            background-color: #4ca1e6;\n            color: #fff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);\n        }\n        .center-container {\n            text-align: center;\n        }\n        img {\n            width: 80%;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"container\">\n        <div class=\"content\">\n            Dear {{ $json.Name }},<br><br></div>\n        <div class=\"content\">\n            We wanted to inform you that you have reached the limit of your {{ $json.Type }}. You will no longer be able to download {{ $json.Type }} files.<br>\n        <b>Your current {{ $json.Type }}: {{ $json.Numer }}<br>\n       Your limit : {{ $json.Limit }}<br></b>\n            To continue using our services without interruption, consider upgrading to a higher plan.<br></div>\n<div class=\"center-container\" >\n        <a href=\"https://dashboard.printcart.com/payment\" style=\"color: #fff\" class=\"button\">Go to Printcart Payment</a></div><br>\n        <div class=\"content\">\n            If you have any questions or need assistance with synchronizing the product, feel free to reach out to us at\n            <a href=\"mailto:support@printcart.com\">support@printcart.com</a>. We are here to help you with a smooth\n            synchronization process and ensure a seamless customer experience.<br><br>\n\n            Thank you for using Printcart.<br><br>\n            Best regards,<br><br>\n            Ryan D.G. (Mr.)<br>\n            Business & Project Consultant<br><br>\n            Website: <a href=\"https://www.printcart.com\" style=\"color: #007bff;\">www.printcart.com</a><br>\n            Skype: e5694f64b5c806f6<br>\n            WhatsApp: <a href=\"https://wa.me/84967319788\" style=\"color: #007bff;\">https://wa.me/84967319788</a><br>\n            Facebook: <a href=\"https://www.facebook.com/printcart.webtoprint\"\n                style=\"color: #007bff;\">https://www.facebook.com/printcart.webtoprint</a><br>\n\n        </div>\n<div class=\"center-container\">\n            <img src=\"https://www.printcart.com/_next/static/media/printcart-logo.8ca73bdc.png\" alt=\"logo\">\n        </div>\n        <footer style=\"background-color: #140c0c; padding: 20px; text-align: center; font-size: 14px; color: #eee7e7;\">\n            &copy; Printcart is Web2Print and POD Platform backed by Netbase JSC. We are trusted by thousands of\n            worldwide web-to-print partners since 2012\n        </footer>.\n</body>\n\n</html>"
            },
            {
              "name": "send_mail",
              "value": "printcart"
            },
            {
              "name": "email_id",
              "value": "92"
            }
          ]
        },
        "options": {}
      },
      "id": "9e1049b7-90ca-4040-be25-22cb14366854",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        100
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0",
          "mode": "list",
          "cachedResultName": "Check error account and auto answer ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 159269298,
          "mode": "list",
          "cachedResultName": "Limit Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0/edit#gid=159269298"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Status": "send"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Numer",
              "displayName": "Numer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Limit",
              "displayName": "Limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "15984052-7cdc-477c-9cfd-05d25ce51583",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1420,
        520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EhTdi4ifxZKO2CSF",
          "name": "Google Sheets printcart"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloodo.com/mautic.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "=support@printcart.com"
            },
            {
              "name": "uname",
              "value": "={{ $json.Name }}"
            },
            {
              "name": "subject",
              "value": "=Hello {{ $json.Name }}"
            },
            {
              "name": "content",
              "value": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Notification for New Unsynchronized Product in Printcart</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            background-color: #f4f4f4;\n            margin: 30;\n            padding: 10;\n            margin-top: 50px;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 30px;\n            background-color: #fff;\n        }\n\n        .header {\n            color: #007bff;\n            font-size: 24px;\n            margin-bottom: 20px;\n        }\n        .content {\n            color: #333;\n            font-size: 16px;\n            margin-bottom: 20px;\n        }\n        .button {\n            display: inline-block;\n            padding: 10px 20px;\n            text-decoration: none;\n            border-radius: 5px;\n            border: 2px solid #007bff;\n            background-color: #2f79c9;\n            color: #fff;\n            font-size: 20px;\n            transition: background-color 0.3s, box-shadow 0.3s;\n        }\n        .button:hover {\n            background-color: #4ca1e6;\n            color: #fff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);\n        }\n        .center-container {\n            text-align: center;\n        }\n        img {\n            width: 80%;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"container\">\n        <div class=\"content\">\n            Dear {{ $json.Name }},<br><br></div>\n        <div class=\"content\">\n            We wanted to inform you that you have reached the limit of your {{ $json.Type }}. You will no longer be able to download {{ $json.Type }} files.<br>\n        <b>Your current {{ $json.Type }}: {{ $json.Numer }}<br>\n       Your limit : {{ $json.Limit }}<br></b>\n            To continue using our services without interruption, consider upgrading to a higher plan.<br></div>\n<div class=\"center-container\" >\n        <a href=\"https://dashboard.printcart.com/payment\" style=\"color: #fff\" class=\"button\">Go to Printcart Payment</a></div><br>\n        <div class=\"content\">\n            If you have any questions or need assistance with synchronizing the product, feel free to reach out to us at\n            <a href=\"mailto:support@printcart.com\">support@printcart.com</a>. We are here to help you with a smooth\n            synchronization process and ensure a seamless customer experience.<br><br>\n\n            Thank you for using Printcart.<br><br>\n            Best regards,<br><br>\n            Ryan D.G. (Mr.)<br>\n            Business & Project Consultant<br><br>\n            Website: <a href=\"https://www.printcart.com\" style=\"color: #007bff;\">www.printcart.com</a><br>\n            Skype: e5694f64b5c806f6<br>\n            WhatsApp: <a href=\"https://wa.me/84967319788\" style=\"color: #007bff;\">https://wa.me/84967319788</a><br>\n            Facebook: <a href=\"https://www.facebook.com/printcart.webtoprint\"\n                style=\"color: #007bff;\">https://www.facebook.com/printcart.webtoprint</a><br>\n\n        </div>\n<div class=\"center-container\">\n            <img src=\"https://www.printcart.com/_next/static/media/printcart-logo.8ca73bdc.png\" alt=\"logo\">\n        </div>\n        <footer style=\"background-color: #140c0c; padding: 20px; text-align: center; font-size: 14px; color: #eee7e7;\">\n            &copy; Printcart is Web2Print and POD Platform backed by Netbase JSC. We are trusted by thousands of\n            worldwide web-to-print partners since 2012\n        </footer>.\n</body>\n\n</html>"
            },
            {
              "name": "send_mail",
              "value": "printcart"
            },
            {
              "name": "email_id",
              "value": "92"
            }
          ]
        },
        "options": {}
      },
      "id": "7276155a-a565-459f-b44f-8e628eb7d4f1",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1420,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cloodo Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d80d31ba-f259-4f2f-950d-1ff0fb0b1747",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "qQmpz7WMvSst8mnM",
  "tags": []
}