cmsmart/Messager___Reply_Info_Project.json
{
  "name": "Messager - Reply Info Project",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f196b88-a38a-4657-a3c3-0bc7aa082a4a",
              "name": "response",
              "value": "=had done",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c6795aeb-f527-4372-84c6-40d2d513c79e",
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2860,
        500
      ]
    },
    {
      "parameters": {},
      "id": "850e3890-94af-4c12-bc68-e20ebcb6ef6a",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        320,
        500
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 778731400,
          "mode": "list",
          "cachedResultName": "Follow CLient",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=778731400"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Execute Workflow Trigger').item.json.id }} ",
            "level": "4",
            "status": "ask_info_project"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "admin",
              "displayName": "admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project",
              "displayName": "project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project_name",
              "displayName": "project_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "list_id_project",
              "displayName": "list_id_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name_project_create",
              "displayName": "name_project_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project_summary_create",
              "displayName": "project_summary_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "start_date_create",
              "displayName": "start_date_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deadline_create",
              "displayName": "deadline_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project_url_create",
              "displayName": "project_url_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "1abee647-403b-41a7-a0a0-c68b10bc1623",
      "name": "Update Info to Create",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        2620,
        500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "messageImport": "={{ $json.output }}",
        "userId": "={{ $('Execute Workflow Trigger').item.json.id }}"
      },
      "id": "9b7caac3-ab06-4b7b-b58c-b675e09717b9",
      "name": "Require Confirm Project2",
      "type": "@cloodo/n8n-nodes-workchat.workchat",
      "typeVersion": 1,
      "position": [
        2340,
        280
      ],
      "credentials": {
        "workchatTokenApi": {
          "id": "zaUKCrkh6p3yOskM",
          "name": "Workchat Token account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n\"id\": \"49786\",\n\"query\": \"Auto reply from WF 50`\",\n\"project_id\": \"78bf51b4-69b2-4128-bcb2-e2752ae48881\"\n}"
      },
      "id": "97b69229-052a-4dff-ae49-cebde54bada6",
      "name": "Test received message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        280
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "getTaskByProject",
        "project_id": "={{ $json.project_id }}",
        "requestOptions": {}
      },
      "id": "379b2d5b-8a2e-47d3-b82c-cda2ca29b51a",
      "name": "Cloodo CRM2",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        760,
        700
      ],
      "credentials": {
        "cloodoApi": {
          "id": "2JLk7qrN3C3j9tZ9",
          "name": "PrintCart Cloodo account "
        }
      }
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "get",
        "ID": "={{ $json.project_id }}",
        "requestOptions": {}
      },
      "id": "d3796a00-5f15-41ad-87b3-5cd49b69f5a7",
      "name": "Get Project",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        760,
        320
      ],
      "credentials": {
        "cloodoApi": {
          "id": "2JLk7qrN3C3j9tZ9",
          "name": "PrintCart Cloodo account "
        }
      }
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "getMilestones",
        "ID": "={{ $json.project_id }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "d53e481b-a120-4179-a361-2302bbd4744f",
      "name": "Get Milestone",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        760,
        500
      ],
      "credentials": {
        "cloodoApi": {
          "id": "2JLk7qrN3C3j9tZ9",
          "name": "PrintCart Cloodo account "
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "8fb845b1-2914-47b7-9f05-cc213b01a291",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1020,
        500
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "124e759c-b5bd-41f3-b8fd-30b366ff8291",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1240,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cc045fe-9f4c-4b8c-8e38-594e9e73cb0b",
              "name": "project.name",
              "value": "={{ $json.data[0].data.name }}",
              "type": "string"
            },
            {
              "id": "3bde1784-723c-462e-82d9-fe908f30cf89",
              "name": "project.summary",
              "value": "={{ $json.data[0].data.summary }}",
              "type": "string"
            },
            {
              "id": "2d779eb2-089e-4589-b7e1-65b9271a4795",
              "name": "project.start_date",
              "value": "={{ $json.data[0].data.start_date }}",
              "type": "string"
            },
            {
              "id": "bb4c2efa-fb9f-4cd5-8c71-4ee2de2bd37c",
              "name": "project.deadline",
              "value": "={{ $json.data[0].data.deadline }}",
              "type": "string"
            },
            {
              "id": "ff854952-dc98-4d5a-ae21-383fa6ee894c",
              "name": "project.notes",
              "value": "={{ $json.data[0].data.notes }}",
              "type": "string"
            },
            {
              "id": "215605be-1525-4c06-81b6-e40595b838ef",
              "name": "project.project_admin",
              "value": "={{ $json.data[0].data.project_admin.name }}",
              "type": "string"
            },
            {
              "id": "1317454f-e263-43af-85b0-cb8b25aab849",
              "name": "project.members",
              "value": "={{ $json.data[0].data.members }}",
              "type": "array"
            },
            {
              "id": "0a180d7e-c661-4762-9a6d-80614275ffba",
              "name": "milestone",
              "value": "={{ $json.data[1].data }}",
              "type": "array"
            },
            {
              "id": "d29a0dce-3076-44d1-bbd9-be49e344d0ea",
              "name": "tasks",
              "value": "={{ $json.data[2].data }}",
              "type": "array"
            },
            {
              "id": "d69151c4-6abe-4434-a48a-82ac3153b69e",
              "name": "client.name",
              "value": "={{ $json.data[0].data.client.user.name }}",
              "type": "string"
            },
            {
              "id": "e48b5215-30b4-475c-9814-1b8031b29829",
              "name": "project.id",
              "value": "={{ $json.data[0].data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6bf22c5c-7b90-431f-9e03-bf78e9191bea",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        500
      ]
    },
    {
      "parameters": {},
      "id": "138f8fbb-ffc0-4f97-8d4b-71d487ba6533",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        280
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "let message =  $input.all()[0].json.output\nmessage = message.replace(/\\*/g, '')\nmessage = message.replace(/\\n\\n/g, '\\\\n\\\\n');\nmessage = message.replace(/\\n/g, '\\\\n');\nmessage = message.replace(/\"/g, '');\nreturn {\n  output: message\n};"
      },
      "id": "b8ab7371-15ae-4728-acc6-e2ca1f75962f",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        500
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_AVeiW0a2XaMvsu5SwqARpYN6",
          "mode": "list",
          "cachedResultName": "Cmsmart Admin - AI Assistant"
        },
        "prompt": "define",
        "text": "=You are an AI Assistant of Cmsmart\n\nGenerate a friendly and professional message to provide information about the client’s project using the data provided below. Use only simple bullet points for clarity and include minimal icons (no use more than 5 icons in chat message) where necessary to enhance readability. Do not use text effects like bold, italics, or underlining. If any field is missing or empty, omit it from the response. Keep the tone helpful, professional, and engaging. Let embed link to project in chat message.\n\nThese data to analysis:\nclient name: {{ $json.client.name }}\n\nlink to project: https://worksuite.cloodo.com/apps/work/project/{{ $json.project.id }}/   \n  project name: {{ $json.project.name }}\nproject summary: {{ $json.project.summary }}\nstart date: {{ $json.project.start_date }}\ndeadline: {{ $json.project.deadline }}\nnotes: {{ $json.project.notes }}\nproject admin: {{ $json.project.project_admin }}\nproject members {{ ', '+$json.project.members.map(item=>item.name) }}\n\nList milestones:\n{{ $json.milestone.map((item, index) => `\nMilestone: ${index+1}\n  - Title: ${item.title}\n  - Status: ${item.status}\n  - Start Date: ${item.start_date}\n  - Due Date: ${item.due_date}\n  - Summary: ${item.summary}\n`).join('') }}\n\n\nList tasks:\n{{ $json.tasks.map((item, index) => `\nTask: ${index+1}\n  - Title: ${item.heading}\n  - Status: ${item.status}\n  - Start Date: ${item.start_date}\n  - Due Date: ${item.due_date}\n`).join('') }}\n\n",
        "options": {}
      },
      "id": "bb8b566b-64db-4211-9890-69837b9883ce",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        1680,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "NuSZIBmfyaC1efAa",
          "name": "Cmsmart_API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/112710510078308/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAQEYCcZCVQ0BOzY6wqcnJVxVynZBLbm5hhScnbluyUZAfGFji6VNyf3R8Jvy0zDoypmZBIsFhZCU1tBRPjlIwS1FWFDeDSqzSa2AGdyDqbTN7MP88cbSiP9CPXY1gmM4EJzHWsO64oZBZA8bimm01LQ3p0n5jCpZCzhjlESwV0JGm16ocyrZBLHu9FSh5wYe08wZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Execute Workflow Trigger').item.json.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{ $json.output }}\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "455438d0-bc71-4585-accc-92df6159a173",
      "name": "Require Confirm Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        500
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0",
          "mode": "list",
          "cachedResultName": "Check error account and auto answer ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 573714152,
          "mode": "list",
          "cachedResultName": "Follow Client",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ISub6AhptvE9Ac-U2fQW_7Ya0EknULgME0O1i9mLtM0/edit#gid=573714152"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Execute Workflow Trigger').item.json.id }} ",
            "level": "4",
            "status": "ask_info_project"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "admin",
              "displayName": "admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project",
              "displayName": "project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project_name",
              "displayName": "project_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "list_id_project",
              "displayName": "list_id_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name_project_create",
              "displayName": "name_project_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project_summary_create",
              "displayName": "project_summary_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "start_date_create",
              "displayName": "start_date_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deadline_create",
              "displayName": "deadline_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "project_url_create",
              "displayName": "project_url_create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "fe0b9e9c-6a41-4e86-aec4-d3769cc68d8b",
      "name": "Update Info to Create1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        2620,
        740
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AqIgenjvZ5DQXBHg",
          "name": "Cmsmart Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Project",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Milestone",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cloodo CRM2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Info to Create": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test received message": {
      "main": [
        [
          {
            "node": "Get Project",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Milestone",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cloodo CRM2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Project": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Milestone": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Test received message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Require Confirm Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Require Confirm Project": {
      "main": [
        [
          {
            "node": "Update Info to Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a70949a7-5f67-40db-b608-2b798031f7a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "UO7emuUbJgzax4sw",
  "tags": []
}