cmsmart/QCM64___10pm35.json
{
  "name": "QCM64 - 10pm35",
  "nodes": [
    {
      "parameters": {},
      "id": "f1272ca6-e8f0-47ca-9941-4ed916d63af0",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2020,
        280
      ]
    },
    {
      "parameters": {
        "resource": "milestones",
        "page": "={{ $runIndex +1 }}",
        "additionalFields": {
          "taskStatus": "complete",
          "fromDate": "={{ $today.minus({day:10}).format('dd-MM-yyyy') }}",
          "toDate": "={{ $today.minus({day:0}).format('dd-MM-yyyy') }}"
        },
        "requestOptions": {}
      },
      "id": "d979fa03-024f-40ea-ba18-bd8dc570b751",
      "name": "Cloodo Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -1800,
        420
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data.cost }}",
              "operation": "larger",
              "value2": "=0"
            }
          ]
        }
      },
      "id": "77973bf1-20d9-48b6-96f2-69bb7e41b578",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -800,
        420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "  const textToCheck = $('IF1').item.json.data.title; \n\n  let obj = $input.item;\n\n  if (textToCheck.toLowerCase().includes('fixbug')) {\n   obj.json.fix = 1;\n    \n  }\n  else{\n    obj.json.fix = 0;\n  }\n\n\nreturn obj;"
      },
      "id": "36599c94-207d-40fa-a8ca-414b97ab150c",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.fix }}  ",
              "operation": "equal",
              "value2": "={{ $json.fix }}  "
            }
          ]
        }
      },
      "id": "3c0f96d8-398a-443b-a1be-8ea07ee333e7",
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -260,
        400
      ]
    },
    {
      "parameters": {
        "resource": "payments",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "eb75c954-55c9-417c-a1cb-92dc8ff814eb",
      "name": "Cloodo Finance",
      "type": "@cloodo/n8n-nodes-cloodo-finance.CloodoFinance",
      "typeVersion": 1,
      "position": [
        -20,
        380
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "bf767fd0-c4f2-4993-bf00-509bbd0ad839",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -1560,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "1799796a-32ca-4bdb-baff-5802b00b00c0",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        240,
        380
      ]
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('IF3').item.json.agent.id }}",
        "points": 3,
        "note": "=QCM64: {{ $('IF3').item.json.data.agent.name }} -3 due to Milestone related to Custom close project without payment Link: https://worksuite.cloodo.com/apps/work/milestones/detail/{{ $('IF3').item.json.data.id }}"
      },
      "id": "4953bdbd-c096-431b-8cc2-d95736e36466",
      "name": "Cloodo Point",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        900,
        340
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "82nsSr6jMyGAQbyu",
          "name": "Cmsmart Point API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.total_records }}",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "ad63d5ee-5c7f-428c-bbac-415378abdd06",
      "name": "IF not found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.meta.current_page }}",
              "value2": "={{ $json.meta.last_page }}"
            }
          ]
        }
      },
      "id": "fdf3edd7-55e8-4c46-97f5-9be9ba8e65af",
      "name": "Loop page2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1560,
        660
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "keyword": "=QCM64: {{ $('IF3').item.json.agent.name }} -3 due to Milestone related to Custom close project without payment Link: https://worksuite.cloodo.com/work/milestones/detail/{{ $('IF3').item.json.id }}p{{ $('IF3').item.json.project_id }}",
        "max_limit_record": 300
      },
      "id": "7fa1f5dd-9aa3-4101-aaff-b3e8ad361a20",
      "name": "Cloodo Point1",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        460,
        360
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "82nsSr6jMyGAQbyu",
          "name": "Cmsmart Point API Key"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 22,
              "triggerAtMinute": 35
            }
          ]
        }
      },
      "id": "fdb9486c-59f8-43ab-9fed-6b1e2a2c9daa",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2100,
        480
      ]
    },
    {
      "parameters": {
        "resource": "milestones",
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "838b1e16-903c-4de3-a94f-25267c039d37",
      "name": "Cloodo Project1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -1140,
        420
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C05FYKF1SJU",
          "mode": "id"
        },
        "text": "=QCM64: {{ $('IF3').item.json.data.agent.name }} -3 due to Milestone related to Custom close project without payment Link: https://worksuite.cloodo.com/work/milestones/detail/{{ $('IF3').item.json.data.id }}/{{ $('IF3').item.json.data.project.id }}",
        "otherOptions": {}
      },
      "id": "4d99ab25-af0f-48c0-aee4-0eca94fef220",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1120,
        460
      ],
      "credentials": {
        "slackApi": {
          "id": "9edT91TZDnZRRppY",
          "name": "DEV"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop page2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "Cloodo Finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Finance": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Cloodo Project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Cloodo Point1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF not found": {
      "main": [
        [
          {
            "node": "Cloodo Point",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop page2": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Point1": {
      "main": [
        [
          {
            "node": "IF not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project1": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Point": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c85797d9-93cf-418e-a44a-1c45d6969996",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "C25dLouAzkO4jk0M",
  "tags": []
}