cmsmart/QCM72_73_74_75_71___MINUS___check_tasks_incomplete.json
{
  "name": "QCM72 73 74 75 71 - MINUS - check tasks incomplete",
  "nodes": [
    {
      "parameters": {},
      "id": "a0bc91cb-7bd9-426f-af93-765105bcb6a4",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        80,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex+1 }}",
              "value2": "={{ $json.meta.last_page }}"
            }
          ]
        }
      },
      "id": "240fbbd2-e572-49f7-a492-3ece63cd4700",
      "name": "IF11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1020,
        380
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "page": "={{ $runIndex+1 }}",
        "additionalFields": {
          "search": "Please check  milestones and tasks belong",
          "fromDate": "={{ $today.set({ day: 1 }).minus({month :0}).format('yyyy-MM-dd') }} ",
          "toDate": "={{ $today.set({ day: 1 }).minus({month :-1}).format('yyyy-MM-dd') }} "
        },
        "requestOptions": {}
      },
      "id": "495b1c29-3bde-456d-abc3-dde286d1dfdb",
      "name": "Cloodo Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        740,
        180
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "f177a588-c409-48aa-89f3-e79f1daf6186",
      "name": "Item Lists6",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1120,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e98783f9-ece9-4591-918d-43c8b0e8b043",
              "leftValue": "={{ $json.board_column.id }}",
              "rightValue": "94ff7869-3667-44eb-83c8-39367740d3ba",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "21e1d201-65ce-41dd-b78f-306dd4673957",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6c8dc9a2-604c-4b66-aaec-cb57067919b2",
              "leftValue": "={{ $json.due_date.toDateTime() }}",
              "rightValue": "={{$today}}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b7f8fe5e-fd86-4128-a09b-88cc000a9840",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        60
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "ee79bb65-c957-4789-9e5c-4ab5042600c3",
      "name": "Cloodo Project1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1820,
        20
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Cloodo Project1').item.json.data.description;\nconst uuidPattern = /\\b[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\\b/i;\nconst uuidMatch = uuidPattern.exec(data);\n\n$input.item.json.myNewField = uuidMatch ? uuidMatch[0] : null;\n\nreturn $input.item;\n"
      },
      "id": "a3efe4fb-6909-487d-8151-9dce78c390ef",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "b54b2641-e128-4c19-8818-4a6811726ef6",
              "leftValue": "={{ $json.data.assigned_to }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1785dda0-c525-4a33-9fc8-66045308a5ca",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2280,
        60
      ]
    },
    {
      "parameters": {
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $json.myNewField }}/milestones",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "cloodoApi",
        "options": {}
      },
      "id": "f4339811-b23d-41f5-ac8e-3920a795bdc7",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2540,
        40
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "49d05cac-3af3-4811-a544-862e47280477",
              "leftValue": "={{ $json.meta.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11f679a5-daa0-42e5-b4b8-236da263a4d5",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2860,
        200
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "keyword": "=QCM 73:{{ $('If3').item.json.data.assigned_to[0].name }} -3 point for the task check milestones and tasks that was assigned to you does not have milestonet and task in project's client: https://worksuite.cloodo.com/apps/work/tasks/{{ $('If3').item.json.data.id }}",
        "max_limit_record": 50
      },
      "id": "b8542411-ada5-40cd-9680-49c7dd96c68c",
      "name": "Cloodo Point1",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        3180,
        240
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "82nsSr6jMyGAQbyu",
          "name": "Cmsmart Point API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d6f7b7b4-5419-4bc4-b062-8fc20ca4ff6e",
              "leftValue": "={{ $json.total_records }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2a62fc12-4cbe-47e8-ba91-0ad41dbfbc65",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3460,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex+1 }}",
              "value2": "={{ $json.meta.last_page }}"
            }
          ]
        }
      },
      "id": "51b3b4fb-00bf-4f8d-aa19-49f3b4a67eb8",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        900
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "page": "={{ $runIndex+1 }}",
        "additionalFields": {
          "search": "doesn't have a contract file in the project",
          "fromDate": "={{ $today.set({ day: 1 }).minus({month :0}).format('yyyy-MM-dd') }} ",
          "toDate": "={{ $today.set({ day: 1 }).minus({month :-1}).format('yyyy-MM-dd') }} "
        },
        "requestOptions": {}
      },
      "id": "91e0fe52-8dd1-4086-bc38-f0f0945f4f9e",
      "name": "Cloodo Project2",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        760,
        740
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "466acd6a-58cb-4b24-9be7-2efe7a988a18",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1140,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e98783f9-ece9-4591-918d-43c8b0e8b043",
              "leftValue": "={{ $json.board_column.id }}",
              "rightValue": "94ff7869-3667-44eb-83c8-39367740d3ba",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc1fa965-7f52-4091-93c2-f02f3b9cfca6",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1360,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6c8dc9a2-604c-4b66-aaec-cb57067919b2",
              "leftValue": "={{ $json.due_date.toDateTime() }}",
              "rightValue": "={{$today}}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "14526611-e9e2-494b-922b-176cb8ef0d6b",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1620,
        620
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "5203df1e-54d6-4caf-8ad9-7b7be5ee0052",
      "name": "Cloodo Project3",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1840,
        580
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Cloodo Project3').item.json.data.description;\nconst uuidPattern = /[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}/g;\nconst uuidMatch = data.match(uuidPattern);\n\n$input.item.json.myNewField = uuidMatch ||[]\n\nreturn $input.item;\n"
      },
      "id": "41c98922-d2cd-4229-a9b3-ef8b6fc6d0f0",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b54b2641-e128-4c19-8818-4a6811726ef6",
              "leftValue": "={{ $json.data.assigned_to }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9130e0af-5ad1-45ef-af74-4b92a22ca527",
      "name": "If7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2300,
        620
      ]
    },
    {
      "parameters": {
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $json.myNewField[1] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "cloodoApi",
        "options": {}
      },
      "id": "35c55344-fc5e-4933-b601-60825367e2b1",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2560,
        600
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "49d05cac-3af3-4811-a544-862e47280477",
              "leftValue": "={{ $json.data.files }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a17c7aed-3b3a-4e5d-8035-a8d854ce1b5e",
      "name": "If8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2880,
        760
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "keyword": "=QCM74+75:{{ $('If7').item.json.data.assigned_to[0].name }} -6 point for the task check contract file that was assigned to you does not have contract file in project's client: https://worksuite.cloodo.com/apps/work/tasks/{{ $('If7').item.json.data.id }}",
        "max_limit_record": 50
      },
      "id": "99bc4528-3fb4-4941-a399-0aed4175b171",
      "name": "Cloodo Point2",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        3200,
        800
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "82nsSr6jMyGAQbyu",
          "name": "Cmsmart Point API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d6f7b7b4-5419-4bc4-b062-8fc20ca4ff6e",
              "leftValue": "={{ $json.total_records }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7195d8b9-0480-4dac-9a80-8bb0af13af29",
      "name": "If9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3480,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex+1 }}",
              "value2": "={{ $json.meta.last_page }}"
            }
          ]
        }
      },
      "id": "6ace251d-0d36-4b22-b259-9a2dc896369d",
      "name": "IF12",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1140,
        1760
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "page": "={{ $runIndex+1 }}",
        "additionalFields": {
          "search": "add payment/invoice to customer's project",
          "fromDate": "={{ $today.set({ day: 1 }).minus({month :0}).format('yyyy-MM-dd') }} ",
          "toDate": "={{ $today.set({ day: 1 }).minus({month :-1}).format('yyyy-MM-dd') }} "
        },
        "requestOptions": {}
      },
      "id": "cc91abd5-7325-4ef5-ae72-b795ec76feba",
      "name": "Cloodo Project4",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        860,
        1560
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "4032ce5c-a3ed-4adf-a9fa-c455547e74cf",
      "name": "Item Lists7",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1240,
        1480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e98783f9-ece9-4591-918d-43c8b0e8b043",
              "leftValue": "={{ $json.board_column.id }}",
              "rightValue": "94ff7869-3667-44eb-83c8-39367740d3ba",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e4e4ca87-a965-48c0-a5c0-649f86168f35",
      "name": "If10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1460,
        1480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6c8dc9a2-604c-4b66-aaec-cb57067919b2",
              "leftValue": "={{ $json.due_date.toDateTime() }}",
              "rightValue": "={{$today}}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "547f64b5-5a42-4982-bd53-07d72a1d6408",
      "name": "If11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1720,
        1440
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "3534c1b7-d1e9-4d42-81c2-43c879a4fe36",
      "name": "Cloodo Project5",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1940,
        1400
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Cloodo Project5').item.json.data.description;\nconst uuidPattern = /\\b[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\\b/i;\nconst uuidMatch = uuidPattern.exec(data);\n\n$input.item.json.myNewField = uuidMatch ? uuidMatch[0] : null;\n\nreturn $input.item;\n"
      },
      "id": "a5220088-758c-4ed1-90e5-e4dec3490756",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        1440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b54b2641-e128-4c19-8818-4a6811726ef6",
              "leftValue": "={{ $json.data.assigned_to }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "868c40a7-bed1-4182-bb02-aaaeb600b772",
      "name": "If12",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2400,
        1440
      ]
    },
    {
      "parameters": {
        "url": "=https://erp-amz.cloodo.com/v4/payments/{{ $json.myNewField }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "cloodoApi",
        "options": {}
      },
      "id": "16424636-ccfb-4c96-8dbc-1f6c11b22b34",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2660,
        1420
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "49d05cac-3af3-4811-a544-862e47280477",
              "leftValue": "={{ $json.data.project }}",
              "rightValue": 0,
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "23c7e8cd-d487-41be-9467-71ea6eb41357",
      "name": "If13",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2980,
        1580
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "keyword": "=QCM 73:{{ $('If12').item.json.data.assigned_to[0].name }} -3 point for the task add payment/invoice to customer's project that was assigned to you does not add to project's client: https://worksuite.cloodo.com/apps/work/tasks/{{ $('If12').item.json.data.id }}",
        "max_limit_record": 50
      },
      "id": "2d9c1f7a-9758-4434-a384-2751c6731a5f",
      "name": "Cloodo Point4",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        3300,
        1620
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "82nsSr6jMyGAQbyu",
          "name": "Cmsmart Point API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d6f7b7b4-5419-4bc4-b062-8fc20ca4ff6e",
              "leftValue": "={{ $json.total_records }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e4767358-1482-46e6-b564-de1097f3021f",
      "name": "If14",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3580,
        1620
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2,
              "triggerAtHour": 8,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "id": "b219b3bc-00cb-4547-a8b6-1146115bcc8c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -660,
        200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "30ffc36d-b93e-468b-8e1a-e2327146574d",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -420,
        780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex+1 }}",
              "value2": "={{ $json.meta.last_page }}"
            }
          ]
        }
      },
      "id": "5933ae20-acd8-497b-a96b-fb421d692315",
      "name": "IF13",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        2300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "223ed6a4-749c-43ff-ac3f-c4d8fed0b814",
      "name": "Item Lists8",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1300,
        2020
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "page": "={{ $runIndex+1 }}",
        "additionalFields": {
          "search": "please take care client",
          "fromDate": "={{ $today.set({ day: 1 }).minus({month :0}).format('yyyy-MM-dd') }} ",
          "toDate": "={{ $today.set({ day: 1 }).minus({month :-1}).format('yyyy-MM-dd') }} "
        },
        "requestOptions": {}
      },
      "id": "0e4bd3ae-5b92-4198-a54d-85b693e5fc34",
      "name": "Cloodo Project6",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        920,
        2100
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e98783f9-ece9-4591-918d-43c8b0e8b043",
              "leftValue": "={{ $json.board_column.id }}",
              "rightValue": "94ff7869-3667-44eb-83c8-39367740d3ba",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "168e1c7d-8424-4d21-a3f2-aeec3af55a8b",
      "name": "If15",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1520,
        2020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6c8dc9a2-604c-4b66-aaec-cb57067919b2",
              "leftValue": "={{ $json.due_date.toDateTime() }}",
              "rightValue": "={{$today}}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "95c6eef8-eece-44cc-8d12-63601cb29f6a",
      "name": "If16",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        1980
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Cloodo Project7').item.json.data.description;\nconst uuidPattern = /\\b[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\\b/i;\nconst uuidMatch = uuidPattern.exec(data);\n\n$input.item.json.myNewField = uuidMatch ? uuidMatch[0] : null;\n\nreturn $input.item;\n"
      },
      "id": "5fe58eef-7c8a-44a7-90ad-ba36b3776bf2",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        1920
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "2a7f5824-a770-4112-bd44-b6b4b51d6caa",
      "name": "Cloodo Project7",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1980,
        1880
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://erp-amz.cloodo.com/v4/clients/{{ $json.myNewField }}/contacts ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "cloodoApi",
        "options": {}
      },
      "id": "dc2391ce-cebb-4b4e-bc40-6ae1c2f9da7a",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2700,
        1840
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "49d05cac-3af3-4811-a544-862e47280477",
              "leftValue": "={{ $json.meta.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9718f05e-36b1-41a8-8804-6b15e1ca633e",
      "name": "If17",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2880,
        1920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b54b2641-e128-4c19-8818-4a6811726ef6",
              "leftValue": "={{ $json.data.assigned_to }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "30ccaa0b-016b-4e65-9fa9-460d939670ed",
      "name": "If18",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2440,
        1920
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 5,
              "triggerAtHour": 22,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "id": "921b2747-6e63-4817-be2d-e4f7c310ebca",
      "name": "Schedule Trigger3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        2100
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "keyword": "=QCM71:-3 point for the client's {{ $('If18').item.json.data.assigned_to[0].name }} that was assigned to you does not have a contact in the client's profile: https://worksuite.cloodo.com/apps/work/tasks/{{ $('If18').item.json.data.id }}",
        "max_limit_record": 50
      },
      "id": "cd11ddd2-2e96-4399-b825-6246dd3cd605",
      "name": "Cloodo Point7",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        3080,
        2040
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "82nsSr6jMyGAQbyu",
          "name": "Cmsmart Point API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d6f7b7b4-5419-4bc4-b062-8fc20ca4ff6e",
              "leftValue": "={{ $json.total_records }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ac830732-548c-43a9-badb-5644d3daccb5",
      "name": "If19",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3380,
        2200
      ]
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('If3').item.json.data.assigned_to[0].id }}",
        "points": 3,
        "note": "=QCM 73:{{ $('If3').item.json.data.assigned_to[0].name }} -3 point for the task check milestones and tasks that was assigned to you does not have milestonet and task in project's client: https://worksuite.cloodo.com/apps/work/tasks/{{ $('If3').item.json.data.id }}"
      },
      "id": "dfa3812a-51ae-4786-ae6b-79aed2bc385d",
      "name": "trừ điểm task liên quan project",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        3780,
        200
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "82nsSr6jMyGAQbyu",
          "name": "Cmsmart Point API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('If7').item.json.data.assigned_to[0].id }}",
        "points": 6,
        "note": "=QCM74+75:{{ $('If7').item.json.data.assigned_to[0].name }} -6 point for the task check contract file that was assigned to you does not have contract file in project's client: https://worksuite.cloodo.com/apps/work/tasks/{{ $('If7').item.json.data.id }}"
      },
      "id": "7497634d-223e-4a9e-9c10-fa946dd7b8ac",
      "name": "task check contract cho payment",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        3800,
        760
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "82nsSr6jMyGAQbyu",
          "name": "Cmsmart Point API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('If12').item.json.data.assigned_to[0].id }}",
        "points": 3,
        "note": "=QCM 73:{{ $('If12').item.json.data.assigned_to[0].name }} -3 point for the task add payment/invoice to customer's project that was assigned to you does not add to project's client: https://worksuite.cloodo.com/apps/work/tasks/{{ $('If12').item.json.data.id }}"
      },
      "id": "199501e3-5f83-4ff3-a4ab-e6a96baeb896",
      "name": "task thêm payment vào project",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        3900,
        1580
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "82nsSr6jMyGAQbyu",
          "name": "Cmsmart Point API Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('If18').item.json.data.assigned_to[0].id }}",
        "points": 3,
        "note": "=QCM71:-3 point for the client's {{ $('If18').item.json.data.assigned_to[0].name }} that was assigned to you does not have a contact in the client's profile: https://worksuite.cloodo.com/apps/work/tasks/{{ $('If18').item.json.data.id }}"
      },
      "id": "c55da65a-42ce-4a8c-bd87-40ec68268095",
      "name": "task qualifi client(phạt nếu chưa có contact)",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        3700,
        2160
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "82nsSr6jMyGAQbyu",
          "name": "Cmsmart Point API Key"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "IF11": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project": {
      "main": [
        [
          {
            "node": "Item Lists6",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists6": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Cloodo Project4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Cloodo Project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [],
        [
          {
            "node": "Cloodo Point1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "trừ điểm task liên quan project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Point1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Cloodo Project2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project2": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Cloodo Project3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project3": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [],
        [
          {
            "node": "Cloodo Point2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Point2": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "task check contract cho payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF12": {
      "main": [
        [
          {
            "node": "Cloodo Project4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project4": {
      "main": [
        [
          {
            "node": "Item Lists7",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists7": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "Cloodo Project5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project5": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If13": {
      "main": [
        [],
        [
          {
            "node": "Cloodo Point4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Point4": {
      "main": [
        [
          {
            "node": "If14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If14": {
      "main": [
        [
          {
            "node": "task thêm payment vào project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cloodo Project4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF13": {
      "main": [
        [
          {
            "node": "Cloodo Project6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists8": {
      "main": [
        [
          {
            "node": "If15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project6": {
      "main": [
        [
          {
            "node": "Item Lists8",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If15": {
      "main": [
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If16": {
      "main": [
        [
          {
            "node": "Cloodo Project7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "If18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project7": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "If17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If17": {
      "main": [
        [],
        [
          {
            "node": "Cloodo Point7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If18": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Cloodo Project6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Point7": {
      "main": [
        [
          {
            "node": "If19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If19": {
      "main": [
        [
          {
            "node": "task qualifi client(phạt nếu chưa có contact)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Cloodo Project2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "497678a7-17d7-4c35-9678-0c93a13ae988",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "xIauOdOzGmqReThH",
  "tags": []
}