cmsmart/WF_36_Workflow_WorkSuite_Project_Status.json
{
  "name": "WF 36 Workflow_WorkSuite_Project_Status",
  "nodes": [
    {
      "parameters": {},
      "id": "f0d86318-140a-4bb3-ac46-5fb9cc26057c",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1160,
        -2400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "page": "={{ $runIndex + 436 }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "7f409e00-0c79-4b1f-87a5-9381efb6cc13",
      "name": "Cloodo Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -360,
        2620
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "c4abdb31-929c-4c2d-a68a-e157196f77bd",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -40,
        2620
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "fdfbe016-82df-4dc3-8068-b8cf840ee562",
      "name": "Cloodo Project1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        300,
        2620
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "clientDetails",
        "operation": "getRecurringInvoice",
        "ID": "={{ $json.data.client.user.id }}",
        "requestOptions": {}
      },
      "id": "c97400bd-be52-4cff-baa3-2f07be787848",
      "name": "Cloodo CRM",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        1580,
        5040
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b92fe2c-d8e3-4751-8d51-aa73f3c94843",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9ab2d12f-aaf5-4da3-8270-ab7f98673f34",
      "name": "If15",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1860,
        5040
      ]
    },
    {
      "parameters": {
        "content": "## Check recurring invoices active\n",
        "height": 236.7564085495404,
        "width": 531.5429103306379
      },
      "id": "13772f79-1ed6-46d1-97e7-fc39cbeb4bea",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1500,
        4960
      ]
    },
    {
      "parameters": {
        "resource": "engagement",
        "operation": "getmany",
        "additionalFields": {
          "project": "={{ $json.data.id }}"
        },
        "requestOptions": {}
      },
      "id": "7a052afd-afcd-4df8-9b8a-7b2df470242f",
      "name": "Cloodo CRM1",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        1400,
        2580
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f971104-299e-4cbe-a82d-7f51cd5d0f5c",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5b0d434d-dce5-43bc-8a80-8c49dbdd2ad2",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1700,
        2580
      ]
    },
    {
      "parameters": {
        "content": "## Check ticket",
        "height": 247.38313842311277,
        "width": 576.3724399059921,
        "color": 3
      },
      "id": "75f963cc-80c0-4172-928b-9939a7a5bd4d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        2500
      ]
    },
    {
      "parameters": {
        "content": "## 1. Open 2. Close, Resolve",
        "height": 300.2496243388901
      },
      "id": "c69672c3-0f3e-4d0b-91f4-a84f74e1f840",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        2420
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "getTaskByProject",
        "project_id": "={{ $json.data[0].projects.id }}",
        "requestOptions": {}
      },
      "id": "76429138-9035-44af-b0a0-c3d34fc45e35",
      "name": "Cloodo Project2",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        2760,
        2600
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Check task project",
        "height": 236.1481634829983,
        "width": 418.48256160347825
      },
      "id": "4d01896c-c9f4-4c62-9e94-850587f07b54",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2740,
        2524
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34c64566-f4c1-40d5-b1dd-3d5e718eab86",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9995fe0e-0077-4124-86d8-475a90e8d358",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2980,
        2600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ce3b22f-cd1b-406c-b957-08c65e6098f4",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d877a9cb-d548-487e-890e-1dc232ab772a",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3800,
        2740
      ]
    },
    {
      "parameters": {
        "content": "## Check payment complete",
        "height": 273.5980799500466,
        "width": 852.9302995106914,
        "color": 5
      },
      "id": "0168cb7b-ccb9-4bc9-b93a-6c48c56a64c1",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3500,
        2660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ae941048-2225-4cca-b220-3debf0a523c3",
              "leftValue": "={{ $json.data[0].status }}",
              "rightValue": "complete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3237acd9-cf9e-4b57-a7ec-56a824c2c575",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4180,
        2660
      ]
    },
    {
      "parameters": {
        "resource": "clientDetails",
        "operation": "getInvoices",
        "ID": "={{ $('Switch').item.json.data[0].requester.id }}",
        "requestOptions": {}
      },
      "id": "cda741c3-ff00-44be-8bb7-14af747ca111",
      "name": "Cloodo CRM2",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        4620,
        2400
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b92fe2c-d8e3-4751-8d51-aa73f3c94843",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "803326b6-8446-4897-a5b4-76a7a60b1733",
      "name": "If13",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4820,
        2400
      ]
    },
    {
      "parameters": {
        "content": "## Check invoices ",
        "height": 327,
        "width": 719.6060095407802,
        "color": 6
      },
      "id": "4ff732e5-4a6d-4c99-82b5-b70f4ca6eb40",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4580,
        2260
      ]
    },
    {
      "parameters": {
        "resource": "clientDetails",
        "operation": "getPayment",
        "ID": "={{ $('Switch').item.json.data[0].requester.id }}",
        "requestOptions": {}
      },
      "id": "eb2564eb-3b27-4868-a106-5fadad1ca2b9",
      "name": "Cloodo CRM5",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        3540,
        2740
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "clientDetails",
        "operation": "getInvoices",
        "ID": "={{ $('Switch').item.json.data[0].requester.id }}",
        "requestOptions": {}
      },
      "id": "eada1531-4df8-4245-bfaa-915b906f7fe9",
      "name": "Cloodo CRM4",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        4440,
        3240
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b92fe2c-d8e3-4751-8d51-aa73f3c94843",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0444f369-bf2f-41c0-8c8a-19fdf779a253",
      "name": "If14",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4660,
        3240
      ]
    },
    {
      "parameters": {
        "content": "## Check invoices ",
        "height": 327,
        "width": 425,
        "color": 6
      },
      "id": "626de1ba-185b-4a86-8095-1d83f733e32d",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4380,
        3100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ce3b22f-cd1b-406c-b957-08c65e6098f4",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3f304d43-9578-46dc-8dc5-381f5da2f654",
      "name": "If4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2820,
        3960
      ]
    },
    {
      "parameters": {
        "content": "## Check payment complete",
        "height": 273.5980799500466,
        "width": 852.9302995106914,
        "color": 5
      },
      "id": "e6c2e837-d644-4559-84cc-c58fc9af2a4c",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2500,
        3860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ae941048-2225-4cca-b220-3debf0a523c3",
              "leftValue": "={{ $json.data[0].status }}",
              "rightValue": "complete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a20d8270-3711-4789-b48b-d1119ac4a863",
      "name": "If5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3060,
        3960
      ]
    },
    {
      "parameters": {
        "resource": "clientDetails",
        "operation": "getPayment",
        "ID": "={{ $('Cloodo Project1').item.json.data.client.user.id }}",
        "requestOptions": {}
      },
      "id": "c0c12e24-1740-47b6-bc4e-39d8f250e610",
      "name": "Cloodo CRM6",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        2580,
        3940
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "clientDetails",
        "operation": "getInvoices",
        "ID": "={{ $('Cloodo Project1').item.json.data.client.user.id }}",
        "requestOptions": {}
      },
      "id": "3f6d762a-cad4-4230-bab4-681caeac80b0",
      "name": "Cloodo CRM7",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        3860,
        4240
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b92fe2c-d8e3-4751-8d51-aa73f3c94843",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9930e056-bbc5-4375-b83b-764bb4c7ca1c",
      "name": "If16",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4060,
        4260
      ]
    },
    {
      "parameters": {
        "content": "## Check invoices ",
        "height": 327,
        "width": 677.1627708781259,
        "color": 6
      },
      "id": "c39877ad-c1b8-4fc6-9dd9-81ae3c323c9d",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3800,
        4100
      ]
    },
    {
      "parameters": {
        "resource": "Proposal",
        "operation": "getmany",
        "page": {},
        "additionalFields": {
          "projectID": "={{ $('Switch').item.json.data[0].projects.id }}"
        },
        "requestOptions": {}
      },
      "id": "0537e723-b6d2-4115-89af-19c7c7553478",
      "name": "Cloodo CRM8",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        5240,
        3420
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Check proposal",
        "height": 218.67153579837571,
        "width": 383.55801312368527
      },
      "id": "226f7d0c-26f1-43b7-a9da-ed393583ce79",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5220,
        3360
      ]
    },
    {
      "parameters": {
        "errorMessage": "có invoices"
      },
      "id": "100ab9b6-e2d6-4af8-ac94-aebbce841e8e",
      "name": "Stop and Error3",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        5200,
        2820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b92fe2c-d8e3-4751-8d51-aa73f3c94843",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ed09da90-5bb5-4f60-a45d-77ade5501837",
      "name": "If17",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5440,
        3440
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $('Switch').item.json.data[0].projects.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3NpZ24taW4iLCJpYXQiOjE3Mjk4NDYyNTAsImV4cCI6MTczMDcxMDI1MCwibmJmIjoxNzI5ODQ2MjUwLCJqdGkiOiJOT2EyQUhRdkpCNlNaVXlMIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.I3WyiIoewKECW87NRFNl6l3oPwTcvEGEn0tR14M0y-A"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Switch').item.json.data[0].projects.id }}"
            },
            {
              "name": "status",
              "value": "canceled"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "3089257a-2254-4714-a139-20eacb87c6e5",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7120,
        3420
      ]
    },
    {
      "parameters": {
        "content": "## Status: Hủy",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "7f075ddb-f86a-4255-a39e-bb041ad05589",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7060,
        3280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73d03ed1-f328-4855-9bcf-977ef5d5f30a",
              "leftValue": "={{ $json.data[0].status }}",
              "rightValue": "paid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "18194f3f-7baa-4bb7-8577-6cd22750847a",
              "leftValue": "={{ $json.data[0].status }}",
              "rightValue": "partial",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a518a147-dbd6-4a1f-af7f-04bcdd303f36",
      "name": "If6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4280,
        4220
      ]
    },
    {
      "parameters": {
        "resource": "Proposal",
        "operation": "getmany",
        "page": {},
        "additionalFields": {
          "projectID": "={{ $json.data[0].project.id }}"
        },
        "requestOptions": {}
      },
      "id": "3837705d-3819-497a-8618-8579288968a7",
      "name": "Cloodo CRM9",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        5000,
        4520
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Check proposal",
        "height": 218.67153579837571,
        "width": 383.55801312368527
      },
      "id": "8abfe0dd-794e-47c1-92e7-8eccb9e3de55",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4940,
        4460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b92fe2c-d8e3-4751-8d51-aa73f3c94843",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0e37dd10-e7eb-4641-891a-52af011763d4",
      "name": "If18",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5160,
        4540
      ]
    },
    {
      "parameters": {
        "errorMessage": "validate proposal cách đây dưới trên 7 tháng"
      },
      "id": "bbdb5900-a474-4f79-a8f4-477b6fb9a0f2",
      "name": "Stop and Error4",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        6160,
        3120
      ]
    },
    {
      "parameters": {
        "errorMessage": "có proposal"
      },
      "id": "a51afd05-dcce-42f5-869f-2f457aaade18",
      "name": "Stop and Error5",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        6560,
        3980
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $('If6').item.json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3NpZ24taW4iLCJpYXQiOjE3Mjk4NDYyNTAsImV4cCI6MTczMDcxMDI1MCwibmJmIjoxNzI5ODQ2MjUwLCJqdGkiOiJOT2EyQUhRdkpCNlNaVXlMIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.I3WyiIoewKECW87NRFNl6l3oPwTcvEGEn0tR14M0y-A"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('If6').item.json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "finished"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "4d7e67f8-1453-4e48-b9be-f58b58282eb5",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5780,
        4700
      ]
    },
    {
      "parameters": {
        "content": "## Status: Hoàn thành",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "7619b5f0-99ca-404a-8d74-755ecbd1ff82",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5700,
        4520
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data[0].status }}",
                    "rightValue": "open",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f2dd47a7-23a2-4d8f-a025-4813fd6ed84c",
                    "leftValue": "={{ $json.data[0].status }}",
                    "rightValue": "closed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d79942f6-7d3a-4c0e-97d7-b482e8321f99",
                    "leftValue": "={{ $json.data[0].status }}",
                    "rightValue": "resolved",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {}
      },
      "id": "ae56c8ab-ecc3-42a3-8f58-89bdd707195e",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2220,
        2540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73d03ed1-f328-4855-9bcf-977ef5d5f30a",
              "leftValue": "={{ $json.data[0].status }}",
              "rightValue": "paid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "18194f3f-7baa-4bb7-8577-6cd22750847a",
              "leftValue": "={{ $json.data[0].status }}",
              "rightValue": "partial",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "980a8ca2-7ad6-42d1-b2fb-e27786feb857",
      "name": "If7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5080,
        2360
      ]
    },
    {
      "parameters": {
        "resource": "Proposal",
        "operation": "getmany",
        "page": {},
        "additionalFields": {
          "projectID": "={{ $('Switch').item.json.data[0].projects.id }}"
        },
        "requestOptions": {}
      },
      "id": "f643cde6-9279-48cd-ac18-d3119befc88a",
      "name": "Cloodo CRM10",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        5460,
        2420
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Check proposal",
        "height": 218.67153579837571,
        "width": 383.55801312368527
      },
      "id": "72bb46fc-6ab5-448b-9745-8960357ec3d1",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5420,
        2360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b92fe2c-d8e3-4751-8d51-aa73f3c94843",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b4b74689-dc77-4045-99db-61d944856feb",
      "name": "If19",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5660,
        2440
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $('If7').item.json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3NpZ24taW4iLCJpYXQiOjE3Mjk4NDYyNTAsImV4cCI6MTczMDcxMDI1MCwibmJmIjoxNzI5ODQ2MjUwLCJqdGkiOiJOT2EyQUhRdkpCNlNaVXlMIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.I3WyiIoewKECW87NRFNl6l3oPwTcvEGEn0tR14M0y-A"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('If7').item.json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "on hold"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "58a5c05e-cc96-463d-9f85-ac7f202e69b2",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6940,
        2760
      ]
    },
    {
      "parameters": {
        "content": "## Status: Tạm ngưng",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "ece337c1-a272-4a15-9c22-10e9571c8573",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6880,
        2600
      ]
    },
    {
      "parameters": {
        "resource": "engagement",
        "operation": "getmany",
        "additionalFields": {
          "project": "={{ $('Switch').item.json.data[0].projects.id }}"
        },
        "requestOptions": {}
      },
      "id": "81e24863-2af5-4553-bb3a-d1e86a430e5a",
      "name": "Cloodo CRM3",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        5840,
        3500
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79d8f32f-1e0c-44a2-b4b1-4e12772f72c9",
              "leftValue": "={{ new Date(new Date($json.data[0].channel.updated_at).setMonth(new Date($json.data[0].channel.updated_at).getMonth() + 2)).toISOString()\n }}\n",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0b8d1bca-ec7c-417b-9c8c-e8165c96bd3d",
      "name": "If8",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6040,
        3500
      ]
    },
    {
      "parameters": {
        "content": "## Check ticket trả về true nếu ticket update gần đây false là từ quá 2 tháng trvv ",
        "height": 290.80598251947083,
        "width": 410.44415904052255,
        "color": 3
      },
      "id": "d4599986-17dd-43b9-b38f-a2020c3d8188",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5800,
        3380
      ]
    },
    {
      "parameters": {
        "errorMessage": "ko có payment và ticket"
      },
      "id": "1a4cbb41-920a-40e2-b2c5-23fd553fe5f0",
      "name": "Stop and Error1",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3080,
        4360
      ]
    },
    {
      "parameters": {
        "errorMessage": "ko có invoices"
      },
      "id": "2bf0264f-8e68-4450-b841-f24e3db4785d",
      "name": "Stop and Error2",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        4360,
        4560
      ]
    },
    {
      "parameters": {
        "errorMessage": "có recurring"
      },
      "id": "0788fd8f-8ee7-451b-a1da-5b77d3eb3d28",
      "name": "Stop and Error7",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2900,
        5200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex+1 }}",
              "operation": "smallerEqual",
              "value2": 435
            }
          ]
        }
      },
      "id": "6191a4f9-5f04-49c0-a6f5-7b6935dc31e8",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -180,
        2860
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $('Cloodo CRM').item.json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3NpZ24taW4iLCJpYXQiOjE3Mjk4NDYyNTAsImV4cCI6MTczMDcxMDI1MCwibmJmIjoxNzI5ODQ2MjUwLCJqdGkiOiJOT2EyQUhRdkpCNlNaVXlMIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.I3WyiIoewKECW87NRFNl6l3oPwTcvEGEn0tR14M0y-A"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Cloodo CRM').item.json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "in progress"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "f1accf6b-7cd1-4b24-bcdf-2609578a583b",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2540,
        5260
      ]
    },
    {
      "parameters": {
        "content": "## Status: In Progress",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "88585d27-909c-4ec8-b4ee-67e1dd33a959",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2440,
        5080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0888a509-e429-4027-b1bf-df5f63e28403",
              "leftValue": "={{ new Date(new Date($json.data[0].valid_till).setMonth(new Date($json.data[0].valid_till).getMonth() + 7)).toISOString()\n }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a813dfe1-8153-4d94-8c63-679f6e93859b",
      "name": "If9",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5880,
        3040
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3NpZ24taW4iLCJpYXQiOjE3Mjk4NDYyNTAsImV4cCI6MTczMDcxMDI1MCwibmJmIjoxNzI5ODQ2MjUwLCJqdGkiOiJOT2EyQUhRdkpCNlNaVXlMIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.I3WyiIoewKECW87NRFNl6l3oPwTcvEGEn0tR14M0y-A"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "in progress"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "00d9e5b6-5be7-42b8-bf50-77ea3378f559",
      "name": "HTTP Request4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6200,
        2900
      ]
    },
    {
      "parameters": {
        "content": "## Status: In Progress",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "4f61658e-7e63-4113-9d4c-536fc67d3f99",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6140,
        2720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ca065a0-b836-46fd-8872-1cd25a732498",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0465b4e0-9330-4dcc-8e1a-bf9f4afbc420",
      "name": "If10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2660,
        3040
      ]
    },
    {
      "parameters": {
        "errorMessage": "validate proposal cách đây dưới trên 7 tháng"
      },
      "id": "c3d37eb0-197e-493c-92b7-ecb2dbb30b6f",
      "name": "Stop and Error8",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        6560,
        4200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0888a509-e429-4027-b1bf-df5f63e28403",
              "leftValue": "={{ new Date(new Date($json.data[0].valid_till).setMonth(new Date($json.data[0].valid_till).getMonth() + 7)).toISOString()\n }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "346c7c2a-e529-4f08-93ae-1bb362332a8b",
      "name": "If11",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5440,
        4200
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3NpZ24taW4iLCJpYXQiOjE3Mjk4NDYyNTAsImV4cCI6MTczMDcxMDI1MCwibmJmIjoxNzI5ODQ2MjUwLCJqdGkiOiJOT2EyQUhRdkpCNlNaVXlMIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.I3WyiIoewKECW87NRFNl6l3oPwTcvEGEn0tR14M0y-A"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "in progress"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "2f8d8744-d19c-4d3e-9335-6c35abaa23fa",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5800,
        3920
      ]
    },
    {
      "parameters": {
        "content": "## Status: In Progress",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "d44ac203-06c4-487d-8d17-a0a85fad2c49",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5740,
        3760
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $('If6').item.json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3NpZ24taW4iLCJpYXQiOjE3Mjk4NDYyNTAsImV4cCI6MTczMDcxMDI1MCwibmJmIjoxNzI5ODQ2MjUwLCJqdGkiOiJOT2EyQUhRdkpCNlNaVXlMIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.I3WyiIoewKECW87NRFNl6l3oPwTcvEGEn0tR14M0y-A"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('If6').item.json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "finished"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "f98cb4b8-6709-4816-8615-1f00d57c58e1",
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5940,
        4300
      ]
    },
    {
      "parameters": {
        "content": "## Status: Hoàn thành",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "d3deab30-4447-40ab-b15b-1c0d791ca4db",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5880,
        4140
      ]
    },
    {
      "parameters": {
        "errorMessage": "validate proposal cách đây dưới trên 7 tháng"
      },
      "id": "1809c293-f835-464b-bdbf-4f85b17012f9",
      "name": "Stop and Error9",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        7060,
        2180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0888a509-e429-4027-b1bf-df5f63e28403",
              "leftValue": "={{ new Date(new Date($json.data[0].valid_till).setMonth(new Date($json.data[0].valid_till).getMonth() + 7)).toISOString()\n }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "68da3c7e-1fb3-45b2-b19b-0ba4909280cf",
      "name": "If12",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6020,
        2140
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3NpZ24taW4iLCJpYXQiOjE3Mjk4NDYyNTAsImV4cCI6MTczMDcxMDI1MCwibmJmIjoxNzI5ODQ2MjUwLCJqdGkiOiJOT2EyQUhRdkpCNlNaVXlMIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.I3WyiIoewKECW87NRFNl6l3oPwTcvEGEn0tR14M0y-A"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "in progress"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "d901187f-e124-4b18-b81f-1314f598cc09",
      "name": "HTTP Request7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6240,
        1900
      ]
    },
    {
      "parameters": {
        "content": "## Status: In Progress",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "ebfd7257-0515-4985-9593-6feef5d31835",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6160,
        1760
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3NpZ24taW4iLCJpYXQiOjE3Mjk4NDYyNTAsImV4cCI6MTczMDcxMDI1MCwibmJmIjoxNzI5ODQ2MjUwLCJqdGkiOiJOT2EyQUhRdkpCNlNaVXlMIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.I3WyiIoewKECW87NRFNl6l3oPwTcvEGEn0tR14M0y-A"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "finished"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "76c36330-ad73-4863-9867-5030eed48591",
      "name": "HTTP Request8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6380,
        2320
      ]
    },
    {
      "parameters": {
        "content": "## Status: Hoàn thành",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "31372b43-c4e5-4477-9841-11c8974986d3",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6320,
        2160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0888a509-e429-4027-b1bf-df5f63e28403",
              "leftValue": "={{ new Date(new Date($json.data[0].updated_at).setMonth(new Date($json.data[0].updated_at).getMonth() + 7)).toISOString()\n }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5fa2d691-5228-476c-8455-ce96f9cc87d2",
      "name": "If20",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3220,
        2140
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3NpZ24taW4iLCJpYXQiOjE3Mjk4NDYyNTAsImV4cCI6MTczMDcxMDI1MCwibmJmIjoxNzI5ODQ2MjUwLCJqdGkiOiJOT2EyQUhRdkpCNlNaVXlMIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.I3WyiIoewKECW87NRFNl6l3oPwTcvEGEn0tR14M0y-A"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "in progress"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "59138113-1de7-45b5-982c-88b9f48492fe",
      "name": "HTTP Request9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3480,
        1820
      ]
    },
    {
      "parameters": {
        "content": "## Status: In Progress",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "cebbdec6-9446-4433-801e-b3c89344b1b8",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3420,
        1680
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3NpZ24taW4iLCJpYXQiOjE3Mjk4NDYyNTAsImV4cCI6MTczMDcxMDI1MCwibmJmIjoxNzI5ODQ2MjUwLCJqdGkiOiJOT2EyQUhRdkpCNlNaVXlMIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.I3WyiIoewKECW87NRFNl6l3oPwTcvEGEn0tR14M0y-A"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "finished"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "e3242e3a-8173-4d2f-a7e4-dd4a2f25de19",
      "name": "HTTP Request10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3620,
        2240
      ]
    },
    {
      "parameters": {
        "content": "## Status: Hoàn thành",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "a3d2b388-68a9-4ac0-be43-77b6d8ba904b",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3560,
        2080
      ]
    },
    {
      "parameters": {
        "content": "## Check ticket",
        "height": 275.45694219262833,
        "width": 558.3312834739606
      },
      "id": "de03b1b5-834c-461f-a0b2-986ab1372042",
      "name": "Sticky Note24",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        360,
        -2480
      ]
    },
    {
      "parameters": {
        "content": "## Check payment project\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 438.74604615077396,
        "width": 664.3157138204294
      },
      "id": "96005357-fd99-44fd-b9eb-6776000d9ea1",
      "name": "Sticky Note31",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3960,
        -2280
      ]
    },
    {
      "parameters": {
        "content": "## Check invoices ",
        "height": 327,
        "width": 677.1627708781259,
        "color": 6
      },
      "id": "21cd1eab-c38d-4149-bc05-9a0696709e70",
      "name": "Sticky Note32",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1500,
        -2520
      ]
    },
    {
      "parameters": {
        "content": "## Check proposal",
        "height": 241.32028877323398,
        "width": 455.6222271345979
      },
      "id": "aede1454-3299-41b8-9770-f5d21d12ebc0",
      "name": "Sticky Note33",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5000,
        -2160
      ]
    },
    {
      "parameters": {
        "errorMessage": "co payment"
      },
      "id": "15df59e7-659b-4811-9427-cdcd6f80dd8b",
      "name": "Stop and Error13",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        5620,
        -1560
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $('Get Project').item.json.data.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3JlZnJlc2gtdG9rZW4iLCJpYXQiOjE3MzA3MTA0MTEsImV4cCI6MTczMTU3NjAxNCwibmJmIjoxNzMwNzEyMDE0LCJqdGkiOiJXc3hGS2ZWSWw0ZFB5VkNWIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.lIvNNzYNE-r5rmizlBk3NxP1jNx7tzBn7WUnTiWO-34"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "9b07018f-8d38-45ac-8c1d-150c7b66e689",
      "name": "HTTP Request15",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        -560
      ]
    },
    {
      "parameters": {
        "content": "## Delete\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 394.2252263052302,
        "width": 284.91990641470164
      },
      "id": "c3e72f3b-566a-4d58-853d-208c33a05868",
      "name": "Sticky Note34",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2740,
        -760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex+1 }}",
              "operation": "smallerEqual",
              "value2": 70
            }
          ]
        }
      },
      "id": "7fe17154-29b9-47bd-b9a8-630844122fb9",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -540,
        -2100
      ]
    },
    {
      "parameters": {
        "content": "## Check recurring invoices active\n",
        "height": 273.75203996918873,
        "width": 531.5429103306379
      },
      "id": "6cd08c6f-f83e-4e2c-b1a3-ea765c1296e8",
      "name": "Sticky Note35",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3100,
        -2500
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3JlZnJlc2gtdG9rZW4iLCJpYXQiOjE3MzA3MTA0MTEsImV4cCI6MTczMTU3NjAxNCwibmJmIjoxNzMwNzEyMDE0LCJqdGkiOiJXc3hGS2ZWSWw0ZFB5VkNWIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.lIvNNzYNE-r5rmizlBk3NxP1jNx7tzBn7WUnTiWO-34"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "finished"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "5567ce9e-ae75-4ffc-a91a-e839169ce9d8",
      "name": "HTTP Request16",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        -1900
      ]
    },
    {
      "parameters": {
        "content": "## Status: Hoàn thành",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "703cf724-81e6-4266-8b81-63350d765903",
      "name": "Sticky Note36",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3240,
        -2040
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $('Check Payment').item.json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3JlZnJlc2gtdG9rZW4iLCJpYXQiOjE3MzA3MTA0MTEsImV4cCI6MTczMTU3NjAxNCwibmJmIjoxNzMwNzEyMDE0LCJqdGkiOiJXc3hGS2ZWSWw0ZFB5VkNWIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.lIvNNzYNE-r5rmizlBk3NxP1jNx7tzBn7WUnTiWO-34"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Check Payment').item.json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "finished"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "98dbf1a9-6697-49b0-a3a2-82adbd03b1d3",
      "name": "HTTP Request17",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6520,
        -1780
      ]
    },
    {
      "parameters": {
        "content": "## Status: Hoàn thành",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "fb547e69-7136-4baf-b34e-bfbe3c7c165a",
      "name": "Sticky Note37",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6440,
        -1920
      ]
    },
    {
      "parameters": {
        "errorMessage": "recurring qua laau"
      },
      "id": "4211f577-76fd-44cd-a005-737e60019186",
      "name": "Stop and Error17",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        4360,
        -2760
      ]
    },
    {
      "parameters": {
        "content": "## Ticket > 2\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 309.30379822929507
      },
      "id": "6cf085c6-4e53-4f3b-9c51-35c5160c241e",
      "name": "Sticky Note25",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        -4100
      ]
    },
    {
      "parameters": {
        "content": "## Cach day 2 nam moi lay",
        "height": 289.7289742140482,
        "width": 239.32079071092124
      },
      "id": "9c045fef-821e-4aa8-9321-626eb6fb30f2",
      "name": "Sticky Note26",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        -4040
      ]
    },
    {
      "parameters": {
        "content": "## Check payment project\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 438.74604615077396,
        "width": 664.3157138204294
      },
      "id": "a95f9479-b1ae-470c-af97-048beed1d3bc",
      "name": "Sticky Note39",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1620,
        -4080
      ]
    },
    {
      "parameters": {
        "content": "## Check proposal",
        "height": 257.7921091185855,
        "width": 383.55801312368527
      },
      "id": "10b9c420-5bdf-482c-afc9-d9770ac12bbf",
      "name": "Sticky Note40",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2800,
        -4260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c16f9c7-dec8-4b92-b28d-95f9f50e8347",
              "leftValue": "={{ new Date(new Date($('Check payment').item.json.data[0].paid_on).setMonth(new Date($('Check payment').item.json.data[0].paid_on).getMonth() + 48)).toISOString()  }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cbb9bbf9-c388-46e5-b06c-13f6dc454afb",
      "name": "If39",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3340,
        -4000
      ]
    },
    {
      "parameters": {
        "errorMessage": "in pro"
      },
      "id": "257e708e-b04a-4c98-b590-375b0336bd27",
      "name": "Stop and Error20",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3720,
        -4180
      ]
    },
    {
      "parameters": {
        "content": "## Status: Hoàn thành",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "be2b78af-f92f-453c-8043-dcf043dcb730",
      "name": "Sticky Note41",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3660,
        -3960
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3JlZnJlc2gtdG9rZW4iLCJpYXQiOjE3MzA3MTA0MTEsImV4cCI6MTczMTU3NjAxNCwibmJmIjoxNzMwNzEyMDE0LCJqdGkiOiJXc3hGS2ZWSWw0ZFB5VkNWIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.lIvNNzYNE-r5rmizlBk3NxP1jNx7tzBn7WUnTiWO-34"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "finished"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "c2a75a39-f9c0-4720-90c9-037e2bebfbee",
      "name": "HTTP Request20",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3860,
        -4480
      ]
    },
    {
      "parameters": {
        "content": "## Status: Hoàn thành",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "1f384242-e2a0-43fb-9a1b-4316d243210e",
      "name": "Sticky Note42",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3780,
        -4640
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $('Check payment').item.json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3JlZnJlc2gtdG9rZW4iLCJpYXQiOjE3MzA3MTA0MTEsImV4cCI6MTczMTU3NjAxNCwibmJmIjoxNzMwNzEyMDE0LCJqdGkiOiJXc3hGS2ZWSWw0ZFB5VkNWIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.lIvNNzYNE-r5rmizlBk3NxP1jNx7tzBn7WUnTiWO-34"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Check payment').item.json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "finished"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "a16d0979-39b0-46d3-b0d5-a5fd8b6f1893",
      "name": "HTTP Request21",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3720,
        -3820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0888a509-e429-4027-b1bf-df5f63e28403",
              "leftValue": "={{ new Date(new Date($json.data[0].valid_till).setMonth(new Date($json.data[0].valid_till).getMonth() + 7)).toISOString()\n }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5c60b1de-0545-47ff-b119-e85076f8e973",
      "name": "If23",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3460,
        -5220
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3NpZ24taW4iLCJpYXQiOjE3Mjk4NDYyNTAsImV4cCI6MTczMDcxMDI1MCwibmJmIjoxNzI5ODQ2MjUwLCJqdGkiOiJOT2EyQUhRdkpCNlNaVXlMIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.I3WyiIoewKECW87NRFNl6l3oPwTcvEGEn0tR14M0y-A"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "in progress"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "2148beab-26aa-4975-87b4-1fd6407b1500",
      "name": "HTTP Request12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3880,
        -5320
      ]
    },
    {
      "parameters": {
        "content": "## Status: In Progress",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "1ccffe45-d381-4dfa-8ce7-3ee27b1c4dad",
      "name": "Sticky Note27",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3800,
        -5460
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3NpZ24taW4iLCJpYXQiOjE3Mjk4NDYyNTAsImV4cCI6MTczMDcxMDI1MCwibmJmIjoxNzI5ODQ2MjUwLCJqdGkiOiJOT2EyQUhRdkpCNlNaVXlMIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.I3WyiIoewKECW87NRFNl6l3oPwTcvEGEn0tR14M0y-A"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "finished"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "0c9563bd-f874-46dd-8312-d78d3e3a512d",
      "name": "HTTP Request13",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3880,
        -4900
      ]
    },
    {
      "parameters": {
        "content": "## Status: Hoàn thành",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "c7e07f34-11a8-4006-a693-d7eef584d9aa",
      "name": "Sticky Note28",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3820,
        -5060
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3JlZnJlc2gtdG9rZW4iLCJpYXQiOjE3MzA3MTA0MTEsImV4cCI6MTczMTU3NjAxNCwibmJmIjoxNzMwNzEyMDE0LCJqdGkiOiJXc3hGS2ZWSWw0ZFB5VkNWIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.lIvNNzYNE-r5rmizlBk3NxP1jNx7tzBn7WUnTiWO-34"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "finished"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "5fb42a81-08df-4403-bd74-0e651a8a0036",
      "name": "HTTP Request22",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6460,
        -2240
      ]
    },
    {
      "parameters": {
        "content": "## Status: Hoàn thành",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "5ee24eae-7642-4e11-a2da-74f824a675b5",
      "name": "Sticky Note43",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6400,
        -2420
      ]
    },
    {
      "parameters": {
        "content": "## Check proposal",
        "height": 266.8000069569847,
        "width": 383.55801312368527
      },
      "id": "b8fbb6f2-4011-41c3-8aa6-726c5d22578d",
      "name": "Sticky Note38",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        -1480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c16f9c7-dec8-4b92-b28d-95f9f50e8347",
              "leftValue": "={{ new Date(new Date($('Check Payment').item.json.data[0].paid_on).setMonth(new Date($('Check Payment').item.json.data[0].paid_on).getMonth() + 48)).toISOString()  }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6b1d4089-5785-4687-b325-b137acfd9924",
      "name": "If43",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3380,
        -560
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $('Check Payment').item.json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3NpZ24taW4iLCJpYXQiOjE3Mjk4NDYyNTAsImV4cCI6MTczMDcxMDI1MCwibmJmIjoxNzI5ODQ2MjUwLCJqdGkiOiJOT2EyQUhRdkpCNlNaVXlMIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.I3WyiIoewKECW87NRFNl6l3oPwTcvEGEn0tR14M0y-A"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Check Payment').item.json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "finished"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "aa500535-bf91-4744-98c5-83d3d6d60f96",
      "name": "HTTP Request18",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4040,
        -560
      ]
    },
    {
      "parameters": {
        "content": "## Status: Hoàn thành",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "56c923e9-a922-41ba-ba17-c7f5855ecb90",
      "name": "Sticky Note44",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3980,
        -700
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $json.data[0].project.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3JlZnJlc2gtdG9rZW4iLCJpYXQiOjE3MzA3MTA0MTEsImV4cCI6MTczMTU3NjAxNCwibmJmIjoxNzMwNzEyMDE0LCJqdGkiOiJXc3hGS2ZWSWw0ZFB5VkNWIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.lIvNNzYNE-r5rmizlBk3NxP1jNx7tzBn7WUnTiWO-34"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.data[0].project.id }}"
            },
            {
              "name": "status",
              "value": "finished"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "72f67178-c5fa-45b1-8211-8c478aaea558",
      "name": "HTTP Request23",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2820,
        -1640
      ]
    },
    {
      "parameters": {
        "content": "## Status: Hoàn thành",
        "height": 344.73956562865146,
        "color": 7
      },
      "id": "bce9d46c-68bb-41bd-a71b-965a8bbfd400",
      "name": "Sticky Note45",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2560,
        -1800
      ]
    },
    {
      "parameters": {
        "errorMessage": "in pro"
      },
      "id": "d314fc80-b230-4d0c-842e-b4f0f8e683fa",
      "name": "Stop and Error21",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3100,
        -3720
      ]
    },
    {
      "parameters": {
        "content": "## Status: Hoàn thành",
        "height": 354.73956562865146,
        "color": 7
      },
      "id": "86f3e386-ce0b-4cc5-8ac7-f55596731ac7",
      "name": "Sticky Note46",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3060,
        -3400
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://erp-amz.cloodo.com/v4/projects/{{ $('Ticket 2 year').item.json.data[0].projects.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3JlZnJlc2gtdG9rZW4iLCJpYXQiOjE3MzA3MTA0MTEsImV4cCI6MTczMTU3NjAxNCwibmJmIjoxNzMwNzEyMDE0LCJqdGkiOiJXc3hGS2ZWSWw0ZFB5VkNWIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.lIvNNzYNE-r5rmizlBk3NxP1jNx7tzBn7WUnTiWO-34"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Ticket 2 year').item.json.data[0].projects.id }}"
            },
            {
              "name": "status",
              "value": "finished"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "1ffde21f-9585-4718-845c-6df4a5adbf63",
      "name": "HTTP Request24",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        -3220
      ]
    },
    {
      "parameters": {
        "content": "## Check payment trong client\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 378.2516195759069,
        "width": 478.84139500759613
      },
      "id": "cb73ccb1-e915-406c-8605-91021a36b1e4",
      "name": "Sticky Note29",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4780,
        -1500
      ]
    },
    {
      "parameters": {
        "content": "## Lấy project để update vào payment\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 321.92792769833045,
        "width": 502.1690257972971
      },
      "id": "0e6c731c-0b23-48dc-94ea-5646f81e8c71",
      "name": "Sticky Note30",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5520,
        -1100
      ]
    },
    {
      "parameters": {
        "url": "https://erp-amz.cloodo.com/v4/projects",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "={{ $runIndex + 1}}"
            },
            {
              "name": "sort",
              "value": "desc"
            },
            {
              "name": "status",
              "value": "in progress"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "vi-VN,vi;q=0.9,fr-FR;q=0.8,fr;q=0.7,en-US;q=0.6,en;q=0.5"
            },
            {
              "name": "authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vZXJwLWFtei5jbG9vZG8uY29tL3Y0L2FjY291bnRzL3JlZnJlc2gtdG9rZW4iLCJpYXQiOjE3MzA3MTA0MTEsImV4cCI6MTczMTU3NjAxNCwibmJmIjoxNzMwNzEyMDE0LCJqdGkiOiJXc3hGS2ZWSWw0ZFB5VkNWIiwic3ViIjoiMTI3MSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.lIvNNzYNE-r5rmizlBk3NxP1jNx7tzBn7WUnTiWO-34"
            },
            {
              "name": "origin",
              "value": "https://worksuite.cloodo.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://worksuite.cloodo.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"130\", \"Google Chrome\";v=\"130\", \"Not?A_Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"Windows\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
            },
            {
              "name": "x-worksuite-company-token",
              "value": "ws_6b13bba250af9cdc690d4e07e2fe66b05bdc56e5ef1632de55264a7d175cff87"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "87c5231f-464c-4271-97ba-08ae1286c841",
      "name": "In Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        -2400
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "1a035041-1c25-4477-83ac-6878ebecfca1",
      "name": "Split",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -320,
        -2400
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "ae400c1a-362b-4518-906c-e39eb368fb2b",
      "name": "Get Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        20,
        -2400
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "engagement",
        "operation": "getmany",
        "additionalFields": {
          "project": "={{ $json.data.id }}"
        },
        "requestOptions": {}
      },
      "id": "2785c382-c440-4ec1-af5b-357cfb59bfe1",
      "name": "Get Ticket",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        440,
        -2400
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c14266a-989d-405c-820f-8d487ab10fa7",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b507bce2-e5aa-494d-9509-c914a6b222c5",
      "name": "Check ticket",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        -2400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9afafb30-c02b-4330-8e76-5ce26e6ce908",
              "leftValue": "={{ $json.data }}",
              "rightValue": 2,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "37739ad5-cb94-4fa5-a82a-52e5c20504a7",
      "name": "Ticket > 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        -3940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "39df35e0-979c-4583-bde9-2b7901595ffb",
              "leftValue": "={{ new Date(new Date($json.data[0].created_at).setMonth(new Date($json.data[0].created_at).getMonth() + 24)).toISOString()  }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d60ecf58-27c7-45b6-afd6-cec9a48b14e3",
      "name": "Ticket 2 year",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        -3920
      ]
    },
    {
      "parameters": {
        "operation": "getPayment",
        "ID": "={{ $('Get Project').item.json.data.id }}",
        "requestOptions": {}
      },
      "id": "1156ad82-0c0d-4cfe-8033-cf9e53b0d332",
      "name": "Get Payment: ProjectID",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1720,
        -3900
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c31fe1f-ec24-46a5-b458-030c24174b0b",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "284baa99-6806-4943-a23c-bc640c8cd10b",
      "name": "Check payment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2060,
        -3900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c16f9c7-dec8-4b92-b28d-95f9f50e8347",
              "leftValue": "={{ new Date(new Date($('Ticket 2 year').item.json.data[0].created_at).setMonth(new Date($('Ticket 2 year').item.json.data[0].created_at).getMonth() + 24)).toISOString()  }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "090eb099-f3f1-4181-bbc1-03b01f3674c0",
      "name": "Check Ticket 2 year",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2680,
        -3700
      ]
    },
    {
      "parameters": {
        "operation": "getProposal",
        "ID": "={{ $('Get Project').item.json.data.id }}",
        "requestOptions": {}
      },
      "id": "fcc0bca8-8d3d-41ea-ba0f-16f27774cc87",
      "name": "Get Proposal: ProjectId",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        2840,
        -4180
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b92fe2c-d8e3-4751-8d51-aa73f3c94843",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0a84fe5a-f8c3-4935-a245-73881a22200f",
      "name": "Check proposal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3020,
        -4180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c16f9c7-dec8-4b92-b28d-95f9f50e8347",
              "leftValue": "={{ new Date(new Date($json.data[0].valid_till).setMonth(new Date($json.data[0].valid_till).getMonth() + 48)).toISOString()  }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9d391dd6-95ba-46ad-8b44-364adf26bcff",
      "name": "Check 4 year",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3300,
        -4500
      ]
    },
    {
      "parameters": {
        "errorMessage": "loi"
      },
      "id": "d9bc79e2-ea61-49d8-88b2-e32061ccbeb0",
      "name": "Stop and Error6",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3500,
        -4760
      ]
    },
    {
      "parameters": {
        "resource": "clientDetails",
        "operation": "getInvoices",
        "ID": "={{ $('Get Project').item.json.data.client.user.id }}",
        "requestOptions": {}
      },
      "id": "0a6349a6-25f1-42c8-b4eb-ad47d3473a10",
      "name": "Get Invoices: ClientID",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        1560,
        -2380
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b92fe2c-d8e3-4751-8d51-aa73f3c94843",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "67a1bb79-32c4-412b-a7c4-4653e1b5170d",
      "name": "Check Invoices",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        -2380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73d03ed1-f328-4855-9bcf-977ef5d5f30a",
              "leftValue": "={{ $json.data[0].status }}",
              "rightValue": "paid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "18194f3f-7baa-4bb7-8577-6cd22750847a",
              "leftValue": "={{ $json.data[0].status }}",
              "rightValue": "partial",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "91cb7aee-fb7b-4026-bd06-153d5dcabde1",
      "name": "Invoice: paid or partial",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2020,
        -2400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb5917a7-3eb4-4480-a28f-9404fc23e45c",
              "leftValue": "={{ new Date(new Date($json.data[0].invoice_date).setMonth(new Date($json.data[0].invoice_date).getMonth() + 48)).toISOString()\n }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f4fc707f-b891-4d91-b038-051027fa8e60",
      "name": "Invoices 4 year",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2760,
        -2060
      ]
    },
    {
      "parameters": {
        "resource": "clientDetails",
        "operation": "getRecurringInvoice",
        "ID": "={{ $('Get Project').item.json.data.client.user.id }}",
        "requestOptions": {}
      },
      "id": "c24a42e0-94d2-4897-8e6c-52b2bcda30e4",
      "name": "Get Recurring Invoices: ClientID",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        3160,
        -2400
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b92fe2c-d8e3-4751-8d51-aa73f3c94843",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ae61981b-e310-4da0-8f7f-2aba91e1b1bb",
      "name": "Check Recurring Invoices",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3440,
        -2400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb5917a7-3eb4-4480-a28f-9404fc23e45c",
              "leftValue": "={{ new Date(new Date($json.data[0].currency.updated_at).setMonth(new Date($json.data[0].updated_at).getMonth() + 48)).toISOString()\n }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "267ff62b-6b2e-43db-a599-7246fe103cab",
      "name": "Recurring 4 year",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3960,
        -2780
      ]
    },
    {
      "parameters": {
        "operation": "getPayment",
        "ID": "={{ $('Get Project').item.json.data.id }}",
        "requestOptions": {}
      },
      "id": "853c5859-6bcc-4193-a3ae-a909a48a411b",
      "name": "Get Payment: ProjectID1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        4020,
        -2060
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c31fe1f-ec24-46a5-b458-030c24174b0b",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "82ebb6ab-b97b-46e1-9db5-b59e396ec296",
      "name": "Check Payment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4360,
        -2060
      ]
    },
    {
      "parameters": {
        "operation": "getProposal",
        "ID": "={{ $('Get Project').item.json.data.id }}",
        "requestOptions": {}
      },
      "id": "1a8089d3-892a-4120-8622-3e557a35cfc7",
      "name": "Get Proposal: Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        5040,
        -2080
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b92fe2c-d8e3-4751-8d51-aa73f3c94843",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0492a7f6-ffd6-4dd5-885a-0df02177f19f",
      "name": "Check Proposal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5280,
        -2080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c16f9c7-dec8-4b92-b28d-95f9f50e8347",
              "leftValue": "={{ new Date(new Date($json.data[0].valid_till).setMonth(new Date($json.data[0].valid_till).getMonth() + 48)).toISOString()  }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6ba381c0-40af-442b-9903-497038f88160",
      "name": "Proposal 4 year ago",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5640,
        -2280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c16f9c7-dec8-4b92-b28d-95f9f50e8347",
              "leftValue": "={{ new Date(new Date($('Check Payment').item.json.data[0].paid_on).setMonth(new Date($('Check Payment').item.json.data[0].paid_on).getMonth() + 48)).toISOString()  }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b3658043-bf90-4442-989a-22029326cec8",
      "name": "Payment 4 year ago",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5680,
        -1820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "097cb803-0d73-4ddd-85ff-96c0d0a00f3b",
              "leftValue": "={{ $('Get Payment: ProjectID1').item.json.data }}",
              "rightValue": 3,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1147b737-6322-4ab3-be71-7e300c550f6c",
      "name": "Payment in Project > 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6000,
        -2260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "097cb803-0d73-4ddd-85ff-96c0d0a00f3b",
              "leftValue": "={{ $('Get Payment: ProjectID1').item.json.data }}",
              "rightValue": 3,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5181e9a4-bdbf-4d2a-b799-ed9eb2f9164d",
      "name": "Payment in Project > 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6080,
        -1800
      ]
    },
    {
      "parameters": {
        "resource": "clientDetails",
        "operation": "getPayment",
        "ID": "={{ $('Invoice: paid or partial').item.json.data[0].client.user.id }}",
        "requestOptions": {}
      },
      "id": "81aa72ce-70a1-485d-873a-4415a2fe8c31",
      "name": "Get Payment: ClientID",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        4860,
        -1320
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b556ad0-9b55-46b1-ae56-297a416503f7",
              "leftValue": "={{ $json.data[0].project }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4a722aca-434e-4aa9-ac88-6ffc8d981df0",
      "name": "Check Project",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5080,
        -1320
      ]
    },
    {
      "parameters": {
        "resource": "clientDetails",
        "ID": "={{ $('Invoice: paid or partial').item.json.data[0].client.user.id }}",
        "requestOptions": {}
      },
      "id": "3f62e296-024b-46a3-a725-81780dc839bb",
      "name": "GetProject: ClientID",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        5600,
        -1000
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "payments",
        "operation": "update",
        "ID": "={{ $('Get Payment: ClientID').item.json.data[0].id }}",
        "project_id": "={{ $json.data[0].id }}",
        "invoice_id": "={{ $('Get Payment: ClientID').item.json.data[0].invoice.id }}",
        "currency_id": "={{ $('Get Payment: ClientID').item.json.data[0].currency.id }}",
        "transaction_id": "={{ $('Get Payment: ClientID').item.json.data[0].invoice.transaction_id }}",
        "paid_on": "={{ $('Get Payment: ClientID').item.json.data[0].paid_on.toDateTime() }}",
        "requestOptions": {}
      },
      "id": "3d45fa47-9b92-41cc-83de-c4a861daa663",
      "name": "Update Payment",
      "type": "@cloodo/n8n-nodes-cloodo-finance.CloodoFinance",
      "typeVersion": 1,
      "position": [
        5860,
        -1000
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getProposal",
        "ID": "={{ $('Get Project').item.json.data.id }}",
        "requestOptions": {}
      },
      "id": "cf018f9a-949e-4528-97bf-2a004c8d61c9",
      "name": "GetProposal: Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1720,
        -1400
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b92fe2c-d8e3-4751-8d51-aa73f3c94843",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73cc1ddc-86ca-422b-afeb-e7a120b96c7d",
      "name": "Check data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1900,
        -1400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c16f9c7-dec8-4b92-b28d-95f9f50e8347",
              "leftValue": "={{ new Date(new Date($json.data[0].valid_till).setMonth(new Date($json.data[0].valid_till).getMonth() + 48)).toISOString()  }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "01957d91-6638-4563-b379-7663b9a18d97",
      "name": "Proposal 4 year ago1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        -1660
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "getTaskByProject",
        "project_id": "={{ $('Get Project').item.json.data.id }}",
        "requestOptions": {}
      },
      "id": "58c83f3c-228c-4493-956c-14981a3f308b",
      "name": "Cloodo Project3",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        2280,
        -1140
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Check Task",
        "height": 266.8000069569847,
        "width": 383.55801312368527
      },
      "id": "4949d971-c398-4720-bba7-5f359503dcb7",
      "name": "Sticky Note47",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2240,
        -1240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b92fe2c-d8e3-4751-8d51-aa73f3c94843",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dfbc53b4-9bbf-4e2e-8c3e-deb17d07a944",
      "name": "Check data1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2480,
        -1140
      ]
    },
    {
      "parameters": {
        "errorMessage": "no Task Check Milestone"
      },
      "id": "22798f9c-b373-4170-8966-1f02276b972a",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2720,
        -1060
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "id": "5bff8428-5a69-4717-b582-7e02074c7fd9",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        -2660
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "In Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Cloodo Project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project1": {
      "main": [
        [
          {
            "node": "Cloodo CRM1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cloodo CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM": {
      "main": [
        [
          {
            "node": "If15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cloodo CRM6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If20",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cloodo CRM5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cloodo CRM4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Cloodo CRM2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM2": {
      "main": [
        [
          {
            "node": "If13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If13": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM5": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM4": {
      "main": [
        [
          {
            "node": "If14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM6": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM7": {
      "main": [
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Cloodo CRM7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If14": {
      "main": [
        [],
        [
          {
            "node": "Cloodo CRM8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM8": {
      "main": [
        [
          {
            "node": "If17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If17": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cloodo CRM3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If16": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM9": {
      "main": [
        [
          {
            "node": "If18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Cloodo CRM9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If18": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Cloodo Project2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cloodo Project2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM10": {
      "main": [
        [
          {
            "node": "If19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If19": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Cloodo CRM10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM3": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If15": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If20": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If39": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If23": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If43": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "In Progress": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Get Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project": {
      "main": [
        [
          {
            "node": "Get Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ticket": {
      "main": [
        [
          {
            "node": "Check ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check ticket": {
      "main": [
        [
          {
            "node": "Ticket > 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Invoices: ClientID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket > 2": {
      "main": [
        [],
        [
          {
            "node": "Ticket 2 year",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket 2 year": {
      "main": [
        [],
        [
          {
            "node": "Get Payment: ProjectID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Payment: ProjectID": {
      "main": [
        [
          {
            "node": "Check payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check payment": {
      "main": [
        [
          {
            "node": "Get Proposal: ProjectId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Ticket 2 year",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Ticket 2 year": {
      "main": [
        [
          {
            "node": "Stop and Error21",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Proposal: ProjectId": {
      "main": [
        [
          {
            "node": "Check proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check proposal": {
      "main": [
        [
          {
            "node": "Check 4 year",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If39",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check 4 year": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoices: ClientID": {
      "main": [
        [
          {
            "node": "Check Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Invoices": {
      "main": [
        [
          {
            "node": "Invoice: paid or partial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetProposal: Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice: paid or partial": {
      "main": [
        [
          {
            "node": "Get Recurring Invoices: ClientID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invoices 4 year",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoices 4 year": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recurring Invoices: ClientID": {
      "main": [
        [
          {
            "node": "Check Recurring Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recurring Invoices": {
      "main": [
        [
          {
            "node": "Recurring 4 year",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Payment: ProjectID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recurring 4 year": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Payment: ProjectID1": {
      "main": [
        [
          {
            "node": "Check Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Payment": {
      "main": [
        [
          {
            "node": "Get Proposal: Project",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Payment: ClientID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Proposal: Project": {
      "main": [
        [
          {
            "node": "Check Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Proposal": {
      "main": [
        [
          {
            "node": "Proposal 4 year ago",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Payment 4 year ago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proposal 4 year ago": {
      "main": [
        [],
        [
          {
            "node": "Payment in Project > 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment 4 year ago": {
      "main": [
        [],
        [
          {
            "node": "Payment in Project > 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment in Project > 3": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment in Project > 2": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Payment: ClientID": {
      "main": [
        [
          {
            "node": "Check Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Project": {
      "main": [
        [
          {
            "node": "Stop and Error13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GetProject: ClientID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetProject: ClientID": {
      "main": [
        [
          {
            "node": "Update Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetProposal: Project": {
      "main": [
        [
          {
            "node": "Check data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check data": {
      "main": [
        [
          {
            "node": "Proposal 4 year ago1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cloodo Project3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proposal 4 year ago1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        []
      ]
    },
    "Cloodo Project3": {
      "main": [
        [
          {
            "node": "Check data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check data1": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "In Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1d0dc38-0c82-4f75-8b60-25f01fbc5fce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "x9CBFkD53u7qYNsZ",
  "tags": []
}