cmsmart/WF_56_WorkFlow_CRM_Project_Analysis_Ticket_Note.json
{
  "name": "WF 56 WorkFlow_CRM_Project_Analysis_Ticket_Note",
  "nodes": [
    {
      "parameters": {},
      "id": "139f6a36-f997-4a75-a7e8-d0ea24c44274",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1660,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e664b6e-6727-42ec-8a67-c7e832f972e4",
              "leftValue": "={{ $json.data.projects }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9683bc2d-df46-4183-9e51-462d75b96732",
      "name": "Check project",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "884806f1-49fd-4902-9c86-08459531aa0f",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "closed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa8f5075-b91f-40bd-ab8e-86b40c966144",
      "name": "Check not closed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        120,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fe825d1-f525-4034-a199-27d269291fd8",
              "name": "Ticket.id",
              "value": "={{ $('Check not closed').item.json.data.id }}",
              "type": "string"
            },
            {
              "id": "7ca4d5b5-a919-4f84-b6dc-404b211027d1",
              "name": "Ticket.subject",
              "value": "={{ $('Check not closed').item.json.data.subject }}",
              "type": "string"
            },
            {
              "id": "a51a35d8-21a4-43e7-b329-925c6098b6a5",
              "name": "=Ticket.detail",
              "value": "={{ $('Check not closed').item.json.data.reply.message }}",
              "type": "string"
            },
            {
              "id": "7f491aa5-9fc5-4674-a8fd-c7546375fdf8",
              "name": "Ticket.type",
              "value": "={{ $('Check not closed').item.json.data.type.type }}",
              "type": "string"
            },
            {
              "id": "0396fd3b-7efd-4fc7-9823-8231189e856d",
              "name": "Ticket.status",
              "value": "={{ $('Check not closed').item.json.data.status }}",
              "type": "string"
            },
            {
              "id": "7055bba9-889c-417b-80c2-0fa95009e1d2",
              "name": "Ticket.last_update",
              "value": "={{ $('Check not closed').item.json.data.updated_at }}",
              "type": "string"
            },
            {
              "id": "1e19ddb7-2314-42bd-be84-97294a0d5ebb",
              "name": "Project.id",
              "value": "={{ $('Get Project').item.json.data.id }}",
              "type": "string"
            },
            {
              "id": "70e6e1d2-ae59-44bf-9e18-2ed4d1033368",
              "name": "Project.name",
              "value": "={{ $('Get Project').item.json.data.name }}",
              "type": "string"
            },
            {
              "id": "6668ea76-94a1-4be0-8df7-6c1116fa3cc5",
              "name": "Project.summary",
              "value": "={{ $('Get Project').item.json.data.summary }}",
              "type": "string"
            },
            {
              "id": "e645c857-eb8a-4e70-a512-54f51ce02dd8",
              "name": "MilestoneProject",
              "value": "={{ $json.data }}",
              "type": "array"
            },
            {
              "id": "2a764578-08ff-4887-a42d-97f4365fdb7f",
              "name": "Ticket.priority",
              "value": "={{ $('Check not closed').item.json.data.priority }}",
              "type": "string"
            },
            {
              "id": "e386a3f5-bc97-4fb6-a954-980bd725acd2",
              "name": "Ticket.nameClient",
              "value": "={{ $('Check not closed').item.json.data.requester.name }}",
              "type": "string"
            },
            {
              "id": "ba4e48c2-e7de-4a78-86ab-39885bfe9998",
              "name": "Project.web",
              "value": "={{ $('Get Client').item.json.data.website }}",
              "type": "string"
            },
            {
              "id": "4d49c994-1c26-4db0-ac0f-30879a899f64",
              "name": "Client.name",
              "value": "={{ $('Get Client').item.json.data.user.name }}",
              "type": "string"
            },
            {
              "id": "ee2b6919-a529-4aff-9b49-07b78d907e5d",
              "name": "Client.email",
              "value": "={{ $('Get Client').item.json.data.user.email }}",
              "type": "string"
            },
            {
              "id": "12b25991-47a5-4ae2-ad4f-119fb8d001b5",
              "name": "Client.companyName",
              "value": "={{ $('Get Client').item.json.data.company_name }}",
              "type": "string"
            },
            {
              "id": "9952301c-0d45-40ac-8e79-48ffcd980206",
              "name": "Client.category",
              "value": "={{ $('Get Client').item.json.data.category.name }}",
              "type": "string"
            },
            {
              "id": "5f208c3a-cd39-4053-b703-5690a926319d",
              "name": "Client.facebook",
              "value": "={{ $('Get Client').item.json.data.social_details.facebook }}",
              "type": "string"
            },
            {
              "id": "4ac3fa44-972b-4a34-9733-92551ce2c897",
              "name": "Client.likedin",
              "value": "={{ $('Get Client').item.json.data.social_details.linkedin }}",
              "type": "string"
            },
            {
              "id": "2fc85086-fee1-42a2-9fa1-6854ea569269",
              "name": "Agent.name",
              "value": "={{ $('Check not closed').item.json.data.agent.user.name }}",
              "type": "string"
            },
            {
              "id": "da0c413e-1409-4543-8c1c-51b16d41f6eb",
              "name": "Agent.email",
              "value": "={{ $('Check not closed').item.json.data.agent.user.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "23d91620-2729-4b16-b622-7ae9910b8722",
      "name": "Set Value",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2620,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "let dataReFormat = ''\nconst rawData = $input.all()[0]?.json\n\n\n\ndataReFormat =  `\n**Information Ticket**: \n - Subject: ${rawData?.Ticket?.subject}\n - Detail: ${rawData?.Ticket?.detail}\n - Type: ${rawData?.Ticket?.type}\n - Status: ${rawData?.Ticket?.status}\n - Priority: ${rawData?.Ticket?.priority}\n - Last Update: ${rawData?.Ticket?.last_update}\n\n**Information Project of Ticket**:\n - Name: ${rawData?.Project?.name}\n - Summary of project goals: ${rawData?.Project?.summary}\n - Website: ${rawData?.Project?.web}\n\n**Client Profile**:\n - Name: ${rawData?.Client?.name}\n - Email: ${rawData?.Client?.email}\n - Company Name: ${rawData?.Client?.companyName}\n - Client Category: ${rawData?.Client?.category}\n - Client Facebook: ${rawData?.Client?.facebook}\n - Client Likedin: ${rawData?.Client?.likedin}\n`\n\n\ndataReFormat+='\\n*Milestone of Project*:\\n\\n'\nif(Array.isArray(rawData?.MilestoneProject)){\n      for (const [index, item] of rawData?.MilestoneProject?.entries()) {\n      dataReFormat += `- Milestone ${index + 1}: \\n`;\n      dataReFormat += ` + Title: ${item?.title} \\n`;\n      dataReFormat += ` + Cost: ${item?.cost} \\n`;\n      dataReFormat += ` + Summary: ${item?.summary} \\n\\n`;\n      \n    }\n  dataReFormat += ` \\n`;\n}else{\n      dataReFormat += ` + Title: ${rawData?.MilestoneProject?.title} \\n`;\n      dataReFormat += ` + Summary: ${rawData?.MilestoneProject?.summary} \\n`;\n}\n\n\n\nconsole.log('dataReFormat: ', dataReFormat)\n\nreturn { prepareText: dataReFormat };"
      },
      "id": "2a5d7900-28e2-4c37-96af-4b116be34b15",
      "name": "prepareText",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "let oldData = $input.all()[0]?.json?.output;\n\n// Replace new lines with <br> tags\noldData = oldData.replace(/\\n\\n<br>\\n\\n/g, '<br>');\noldData = oldData.replace(/\\n\\n/g, '');\noldData = oldData.replace(/\\n/g, '');\n\n\n// Replace ** with <strong> tags for bold text\noldData = oldData.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\n// Replace ### with <h3> tags for subheadings\noldData = oldData.replace(/###\\s*(.*?)(<br>|$)/g, '<h3>$1</h3>');\n\nreturn { textHtml: oldData };\n\n"
      },
      "id": "eb08b510-855b-4429-bd63-8756012a7d07",
      "name": "Standardize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3580,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloodo.com/mautic.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Set Value').item.json.Agent.email }}"
            },
            {
              "name": "uname",
              "value": "={{ $('Set Value').item.json.Agent.name }}"
            },
            {
              "name": "subject",
              "value": "=Ticket {{ $('Check not closed').item.json.data.ticket_number }} Detailed analysis and recommendation for {{ $('Set Value').item.json.Project.name }} {{ $('Set Value').item.json.Project.name }}"
            },
            {
              "name": "send_mail",
              "value": "cmsmart"
            },
            {
              "name": "email_id",
              "value": "109"
            },
            {
              "name": "content",
              "value": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n\n<body style=\"font-family: Arial, sans-serif; color: #333; line-height: 1.6; margin: 0;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\" background-color: #fff;\">\n        <!-- Content -->\n        <tr>\n            <td style=\"font-size: 14px; color: black\">\n                <p>Dear {{ $('Set Value').item.json.Agent.name }},</p></br>\n                <p>{{ $('Standardize').item.json.textHtml }}</p>\n<strong>Link project: <a href=\"https://worksuite.cloodo.com/apps/work/project/{{ $('Set Value').item.json.Project.id }}\">{{ $('Set Value').item.json.Project.name }}</a></strong>\n                <p>Best Regards,</p>\n                <p>CmsMart Admin</p>\n            </td>\n        </tr>\n        \n \n    </table>\n</body>\n\n</html>\n\n"
            }
          ]
        },
        "options": {}
      },
      "id": "6c17a918-93c3-4222-aa2b-9226ff1cb8ca",
      "name": "Project_Analysis_Ticket_Note2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4000,
        80
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "27480044-e48a-435c-a6ef-cb0fe6d0bb91",
        "requestOptions": {}
      },
      "id": "44c9c77f-09f5-4e79-a69b-ba7c16e16eba",
      "name": "Cloodo Project1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -1080,
        -440
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.meta.next_cursor }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "2666551b-0985-4872-9455-eccef2208083",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -920,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d72af052-5bf2-42ec-bbbb-1ac60133c442",
              "leftValue": "={{ $json.ticketId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "53bbefc2-eff6-4b07-8aeb-faa700eddbfb",
      "name": "Check Sheet",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        380
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1907794604,
          "mode": "list",
          "cachedResultName": "Ticket Check",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=1907794604"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=ticketId",
              "lookupValue": "={{ $json.data.ticket_number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e143378a-9097-4506-8c17-2ce024395e04",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        800,
        380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d457c98-0790-49fc-91b7-3ffc27580504",
              "leftValue": "={{ $('Check not closed').item.json.data.requester.id }}",
              "rightValue": "={{ $('Check not closed').item.json.data.create_by.id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9edbb9a2-7edc-48c5-91bb-1b710eaaefd3",
      "name": "Create Client or Agent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1460,
        360
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1907794604,
          "mode": "list",
          "cachedResultName": "Ticket Check",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=1907794604"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticketId": "={{ $('Check not closed').item.json.data.ticket_number }}"
          },
          "matchingColumns": [
            "ticketId"
          ],
          "schema": [
            {
              "id": "ticketId",
              "displayName": "ticketId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "b3caaff6-17a3-48f8-9049-1cbf7f16b0de",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4280,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "project_id": "={{ $('Set Value').item.json.Project.id }}",
        "title": "=Ticket {{ $('Check not closed').item.json.data.ticket_number }} Detailed analysis and recommendation for {{ $('Set Value').item.json.Project.name }} {{ $('Set Value').item.json.Project.name }}",
        "details": "={{ $json.textHtml }}\n\n<strong>Link Ticket: <a href=\"https://worksuite.cloodo.com/apps/tickets/all-tickets/{{ $('Set Value').item.json.Ticket.id }}\"</a>{{ $('Set Value').item.json.Ticket.subject }}</strong>",
        "category": "client",
        "user_id": "[]",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "e55851c0-9d7b-4940-a824-75f4d9d40682",
      "name": "Cloodo CRM",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        3780,
        80
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4o-2024-11-20",
        "prompt": {
          "messages": [
            {
              "content": "=Using card <p>, <strong>, <ul>, <li>\nYou are a Senior Consultant assisting with the management of a client ticket. The assigned agent is a Business Analyst (BA) or Project Manager, and you need to provide guidance on how to proceed with the ticket. Your goal is to:\n\nAnalyze the ticket content: Understand the client’s request and categorize the issue.\nCreate tasks for technical investigation: Clearly define actionable tasks that can be assigned to the development team for further technical investigation.\nEngage the client with more specific questions: Suggest key questions to ask the client to gather more detailed information or clarify unclear points.\nPropose alternative solutions: Offer suggestions on how the client’s issue might be addressed, including alternatives or best practices.\nProvide additional assistance: Depending on the category of the ticket or the client’s profile, offer further assistance or direct the agent on how to best support the client.\nReview the client profile and project information: Ensure the agent has a complete understanding of the client's background, status, and previous interactions before proceeding.\nOutput structure:\n\nUsing card <p>, <strong>, <ul>, <li>\nTicket Analysis: Summarize the core issue or request.\nKey Questions for Client: List questions that can help gather more information or clarify the request.\nTask Suggestions for Development: Define tasks for technical investigation or further steps.\nAlternative Solutions: Provide potential solutions or options to consider.\nClient Engagement Strategy: Suggest how to proceed with the client based on their profile and ticket category.\n\nSee below for completion of the keywords above:\n{{ $json.prepareText }}\n\n<strong>Link Ticket: <a href=\"https://worksuite.cloodo.com/apps/tickets/all-tickets/{{ $('Set Value').item.json.Ticket.id }}\"</a>{{ $('Set Value').item.json.Ticket.subject }}</strong>\n\n\n\n\n\n\n"
            }
          ]
        },
        "simplifyOutput": "=true",
        "options": {
          "maxTokens": 6000
        },
        "requestOptions": {}
      },
      "id": "683b8894-8f1e-41de-93a6-ec65627d18e4",
      "name": "Project_Analysis_Ticket_Note",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        2980,
        -320
      ],
      "credentials": {
        "openAiApi": {
          "id": "NuSZIBmfyaC1efAa",
          "name": "AI_Agent_API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "3109dddc-71ac-4bda-a714-ae9a9523fc16",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2180,
        680
      ]
    },
    {
      "parameters": {
        "resource": "engagement",
        "operation": "getmany",
        "cursor": "={{ $json.meta.next_cursor }}",
        "additionalFields": {
          "fromDate": "={{ $today.minus(2,'days').set({ hour: 23, minute: 00 }).format('dd-MM-yyyy HH:mm') }}",
          "toDate": "={{ $today.set({ hour: 23, minute: 00 }).format('dd-MM-yyyy HH:mm') }}"
        },
        "requestOptions": {}
      },
      "id": "dfe323cf-24f4-4c55-bd43-abafb6115a96",
      "name": "Cloodo CRM1",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        -1140,
        360
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "c02ee909-1cf0-4de7-ac56-af1c58ca315f",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -800,
        360
      ]
    },
    {
      "parameters": {
        "resource": "engagement",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "22114135-c579-45de-9dff-63a556a8b07a",
      "name": "Get Ticket",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        -520,
        360
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $('Check not closed').item.json.data.projects.id }}",
        "requestOptions": {}
      },
      "id": "3fb30e3e-907f-4b54-8e10-d81293043072",
      "name": "Get Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1720,
        80
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "getMilestones",
        "ID": "={{ $('Get Project').item.json.data.id}}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "591bb754-997b-4a78-a4ad-335881c5bc86",
      "name": "Get Milestone Project",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        2340,
        80
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "299b18b1-b4d6-4cf8-8326-3066524a6499",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        360
      ]
    },
    {
      "parameters": {
        "resource": "project",
        "page": "={{ $runIndex + 300 }}",
        "additionalFields": {
          "status": "in progress"
        },
        "requestOptions": {}
      },
      "id": "c1bf3c16-23d7-4a23-b3cc-bfda0ba5a147",
      "name": "Get Project InPro",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        -3220,
        1720
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "d7911e27-4043-4bca-835b-dbf22cfeddda",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -2860,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex+1 }}",
              "operation": "smallerEqual",
              "value2": 49
            }
          ]
        }
      },
      "id": "ecbc1ce3-7da5-46bf-9aa7-c0f67a641f80",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2360,
        2180
      ]
    },
    {
      "parameters": {
        "resource": "engagement",
        "operation": "getEngagementByProject",
        "project_id": "=46354923-2156-45f4-a84d-13189ebf39a9",
        "page": "={{ $runIndex+1  }}",
        "additionalFields": {
          "limit": "10"
        },
        "requestOptions": {}
      },
      "id": "922ff0e1-d0ff-4c8e-910d-f4130ca1c15c",
      "name": "Cloodo CRM3",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        -2340,
        2860
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.page || $runIndex+1  }}",
              "operation": "smallerEqual",
              "value2": "={{ $json.meta.last_page }}"
            }
          ]
        }
      },
      "id": "39e6a234-7b0a-4315-8c2f-6c03d58421c6",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1760,
        3260
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "aa60b995-a51f-416c-b6b9-5c0ae974ac3b",
      "name": "Take 1 Pro",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1060,
        2280
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "f922b588-6906-4b3f-bd23-af665e05d3c6",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -2040,
        2860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3988248-b4fc-4360-9b7f-d16c05f4c19e",
              "leftValue": "={{ $json.data }}",
              "rightValue": 9,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ed27c46a-7c66-4b26-8443-2879cb18e7ea",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1080,
        1220
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "b0b7d51f-5102-43e4-8f12-1731e9aee6a5",
      "name": "Item Lists3",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -1700,
        1720
      ]
    },
    {
      "parameters": {
        "jsCode": "items[0].json.page = 1;\nreturn items;"
      },
      "id": "d7b1e7df-3c8a-4843-829f-fb57869c837b",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1820,
        3860
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex+1 }}",
              "operation": "smallerEqual",
              "value2": "={{ $json.meta.last_page }}"
            }
          ]
        }
      },
      "id": "1117b60e-c8f5-4e2c-bdf7-f76ce6ab1e22",
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1560,
        3860
      ]
    },
    {
      "parameters": {
        "content": "th1: no ticket\nth2: less and equal 9 ticket\nth3: great than 9 ticket",
        "height": 378.26119621564266,
        "color": 3
      },
      "id": "e1dd6db5-8a5d-4e36-bdae-d3d8b950064b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2080,
        1540
      ]
    },
    {
      "parameters": {
        "resource": "engagement",
        "operation": "getEngagementByProject",
        "project_id": "={{ $json.id }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "aab07df5-575d-4e5a-a121-6c9dc7b1bd5c",
      "name": "Get many check",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        -2400,
        1720
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Check th3\n",
        "height": 80,
        "width": 358.2033598208649,
        "color": 5
      },
      "id": "0ac8a1aa-0594-41e5-a8f5-fd07e32d3fb3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2040,
        2000
      ]
    },
    {
      "parameters": {
        "resource": "engagement",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "84972ff9-e5eb-457f-a7d2-bb74f2701e24",
      "name": "Get ticket",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        -1320,
        1720
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b4110209-0cbb-4bec-a4dd-221a15d19f79",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        540,
        1800
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1907794604,
          "mode": "list",
          "cachedResultName": "Ticket Check",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=1907794604"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=ticketId",
              "lookupValue": "={{ $json.TicketNumber }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dae256ba-d791-4384-bee1-17c401ec635b",
      "name": "Google Sheets3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        1820
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d72af052-5bf2-42ec-bbbb-1ac60133c442",
              "leftValue": "={{ $json.ticketId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ab2b26b9-4efa-437c-8093-42dcd285390c",
      "name": "Check Sheet1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1260,
        1820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d457c98-0790-49fc-91b7-3ffc27580504",
              "leftValue": "=",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6e14b4a-1681-4f23-bafa-fed2a9618cc6",
      "name": "Create Client or Agent1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1660,
        1800
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $('TicketSheet1').item.json.ProjectId }}",
        "requestOptions": {}
      },
      "id": "f8c37e86-fe8f-4a14-a4be-c5f58033efc8",
      "name": "Get Project2",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        2040,
        2000
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $('TicketSheet1').item.json.ProjectId }}",
        "requestOptions": {}
      },
      "id": "897ec402-7a9f-4b21-8b82-57921ba89729",
      "name": "Get Project3",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        2020,
        1520
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "getMilestones",
        "ID": "={{ $('Get Project3').item.json.data.id}}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "27901d01-01f7-43ff-8976-b3fe5ddaca5e",
      "name": "Get Milestone Project2",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        2560,
        1520
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "getMilestones",
        "ID": "={{ $('Get Project2').item.json.data.id}}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "c42d323f-214a-4250-9f35-1b7ef7937258",
      "name": "Get Milestone Project3",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        2640,
        2000
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "engagement",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "0fb262c4-b0d6-44bb-8b55-558502de0574",
      "name": "Get ticket1",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        -1760,
        2860
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "433b7f15-53ef-4ce8-b26d-5b6562a68bf0",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -220,
        2880
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1907794604,
          "mode": "list",
          "cachedResultName": "Ticket Check",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=1907794604"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=ticketId",
              "lookupValue": "={{ $json.TicketNumber }}"
            }
          ]
        },
        "options": {}
      },
      "id": "22d2d261-63d3-4167-bc3d-6abff24fe065",
      "name": "Google Sheets6",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        200,
        2900
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d72af052-5bf2-42ec-bbbb-1ac60133c442",
              "leftValue": "={{ $json.ticketId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d16206d-2f57-48e3-9243-448ea06900ec",
      "name": "Check Sheet2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        2900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d457c98-0790-49fc-91b7-3ffc27580504",
              "leftValue": "={{ $('Get ticket1').item.json.data.requester.id }}",
              "rightValue": "={{ $('Get ticket1').item.json.data.create_by.id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c5732575-341d-41cf-b18c-8aa8ecab1880",
      "name": "Create Client or Agent2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        2880
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $('TicketSheet').item.json.ProjectId }}",
        "requestOptions": {}
      },
      "id": "807ea3c4-c004-40fd-b698-2296328a0687",
      "name": "Get Project5",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1260,
        2600
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "client",
        "ID": "={{ $json.data.client.user.id }}",
        "requestOptions": {}
      },
      "id": "606a3575-f0f7-4b9a-901f-1f132f31cdee",
      "name": "Get Client",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        2040,
        80
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fe825d1-f525-4034-a199-27d269291fd8",
              "name": "Ticket.id",
              "value": "={{ $('Check not closed').item.json.data.id }}",
              "type": "string"
            },
            {
              "id": "7ca4d5b5-a919-4f84-b6dc-404b211027d1",
              "name": "Ticket.subject",
              "value": "={{ $('Check not closed').item.json.data.subject }}",
              "type": "string"
            },
            {
              "id": "a51a35d8-21a4-43e7-b329-925c6098b6a5",
              "name": "=Ticket.detail",
              "value": "={{ $('Check not closed').item.json.data.reply.message }}",
              "type": "string"
            },
            {
              "id": "7f491aa5-9fc5-4674-a8fd-c7546375fdf8",
              "name": "Ticket.type",
              "value": "={{ $('Check not closed').item.json.data.type.type }}",
              "type": "string"
            },
            {
              "id": "0396fd3b-7efd-4fc7-9823-8231189e856d",
              "name": "Ticket.status",
              "value": "={{ $('Check not closed').item.json.data.status }}",
              "type": "string"
            },
            {
              "id": "7055bba9-889c-417b-80c2-0fa95009e1d2",
              "name": "Ticket.last_update",
              "value": "={{ $('Check not closed').item.json.data.updated_at }}",
              "type": "string"
            },
            {
              "id": "1e19ddb7-2314-42bd-be84-97294a0d5ebb",
              "name": "Project.id",
              "value": "={{ $('Get Project1').item.json.data.id }}",
              "type": "string"
            },
            {
              "id": "70e6e1d2-ae59-44bf-9e18-2ed4d1033368",
              "name": "Project.name",
              "value": "={{ $('Get Project1').item.json.data.name }}",
              "type": "string"
            },
            {
              "id": "6668ea76-94a1-4be0-8df7-6c1116fa3cc5",
              "name": "Project.summary",
              "value": "={{ $('Get Project1').item.json.data.summary }}",
              "type": "string"
            },
            {
              "id": "e645c857-eb8a-4e70-a512-54f51ce02dd8",
              "name": "MilestoneProject",
              "value": "={{ $json.data }}",
              "type": "array"
            },
            {
              "id": "2a764578-08ff-4887-a42d-97f4365fdb7f",
              "name": "Ticket.priority",
              "value": "={{ $('Check not closed').item.json.data.priority }}",
              "type": "string"
            },
            {
              "id": "e386a3f5-bc97-4fb6-a954-980bd725acd2",
              "name": "Ticket.nameClient",
              "value": "={{ $('Check not closed').item.json.data.requester.name }}",
              "type": "string"
            },
            {
              "id": "ba4e48c2-e7de-4a78-86ab-39885bfe9998",
              "name": "Project.web",
              "value": "={{ $('Get Client1').item.json.data.website }}",
              "type": "string"
            },
            {
              "id": "4d49c994-1c26-4db0-ac0f-30879a899f64",
              "name": "Client.name",
              "value": "={{ $('Get Client1').item.json.data.user.name }}",
              "type": "string"
            },
            {
              "id": "ee2b6919-a529-4aff-9b49-07b78d907e5d",
              "name": "Client.email",
              "value": "={{ $('Get Client1').item.json.data.user.email }}",
              "type": "string"
            },
            {
              "id": "12b25991-47a5-4ae2-ad4f-119fb8d001b5",
              "name": "Client.companyName",
              "value": "={{ $('Get Client1').item.json.data.company_name }}",
              "type": "string"
            },
            {
              "id": "9952301c-0d45-40ac-8e79-48ffcd980206",
              "name": "Client.category",
              "value": "={{ $('Get Client1').item.json.data.category.name }}",
              "type": "string"
            },
            {
              "id": "5f208c3a-cd39-4053-b703-5690a926319d",
              "name": "Client.facebook",
              "value": "={{ $('Get Client1').item.json.data.social_details.facebook }}",
              "type": "string"
            },
            {
              "id": "4ac3fa44-972b-4a34-9733-92551ce2c897",
              "name": "Client.likedin",
              "value": "={{ $('Get Client1').item.json.data.social_details.linkedin }}",
              "type": "string"
            },
            {
              "id": "8042d081-6df9-43ba-96eb-ead83152dde1",
              "name": "Agent.name",
              "value": "={{ $('Check not closed').item.json.data.agent.user.name }}",
              "type": "string"
            },
            {
              "id": "ec297e9e-70bb-471f-82ea-de9398960035",
              "name": "Agent.email",
              "value": "={{ $('Check not closed').item.json.data.agent.user.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "df4c0771-c54f-4c23-8b0e-6c57899562df",
      "name": "Set Value1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2540,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "let dataReFormat = ''\nconst rawData = $input.all()[0]?.json\n\n\n\ndataReFormat =  `\n**Information Ticket**: \n - Subject: ${rawData?.Ticket?.subject}\n - Detail: ${rawData?.Ticket?.detail}\n - Type: ${rawData?.Ticket?.type}\n - Status: ${rawData?.Ticket?.status}\n - Priority: ${rawData?.Ticket?.priority}\n - Last Update: ${rawData?.Ticket?.last_update}\n\n**Information Project of Ticket**:\n - Name: ${rawData?.Project?.name}\n - Summary of project goals: ${rawData?.Project?.summary}\n - Website: ${rawData?.Project?.web}\n\n**Client Profile**:\n - Name: ${rawData?.Client?.name}\n - Email: ${rawData?.Client?.email}\n - Company Name: ${rawData?.Client?.companyName}\n - Client Category: ${rawData?.Client?.category}\n - Client Facebook: ${rawData?.Client?.facebook}\n - Client Likedin: ${rawData?.Client?.likedin}\n`\n\n\ndataReFormat+='\\n*Milestone of Project*:\\n\\n'\nif(Array.isArray(rawData?.MilestoneProject)){\n      for (const [index, item] of rawData?.MilestoneProject?.entries()) {\n      dataReFormat += `- Milestone ${index + 1}: \\n`;\n      dataReFormat += ` + Title: ${item?.title} \\n`;\n      dataReFormat += ` + Cost: ${item?.cost} \\n`;\n      dataReFormat += ` + Summary: ${item?.summary} \\n\\n`;\n      \n    }\n  dataReFormat += ` \\n`;\n}else{\n      dataReFormat += ` + Title: ${rawData?.MilestoneProject?.title} \\n`;\n      dataReFormat += ` + Summary: ${rawData?.MilestoneProject?.summary} \\n`;\n}\n\n\n\nconsole.log('dataReFormat: ', dataReFormat)\n\nreturn { prepareText: dataReFormat };"
      },
      "id": "52ac8a3b-9969-4565-80b4-38d109f5a4d7",
      "name": "prepareText1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "let oldData = $input.all()[0]?.json?.output;\n\n// Replace new lines with <br> tags\noldData = oldData.replace(/\\n\\n<br>\\n\\n/g, '<br>');\noldData = oldData.replace(/\\n\\n/g, '');\noldData = oldData.replace(/\\n/g, '');\n\n\n// Replace ** with <strong> tags for bold text\noldData = oldData.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\n// Replace ### with <h3> tags for subheadings\noldData = oldData.replace(/###\\s*(.*?)(<br>|$)/g, '<h3>$1</h3>');\n\nreturn { textHtml: oldData };\n\n"
      },
      "id": "f4db1d11-11cf-4346-8b2f-d7cf974af5f4",
      "name": "Standardize1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3540,
        540
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1907794604,
          "mode": "list",
          "cachedResultName": "Ticket Check",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=1907794604"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticketId": "={{ $('Check not closed').item.json.data.ticket_number }}"
          },
          "matchingColumns": [
            "ticketId"
          ],
          "schema": [
            {
              "id": "ticketId",
              "displayName": "ticketId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "1b3a18ff-a38b-4aa3-be81-5a1ce17c7cd2",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4240,
        540
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "project_id": "={{ $('Set Value1').item.json.Project.id }}",
        "title": "=Ticket {{ $('Check not closed').item.json.data.ticket_number }} Detailed analysis and recommendation for {{ $('Set Value1').item.json.Project.name }} {{ $('Set Value1').item.json.Project.name }}",
        "details": "={{ $json.textHtml }}\n\n<strong>Link Ticket: <a href=\"https://worksuite.cloodo.com/apps/tickets/all-tickets/{{ $('Set Value1').item.json.Ticket.id }}\"</a>{{ $('Set Value1').item.json.Ticket.subject }}</strong>",
        "category": "client",
        "user_id": "[]",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "fcfde6a5-e79a-492d-9ec5-c448d621dd06",
      "name": "Cloodo CRM2",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        3800,
        540
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "getMilestones",
        "ID": "={{ $('Get Project1').item.json.data.id}}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "4d5b03d6-f363-42f3-b42c-dd34dfb5c895",
      "name": "Get Milestone Project1",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        2260,
        540
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "client",
        "ID": "={{ $json.data.client.user.id }}",
        "requestOptions": {}
      },
      "id": "417ea371-db4e-495a-861b-d1584727f39e",
      "name": "Get Client1",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        2040,
        540
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $('Check not closed').item.json.data.projects.id }}",
        "requestOptions": {}
      },
      "id": "242b4de3-4a6e-4720-b946-cfbdcd985cb7",
      "name": "Get Project1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1740,
        540
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "client",
        "ID": "={{ $json.data.client.user.id }}",
        "requestOptions": {}
      },
      "id": "3e289404-9d25-4595-bd4a-4bbf1cd43d39",
      "name": "Get Client2",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        2320,
        2000
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "client",
        "ID": "={{ $json.data.client.user.id }}",
        "requestOptions": {}
      },
      "id": "cc30b5e1-110b-4a87-88be-5342ca809d56",
      "name": "Get Client3",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        2280,
        1520
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fe825d1-f525-4034-a199-27d269291fd8",
              "name": "Ticket.id",
              "value": "={{ $('TicketSheet1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "7ca4d5b5-a919-4f84-b6dc-404b211027d1",
              "name": "Ticket.subject",
              "value": "={{ $('TicketSheet1').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "a51a35d8-21a4-43e7-b329-925c6098b6a5",
              "name": "=Ticket.detail",
              "value": "={{ $('TicketSheet1').item.json.message }}",
              "type": "string"
            },
            {
              "id": "7f491aa5-9fc5-4674-a8fd-c7546375fdf8",
              "name": "Ticket.type",
              "value": "={{ $('TicketSheet1').item.json.type }}",
              "type": "string"
            },
            {
              "id": "0396fd3b-7efd-4fc7-9823-8231189e856d",
              "name": "Ticket.status",
              "value": "={{ $('TicketSheet1').item.json.status }}",
              "type": "string"
            },
            {
              "id": "7055bba9-889c-417b-80c2-0fa95009e1d2",
              "name": "Ticket.last_update",
              "value": "={{ $('TicketSheet1').item.json.updateAt }}",
              "type": "string"
            },
            {
              "id": "1e19ddb7-2314-42bd-be84-97294a0d5ebb",
              "name": "Project.id",
              "value": "={{ $('Get Project3').item.json.data.id }}",
              "type": "string"
            },
            {
              "id": "70e6e1d2-ae59-44bf-9e18-2ed4d1033368",
              "name": "Project.name",
              "value": "={{ $('Get Project3').item.json.data.name }}",
              "type": "string"
            },
            {
              "id": "6668ea76-94a1-4be0-8df7-6c1116fa3cc5",
              "name": "Project.summary",
              "value": "={{ $('Get Project3').item.json.data.summary }}",
              "type": "string"
            },
            {
              "id": "e645c857-eb8a-4e70-a512-54f51ce02dd8",
              "name": "MilestoneProject",
              "value": "={{ $json.data }}",
              "type": "array"
            },
            {
              "id": "2a764578-08ff-4887-a42d-97f4365fdb7f",
              "name": "Ticket.priority",
              "value": "={{ $('TicketSheet1').item.json.priority }}",
              "type": "string"
            },
            {
              "id": "e386a3f5-bc97-4fb6-a954-980bd725acd2",
              "name": "Ticket.nameClient",
              "value": "={{ $('TicketSheet1').item.json.requesterName }}",
              "type": "string"
            },
            {
              "id": "ba4e48c2-e7de-4a78-86ab-39885bfe9998",
              "name": "Project.web",
              "value": "={{ $('Get Client3').item.json.data.website }}",
              "type": "string"
            },
            {
              "id": "4d49c994-1c26-4db0-ac0f-30879a899f64",
              "name": "Client.name",
              "value": "={{ $('Get Client3').item.json.data.user.name }}",
              "type": "string"
            },
            {
              "id": "ee2b6919-a529-4aff-9b49-07b78d907e5d",
              "name": "Client.email",
              "value": "={{ $('Get Client3').item.json.data.user.email }}",
              "type": "string"
            },
            {
              "id": "12b25991-47a5-4ae2-ad4f-119fb8d001b5",
              "name": "Client.companyName",
              "value": "={{ $('Get Client3').item.json.data.company_name }}",
              "type": "string"
            },
            {
              "id": "9952301c-0d45-40ac-8e79-48ffcd980206",
              "name": "Client.category",
              "value": "={{ $('Get Client3').item.json.data.category.name }}",
              "type": "string"
            },
            {
              "id": "5f208c3a-cd39-4053-b703-5690a926319d",
              "name": "Client.facebook",
              "value": "={{ $('Get Client3').item.json.data.social_details.facebook }}",
              "type": "string"
            },
            {
              "id": "4ac3fa44-972b-4a34-9733-92551ce2c897",
              "name": "Client.likedin",
              "value": "={{ $('Get Client3').item.json.data.social_details.linkedin }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0a205d93-bde1-494a-8ab9-96bb9c87f8bb",
      "name": "Set Value2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2900,
        1520
      ]
    },
    {
      "parameters": {
        "jsCode": "let dataReFormat = ''\nconst rawData = $input.all()[0]?.json\n\n\n\ndataReFormat =  `\n**Information Ticket**: \n - Subject: ${rawData?.Ticket?.subject}\n - Detail: ${rawData?.Ticket?.detail}\n - Type: ${rawData?.Ticket?.type}\n - Status: ${rawData?.Ticket?.status}\n - Priority: ${rawData?.Ticket?.priority}\n - Last Update: ${rawData?.Ticket?.last_update}\n\n**Information Project of Ticket**:\n - Name: ${rawData?.Project?.name}\n - Summary of project goals: ${rawData?.Project?.summary}\n - Website: ${rawData?.Project?.web}\n\n**Client Profile**:\n - Name: ${rawData?.Client?.name}\n - Email: ${rawData?.Client?.email}\n - Company Name: ${rawData?.Client?.companyName}\n - Client Category: ${rawData?.Client?.category}\n - Client Facebook: ${rawData?.Client?.facebook}\n - Client Likedin: ${rawData?.Client?.likedin}\n`\n\n\ndataReFormat+='\\n*Milestone of Project*:\\n\\n'\nif(Array.isArray(rawData?.MilestoneProject)){\n      for (const [index, item] of rawData?.MilestoneProject?.entries()) {\n      dataReFormat += `- Milestone ${index + 1}: \\n`;\n      dataReFormat += ` + Title: ${item?.title} \\n`;\n      dataReFormat += ` + Cost: ${item?.cost} \\n`;\n      dataReFormat += ` + Summary: ${item?.summary} \\n\\n`;\n      \n    }\n  dataReFormat += ` \\n`;\n}else{\n      dataReFormat += ` + Title: ${rawData?.MilestoneProject?.title} \\n`;\n      dataReFormat += ` + Summary: ${rawData?.MilestoneProject?.summary} \\n`;\n}\n\n\n\nconsole.log('dataReFormat: ', dataReFormat)\n\nreturn { prepareText: dataReFormat };"
      },
      "id": "42ca993b-8f2f-4e9f-af83-1b70d5db0c05",
      "name": "prepareText2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        1520
      ]
    },
    {
      "parameters": {
        "jsCode": "let oldData = $input.all()[0]?.json?.output;\n\n// Replace new lines with <br> tags\noldData = oldData.replace(/\\n\\n<br>\\n\\n/g, '<br>');\noldData = oldData.replace(/\\n\\n/g, '');\noldData = oldData.replace(/\\n/g, '');\n\n\n// Replace ** with <strong> tags for bold text\noldData = oldData.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\n// Replace ### with <h3> tags for subheadings\noldData = oldData.replace(/###\\s*(.*?)(<br>|$)/g, '<h3>$1</h3>');\n\nreturn { textHtml: oldData };\n\n"
      },
      "id": "f5d8a0ac-6b1c-423d-bef3-2e53ccd78de2",
      "name": "Standardize2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1907794604,
          "mode": "list",
          "cachedResultName": "Ticket Check",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=1907794604"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticketId": "={{ $('TicketSheet1').item.json.TicketNumber }}"
          },
          "matchingColumns": [
            "ticketId"
          ],
          "schema": [
            {
              "id": "ticketId",
              "displayName": "ticketId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "044bf703-c8f5-4e3e-8652-1a99ab522500",
      "name": "Google Sheets5",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4420,
        1520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "project_id": "={{ $('Set Value2').item.json.Project.id }}",
        "title": "=Ticket {{ $('TicketSheet1').item.json.TicketNumber }} Detailed analysis and recommendation for {{ $('Set Value2').item.json.Project.name }}",
        "details": "={{ $json.textHtml }}\n\n<strong>Link Ticket: <a href=\"https://worksuite.cloodo.com/apps/tickets/all-tickets/{{ $('Set Value2').item.json.Ticket.id }}\"</a>{{ $('Set Value2').item.json.Ticket.subject }}</strong>",
        "category": "ticket",
        "user_id": "[]",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "6bc45548-d5ed-41c5-9a67-130af440eda1",
      "name": "Cloodo CRM4",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        4140,
        1520
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let dataReFormat = ''\nconst rawData = $input.all()[0]?.json\n\n\n\ndataReFormat =  `\n**Information Ticket**: \n - Subject: ${rawData?.Ticket?.subject}\n - Detail: ${rawData?.Ticket?.detail}\n - Type: ${rawData?.Ticket?.type}\n - Status: ${rawData?.Ticket?.status}\n - Priority: ${rawData?.Ticket?.priority}\n - Last Update: ${rawData?.Ticket?.last_update}\n\n**Information Project of Ticket**:\n - Name: ${rawData?.Project?.name}\n - Summary of project goals: ${rawData?.Project?.summary}\n - Website: ${rawData?.Project?.web}\n\n**Client Profile**:\n - Name: ${rawData?.Client?.name}\n - Email: ${rawData?.Client?.email}\n - Company Name: ${rawData?.Client?.companyName}\n - Client Category: ${rawData?.Client?.category}\n - Client Facebook: ${rawData?.Client?.facebook}\n - Client Likedin: ${rawData?.Client?.likedin}\n`\n\n\ndataReFormat+='\\n*Milestone of Project*:\\n\\n'\nif(Array.isArray(rawData?.MilestoneProject)){\n      for (const [index, item] of rawData?.MilestoneProject?.entries()) {\n      dataReFormat += `- Milestone ${index + 1}: \\n`;\n      dataReFormat += ` + Title: ${item?.title} \\n`;\n      dataReFormat += ` + Cost: ${item?.cost} \\n`;\n      dataReFormat += ` + Summary: ${item?.summary} \\n\\n`;\n      \n    }\n  dataReFormat += ` \\n`;\n}else{\n      dataReFormat += ` + Title: ${rawData?.MilestoneProject?.title} \\n`;\n      dataReFormat += ` + Summary: ${rawData?.MilestoneProject?.summary} \\n`;\n}\n\n\n\nconsole.log('dataReFormat: ', dataReFormat)\n\nreturn { prepareText: dataReFormat };"
      },
      "id": "c58f84c7-fee2-42ac-9d49-0d5327151591",
      "name": "prepareText3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3220,
        2000
      ]
    },
    {
      "parameters": {
        "jsCode": "let oldData = $input.all()[0]?.json?.output;\n\n// Replace new lines with <br> tags\noldData = oldData.replace(/\\n\\n<br>\\n\\n/g, '<br>');\noldData = oldData.replace(/\\n\\n/g, '');\noldData = oldData.replace(/\\n/g, '');\n\n\n// Replace ** with <strong> tags for bold text\noldData = oldData.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\n// Replace ### with <h3> tags for subheadings\noldData = oldData.replace(/###\\s*(.*?)(<br>|$)/g, '<h3>$1</h3>');\n\nreturn { textHtml: oldData };\n\n"
      },
      "id": "a0a750cf-e24d-4be5-bb9e-22336fbab5ed",
      "name": "Standardize3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3940,
        2000
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1907794604,
          "mode": "list",
          "cachedResultName": "Ticket Check",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=1907794604"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticketId": "={{ $('TicketSheet1').item.json.TicketNumber }}"
          },
          "matchingColumns": [
            "ticketId"
          ],
          "schema": [
            {
              "id": "ticketId",
              "displayName": "ticketId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "48636df8-f7dd-4615-b8ce-ac41965048e9",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4440,
        2000
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "project_id": "={{ $('Set Value3').item.json.Project.id }}",
        "title": "=Ticket {{ $('TicketSheet1').item.json.TicketNumber }} Detailed analysis and recommendation for {{ $('Set Value3').item.json.Project.name }} {{ $('Set Value3').item.json.Project.name }}",
        "details": "={{ $json.textHtml }}\n\n<strong>Link Ticket: <a href=\"https://worksuite.cloodo.com/apps/tickets/all-tickets/{{ $('Set Value3').item.json.Ticket.id }}\"</a>{{ $('Set Value3').item.json.Ticket.subject }}</strong>",
        "category": "client",
        "user_id": "[]",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "0248bad8-c6ef-4c84-9fd4-c233f36a1858",
      "name": "Cloodo CRM6",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        4160,
        2000
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "45e65ced-05dc-4f34-a44a-1beb999b978c",
              "leftValue": "={{ $json.data.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6b0256ce-72c9-4411-a926-b954a9488c4e",
      "name": "Check null",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -920,
        3840
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 485924616,
          "mode": "list",
          "cachedResultName": "TicketMany",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=485924616"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.data.id }}",
            "TicketNumber": "={{ $json.data.ticket_number }}",
            "type": "={{ $json.data.type }}",
            "message": "={{ $json.data.reply.message }}",
            "requesterName": "={{ $json.data.requester.name }}",
            "ProjectId": "={{ $json.data.projects.id }}",
            "priority": "={{ $json.data.priority }}",
            "status": "={{ $json.data.status }}",
            "subject": "={{ $json.data.subject }}",
            "updateAt": "={{ $json.data.updated_at }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updateAt",
              "displayName": "updateAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "requesterName",
              "displayName": "requesterName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ProjectId",
              "displayName": "ProjectId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TicketNumber",
              "displayName": "TicketNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d14460a0-faa6-4455-b6d0-c5081496f64a",
      "name": "Google Sheets9",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1340,
        2860
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "getMilestones",
        "ID": "={{ $('Get Project5').item.json.data.id}}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "162ecfe3-25e8-4051-9776-5e43e9ec6ff5",
      "name": "Get Milestone Project4",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        1820,
        2600
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "client",
        "ID": "={{ $json.data.client.user.id }}",
        "requestOptions": {}
      },
      "id": "7feeeeb9-4a40-41be-bf14-10b63459ac97",
      "name": "Get Client4",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        1540,
        2600
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fe825d1-f525-4034-a199-27d269291fd8",
              "name": "Ticket.id",
              "value": "={{ $('TicketSheet').item.json.id }}",
              "type": "string"
            },
            {
              "id": "7ca4d5b5-a919-4f84-b6dc-404b211027d1",
              "name": "Ticket.subject",
              "value": "={{ $('TicketSheet').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "a51a35d8-21a4-43e7-b329-925c6098b6a5",
              "name": "=Ticket.detail",
              "value": "={{ $('TicketSheet').item.json.message }}",
              "type": "string"
            },
            {
              "id": "7f491aa5-9fc5-4674-a8fd-c7546375fdf8",
              "name": "Ticket.type",
              "value": "={{ $('TicketSheet').item.json.type }}",
              "type": "string"
            },
            {
              "id": "0396fd3b-7efd-4fc7-9823-8231189e856d",
              "name": "Ticket.status",
              "value": "={{ $('TicketSheet').item.json.status }}",
              "type": "string"
            },
            {
              "id": "7055bba9-889c-417b-80c2-0fa95009e1d2",
              "name": "Ticket.last_update",
              "value": "={{ $('TicketSheet').item.json.updateAt }}",
              "type": "string"
            },
            {
              "id": "1e19ddb7-2314-42bd-be84-97294a0d5ebb",
              "name": "Project.id",
              "value": "={{ $('Get Project5').item.json.data.id }}",
              "type": "string"
            },
            {
              "id": "70e6e1d2-ae59-44bf-9e18-2ed4d1033368",
              "name": "Project.name",
              "value": "={{ $('Get Project5').item.json.data.name }}",
              "type": "string"
            },
            {
              "id": "6668ea76-94a1-4be0-8df7-6c1116fa3cc5",
              "name": "Project.summary",
              "value": "={{ $('Get Project5').item.json.data.summary }}",
              "type": "string"
            },
            {
              "id": "e645c857-eb8a-4e70-a512-54f51ce02dd8",
              "name": "MilestoneProject",
              "value": "={{ $json.data }}",
              "type": "array"
            },
            {
              "id": "2a764578-08ff-4887-a42d-97f4365fdb7f",
              "name": "Ticket.priority",
              "value": "={{ $('TicketSheet').item.json.priority }}",
              "type": "string"
            },
            {
              "id": "e386a3f5-bc97-4fb6-a954-980bd725acd2",
              "name": "Ticket.nameClient",
              "value": "={{ $('TicketSheet').item.json.requesterName }}",
              "type": "string"
            },
            {
              "id": "ba4e48c2-e7de-4a78-86ab-39885bfe9998",
              "name": "Project.web",
              "value": "={{ $('Get Client4').item.json.data.website }}",
              "type": "string"
            },
            {
              "id": "4d49c994-1c26-4db0-ac0f-30879a899f64",
              "name": "Client.name",
              "value": "={{ $('Get Client4').item.json.data.user.name }}",
              "type": "string"
            },
            {
              "id": "ee2b6919-a529-4aff-9b49-07b78d907e5d",
              "name": "Client.email",
              "value": "={{ $('Get Client4').item.json.data.user.email }}",
              "type": "string"
            },
            {
              "id": "12b25991-47a5-4ae2-ad4f-119fb8d001b5",
              "name": "Client.companyName",
              "value": "={{ $('Get Client4').item.json.data.company_name }}",
              "type": "string"
            },
            {
              "id": "9952301c-0d45-40ac-8e79-48ffcd980206",
              "name": "Client.category",
              "value": "={{ $('Get Client4').item.json.data.category.name }}",
              "type": "string"
            },
            {
              "id": "5f208c3a-cd39-4053-b703-5690a926319d",
              "name": "Client.facebook",
              "value": "={{ $('Get Client4').item.json.data.social_details.facebook }}",
              "type": "string"
            },
            {
              "id": "4ac3fa44-972b-4a34-9733-92551ce2c897",
              "name": "Client.likedin",
              "value": "={{ $('Get Client4').item.json.data.social_details.linkedin }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e2541b50-e1d2-4ed6-a9be-fe169c2365b4",
      "name": "Set Value4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        2600
      ]
    },
    {
      "parameters": {
        "jsCode": "let dataReFormat = ''\nconst rawData = $input.all()[0]?.json\n\n\n\ndataReFormat =  `\n**Information Ticket**: \n - Subject: ${rawData?.Ticket?.subject}\n - Detail: ${rawData?.Ticket?.detail}\n - Type: ${rawData?.Ticket?.type}\n - Status: ${rawData?.Ticket?.status}\n - Priority: ${rawData?.Ticket?.priority}\n - Last Update: ${rawData?.Ticket?.last_update}\n\n**Information Project of Ticket**:\n - Name: ${rawData?.Project?.name}\n - Summary of project goals: ${rawData?.Project?.summary}\n - Website: ${rawData?.Project?.web}\n\n**Client Profile**:\n - Name: ${rawData?.Client?.name}\n - Email: ${rawData?.Client?.email}\n - Company Name: ${rawData?.Client?.companyName}\n - Client Category: ${rawData?.Client?.category}\n - Client Facebook: ${rawData?.Client?.facebook}\n - Client Likedin: ${rawData?.Client?.likedin}\n`\n\n\ndataReFormat+='\\n*Milestone of Project*:\\n\\n'\nif(Array.isArray(rawData?.MilestoneProject)){\n      for (const [index, item] of rawData?.MilestoneProject?.entries()) {\n      dataReFormat += `- Milestone ${index + 1}: \\n`;\n      dataReFormat += ` + Title: ${item?.title} \\n`;\n      dataReFormat += ` + Cost: ${item?.cost} \\n`;\n      dataReFormat += ` + Summary: ${item?.summary} \\n\\n`;\n      \n    }\n  dataReFormat += ` \\n`;\n}else{\n      dataReFormat += ` + Title: ${rawData?.MilestoneProject?.title} \\n`;\n      dataReFormat += ` + Summary: ${rawData?.MilestoneProject?.summary} \\n`;\n}\n\n\n\nconsole.log('dataReFormat: ', dataReFormat)\n\nreturn { prepareText: dataReFormat };"
      },
      "id": "999eb1a2-1752-4f08-8efa-035ec4d9dc54",
      "name": "prepareText4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        2600
      ]
    },
    {
      "parameters": {
        "jsCode": "let oldData = $input.all()[0]?.json?.output;\n\n// Replace new lines with <br> tags\noldData = oldData.replace(/\\n\\n<br>\\n\\n/g, '<br>');\noldData = oldData.replace(/\\n\\n/g, '');\noldData = oldData.replace(/\\n/g, '');\n\n\n// Replace ** with <strong> tags for bold text\noldData = oldData.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\n// Replace ### with <h3> tags for subheadings\noldData = oldData.replace(/###\\s*(.*?)(<br>|$)/g, '<h3>$1</h3>');\n\nreturn { textHtml: oldData };\n\n"
      },
      "id": "97483e0b-3af4-4515-b49a-883e33c93fa8",
      "name": "Standardize4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3180,
        2600
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1907794604,
          "mode": "list",
          "cachedResultName": "Ticket Check",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=1907794604"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticketId": "={{ $('TicketSheet').item.json.TicketNumber }}"
          },
          "matchingColumns": [
            "ticketId"
          ],
          "schema": [
            {
              "id": "ticketId",
              "displayName": "ticketId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "dcee6093-dd1f-4f1e-8f0a-bee6e47ab4e0",
      "name": "Google Sheets8",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3680,
        2600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "project_id": "={{ $('Set Value4').item.json.Project.id }}",
        "title": "=Ticket {{ $('TicketSheet').item.json.TicketNumber }} Detailed analysis and recommendation for {{ $('Set Value4').item.json.Project.name }} {{ $('Set Value4').item.json.Project.name }}",
        "details": "={{ $json.textHtml }}\n\n<strong>Link Ticket: <a href=\"https://worksuite.cloodo.com/apps/tickets/all-tickets/{{ $('Set Value4').item.json.Ticket.id }}\"</a>{{ $('Set Value4').item.json.Ticket.subject }}</strong>",
        "category": "client",
        "user_id": "[]",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "0fc35edc-06f2-4c46-b20d-e3e7606fab22",
      "name": "Cloodo CRM7",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        3400,
        2600
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 485924616,
          "mode": "list",
          "cachedResultName": "TicketMany",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=485924616"
        },
        "options": {}
      },
      "id": "6864bcaa-132b-4117-aaa7-d5aaaa7f0fae",
      "name": "TicketSheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -600,
        2880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_AVeiW0a2XaMvsu5SwqARpYN6",
          "mode": "list",
          "cachedResultName": "Cmsmart Admin - AI Assistant"
        },
        "prompt": "define",
        "text": "=Using card <p>, <strong>, <ul>, <li>\nYou are a Senior Consultant assisting with the management of a client ticket. The assigned agent is a Business Analyst (BA) or Project Manager, and you need to provide guidance on how to proceed with the ticket. Your goal is to:\n\nAnalyze the ticket content: Understand the client’s request and categorize the issue.\nCreate tasks for technical investigation: Clearly define actionable tasks that can be assigned to the development team for further technical investigation.\nEngage the client with more specific questions: Suggest key questions to ask the client to gather more detailed information or clarify unclear points.\nPropose alternative solutions: Offer suggestions on how the client’s issue might be addressed, including alternatives or best practices.\nProvide additional assistance: Depending on the category of the ticket or the client’s profile, offer further assistance or direct the agent on how to best support the client.\nReview the client profile and project information: Ensure the agent has a complete understanding of the client's background, status, and previous interactions before proceeding.\nOutput structure:\n\nUsing card <p>, <strong>, <ul>, <li>\nTicket Analysis: Summarize the core issue or request.\nKey Questions for Client: List questions that can help gather more information or clarify the request.\nTask Suggestions for Development: Define tasks for technical investigation or further steps.\nAlternative Solutions: Provide potential solutions or options to consider.\nClient Engagement Strategy: Suggest how to proceed with the client based on their profile and ticket category.\n\nSee below for completion of the keywords above:\n{{ $json.prepareText }}\n\n<strong>Link Ticket: <a href=\"https://worksuite.cloodo.com/apps/tickets/all-tickets/{{ $('Set Value4').item.json.Ticket.id }}\"</a>{{ $('Set Value4').item.json.Ticket.subject }}</strong>\n",
        "options": {}
      },
      "id": "23f2e9ad-32e2-4e31-990f-94d25770c9b7",
      "name": "OpenAI5",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        2800,
        2600
      ],
      "credentials": {
        "openAiApi": {
          "id": "Fr1fa0hUFyO4bC5x",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $('TicketSheet').item.json.ProjectId }}",
        "requestOptions": {}
      },
      "id": "373884ec-ca8c-4498-b5bc-0efd05c3a572",
      "name": "Get Project6",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        1280,
        3060
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "project",
        "operation": "getMilestones",
        "ID": "={{ $('Get Project6').item.json.data.id}}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "a5372679-9aa7-4393-9944-3c3df2a4b8db",
      "name": "Get Milestone Project5",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        1840,
        3060
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "client",
        "ID": "={{ $json.data.client.user.id }}",
        "requestOptions": {}
      },
      "id": "7d0c897f-bf1b-4206-8024-7e367a6757a2",
      "name": "Get Client5",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        1560,
        3060
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fe825d1-f525-4034-a199-27d269291fd8",
              "name": "Ticket.id",
              "value": "={{ $('TicketSheet').item.json.id }}",
              "type": "string"
            },
            {
              "id": "7ca4d5b5-a919-4f84-b6dc-404b211027d1",
              "name": "Ticket.subject",
              "value": "={{ $('TicketSheet').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "a51a35d8-21a4-43e7-b329-925c6098b6a5",
              "name": "=Ticket.detail",
              "value": "={{ $('TicketSheet').item.json.message }}",
              "type": "string"
            },
            {
              "id": "7f491aa5-9fc5-4674-a8fd-c7546375fdf8",
              "name": "Ticket.type",
              "value": "={{ $('TicketSheet').item.json.type }}",
              "type": "string"
            },
            {
              "id": "0396fd3b-7efd-4fc7-9823-8231189e856d",
              "name": "Ticket.status",
              "value": "={{ $('TicketSheet').item.json.status }}",
              "type": "string"
            },
            {
              "id": "7055bba9-889c-417b-80c2-0fa95009e1d2",
              "name": "Ticket.last_update",
              "value": "={{ $('TicketSheet').item.json.updateAt }}",
              "type": "string"
            },
            {
              "id": "1e19ddb7-2314-42bd-be84-97294a0d5ebb",
              "name": "Project.id",
              "value": "={{ $('Get Project6').item.json.data.id }}",
              "type": "string"
            },
            {
              "id": "70e6e1d2-ae59-44bf-9e18-2ed4d1033368",
              "name": "Project.name",
              "value": "={{ $('Get Project6').item.json.data.name }}",
              "type": "string"
            },
            {
              "id": "6668ea76-94a1-4be0-8df7-6c1116fa3cc5",
              "name": "Project.summary",
              "value": "={{ $('Get Project6').item.json.data.summary }}",
              "type": "string"
            },
            {
              "id": "e645c857-eb8a-4e70-a512-54f51ce02dd8",
              "name": "MilestoneProject",
              "value": "={{ $json.data }}",
              "type": "array"
            },
            {
              "id": "2a764578-08ff-4887-a42d-97f4365fdb7f",
              "name": "Ticket.priority",
              "value": "={{ $('TicketSheet').item.json.priority }}",
              "type": "string"
            },
            {
              "id": "e386a3f5-bc97-4fb6-a954-980bd725acd2",
              "name": "Ticket.nameClient",
              "value": "={{ $('TicketSheet').item.json.requesterName }}",
              "type": "string"
            },
            {
              "id": "ba4e48c2-e7de-4a78-86ab-39885bfe9998",
              "name": "Project.web",
              "value": "={{ $('Get Client5').item.json.data.website }}",
              "type": "string"
            },
            {
              "id": "4d49c994-1c26-4db0-ac0f-30879a899f64",
              "name": "Client.name",
              "value": "={{ $('Get Client5').item.json.data.user.name }}",
              "type": "string"
            },
            {
              "id": "ee2b6919-a529-4aff-9b49-07b78d907e5d",
              "name": "Client.email",
              "value": "={{ $('Get Client5').item.json.data.user.email }}",
              "type": "string"
            },
            {
              "id": "12b25991-47a5-4ae2-ad4f-119fb8d001b5",
              "name": "Client.companyName",
              "value": "={{ $('Get Client5').item.json.data.company_name }}",
              "type": "string"
            },
            {
              "id": "9952301c-0d45-40ac-8e79-48ffcd980206",
              "name": "Client.category",
              "value": "={{ $('Get Client5').item.json.data.category.name }}",
              "type": "string"
            },
            {
              "id": "5f208c3a-cd39-4053-b703-5690a926319d",
              "name": "Client.facebook",
              "value": "={{ $('Get Client5').item.json.data.social_details.facebook }}",
              "type": "string"
            },
            {
              "id": "4ac3fa44-972b-4a34-9733-92551ce2c897",
              "name": "Client.likedin",
              "value": "={{ $('Get Client5').item.json.data.social_details.linkedin }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c70815dc-1fed-4b06-8273-14e96ccd518a",
      "name": "Set Value5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2180,
        3060
      ]
    },
    {
      "parameters": {
        "jsCode": "let dataReFormat = ''\nconst rawData = $input.all()[0]?.json\n\n\n\ndataReFormat =  `\n**Information Ticket**: \n - Subject: ${rawData?.Ticket?.subject}\n - Detail: ${rawData?.Ticket?.detail}\n - Type: ${rawData?.Ticket?.type}\n - Status: ${rawData?.Ticket?.status}\n - Priority: ${rawData?.Ticket?.priority}\n - Last Update: ${rawData?.Ticket?.last_update}\n\n**Information Project of Ticket**:\n - Name: ${rawData?.Project?.name}\n - Summary of project goals: ${rawData?.Project?.summary}\n - Website: ${rawData?.Project?.web}\n\n**Client Profile**:\n - Name: ${rawData?.Client?.name}\n - Email: ${rawData?.Client?.email}\n - Company Name: ${rawData?.Client?.companyName}\n - Client Category: ${rawData?.Client?.category}\n - Client Facebook: ${rawData?.Client?.facebook}\n - Client Likedin: ${rawData?.Client?.likedin}\n`\n\n\ndataReFormat+='\\n*Milestone of Project*:\\n\\n'\nif(Array.isArray(rawData?.MilestoneProject)){\n      for (const [index, item] of rawData?.MilestoneProject?.entries()) {\n      dataReFormat += `- Milestone ${index + 1}: \\n`;\n      dataReFormat += ` + Title: ${item?.title} \\n`;\n      dataReFormat += ` + Cost: ${item?.cost} \\n`;\n      dataReFormat += ` + Summary: ${item?.summary} \\n\\n`;\n      \n    }\n  dataReFormat += ` \\n`;\n}else{\n      dataReFormat += ` + Title: ${rawData?.MilestoneProject?.title} \\n`;\n      dataReFormat += ` + Summary: ${rawData?.MilestoneProject?.summary} \\n`;\n}\n\n\n\nconsole.log('dataReFormat: ', dataReFormat)\n\nreturn { prepareText: dataReFormat };"
      },
      "id": "61fe9863-bc89-4844-beeb-83caeb0b6b66",
      "name": "prepareText5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        3060
      ]
    },
    {
      "parameters": {
        "jsCode": "let oldData = $input.all()[0]?.json?.output;\n\n// Replace new lines with <br> tags\noldData = oldData.replace(/\\n\\n<br>\\n\\n/g, '<br>');\noldData = oldData.replace(/\\n\\n/g, '');\noldData = oldData.replace(/\\n/g, '');\n\n\n// Replace ** with <strong> tags for bold text\noldData = oldData.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\n// Replace ### with <h3> tags for subheadings\noldData = oldData.replace(/###\\s*(.*?)(<br>|$)/g, '<h3>$1</h3>');\n\nreturn { textHtml: oldData };\n\n"
      },
      "id": "7be15fad-d918-418d-ae3c-4b0637f60f65",
      "name": "Standardize5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        3060
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1907794604,
          "mode": "list",
          "cachedResultName": "Ticket Check",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=1907794604"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticketId": "={{ $('TicketSheet').item.json.TicketNumber }}"
          },
          "matchingColumns": [
            "ticketId"
          ],
          "schema": [
            {
              "id": "ticketId",
              "displayName": "ticketId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "a62bd598-f40e-433e-b1df-ad05c79247aa",
      "name": "Google Sheets10",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3700,
        3060
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "project_id": "={{ $('Set Value5').item.json.Project.id }}",
        "title": "=Ticket {{ $('TicketSheet').item.json.TicketNumber }} Detailed analysis and recommendation for {{ $('Set Value5').item.json.Project.name }} {{ $('Set Value5').item.json.Project.name }}",
        "details": "={{ $json.textHtml }}\n\n<strong>Link Ticket: <a href=\"https://worksuite.cloodo.com/apps/tickets/all-tickets/{{ $('Set Value5').item.json.Ticket.id }}\"</a>{{ $('Set Value5').item.json.Ticket.subject }}</strong>",
        "category": "client",
        "user_id": "[]",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "5e5e7296-28b0-4850-8ca0-0f02a83d4c0d",
      "name": "Cloodo CRM8",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        3420,
        3060
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_AVeiW0a2XaMvsu5SwqARpYN6",
          "mode": "list",
          "cachedResultName": "Cmsmart Admin - AI Assistant"
        },
        "prompt": "define",
        "text": "=Using card <p>, <strong>, <ul>, <li>\nYou are a Senior Consultant assisting with the management of a client ticket. The assigned agent is a Business Analyst (BA) or Project Manager, and you need to provide guidance on how to proceed with the ticket. Your goal is to:\n\nAnalyze the ticket content: Understand the client’s request and categorize the issue.\nCreate tasks for technical investigation: Clearly define actionable tasks that can be assigned to the development team for further technical investigation.\nEngage the client with more specific questions: Suggest key questions to ask the client to gather more detailed information or clarify unclear points.\nPropose alternative solutions: Offer suggestions on how the client’s issue might be addressed, including alternatives or best practices.\nProvide additional assistance: Depending on the category of the ticket or the client’s profile, offer further assistance or direct the agent on how to best support the client.\nReview the client profile and project information: Ensure the agent has a complete understanding of the client's background, status, and previous interactions before proceeding.\nOutput structure:\n\nUsing card <p>, <strong>, <ul>, <li>\nTicket Analysis: Summarize the core issue or request.\nKey Questions for Client: List questions that can help gather more information or clarify the request.\nTask Suggestions for Development: Define tasks for technical investigation or further steps.\nAlternative Solutions: Provide potential solutions or options to consider.\nClient Engagement Strategy: Suggest how to proceed with the client based on their profile and ticket category.\n\nSee below for completion of the keywords above:\n{{ $json.prepareText }}\n\n<strong>Link Ticket: <a href=\"https://worksuite.cloodo.com/apps/tickets/all-tickets/{{ $('Set Value5').item.json.Ticket.id }}\"</a>{{ $('Set Value5').item.json.Ticket.subject }}</strong>\n",
        "options": {}
      },
      "id": "c076486a-3e47-41c1-90a6-e9a7d6280bd4",
      "name": "OpenAI6",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        2820,
        3060
      ],
      "credentials": {
        "openAiApi": {
          "id": "Fr1fa0hUFyO4bC5x",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 485924616,
          "mode": "list",
          "cachedResultName": "TicketMany",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=485924616"
        },
        "numberToDelete": 100
      },
      "id": "e00de647-791e-402e-b319-147779107f85",
      "name": "Google Sheets11",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2640,
        2860
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloodo.com/mautic.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Set Value1').item.json.Agent.email }}"
            },
            {
              "name": "uname",
              "value": "={{ $('Set Value1').item.json.Agent.name }}"
            },
            {
              "name": "subject",
              "value": "=Ticket {{ $('Check not closed').item.json.data.ticket_number }} Detailed analysis and recommendation for {{ $('Set Value1').item.json.Project.name }} {{ $('Set Value1').item.json.Project.name }}"
            },
            {
              "name": "send_mail",
              "value": "cmsmart"
            },
            {
              "name": "email_id",
              "value": "109"
            },
            {
              "name": "content",
              "value": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n\n<body style=\"font-family: Arial, sans-serif; color: #333; line-height: 1.6; margin: 0;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\" background-color: #fff;\">\n        <!-- Content -->\n        <tr>\n            <td style=\"font-size: 14px; color: black\">\n                <p>Dear {{ $('Set Value1').item.json.Agent.name }},</p></br>\n                <p>{{ $('Standardize1').item.json.textHtml }}</p>\n<strong>Link project: <a href=\"https://worksuite.cloodo.com/apps/work/project/{{ $('Set Value1').item.json.Project.id }}\">{{ $('Set Value1').item.json.Project.name }}</a></strong>\n                <p>Best Regards,</p>\n                <p>CmsMart Admin</p>\n            </td>\n        </tr>\n        \n \n    </table>\n</body>\n\n</html>\n\n"
            }
          ]
        },
        "options": {}
      },
      "id": "a19bf4c4-65ce-4c72-872c-41ea5a86d223",
      "name": "Project_Analysis_Ticket_Note3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4040,
        540
      ]
    },
    {
      "parameters": {
        "resource": "engagement",
        "operation": "getEngagementByProject",
        "project_id": "={{ $json.data[0].projects.id }}",
        "page": "=1",
        "additionalFields": {},
        "requestOptions": {}
      },
      "id": "81f74490-e443-4211-b30e-c46bdc928324",
      "name": "Cloodo CRM5",
      "type": "@cloodo/n8n-nodes-cloodo-crm.CloodoLeads",
      "typeVersion": 1,
      "position": [
        -680,
        1320
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8ade0de7-e565-49a3-a155-572945dbc358",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "closed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0bfd330d-502f-4d5c-b643-a1d757dc0bfc",
      "name": "Check closed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -980,
        1720
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "id": "5fc02830-72ab-40f4-8777-659c0ae1e5fd",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -900,
        2880
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=781654020#gid=781654020",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 781654020,
          "mode": "list",
          "cachedResultName": "TicketMany",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=781654020"
        },
        "options": {}
      },
      "id": "4f2c3563-5ddb-4a0e-aea2-b3323ba8fea1",
      "name": "TicketSheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        260,
        1800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=781654020#gid=781654020",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 781654020,
          "mode": "list",
          "cachedResultName": "TicketMany",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=781654020"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.data.id }}",
            "subject": "={{ $json.data.subject }}",
            "message": "={{ $json.data.reply.message }}",
            "type": "={{ $json.data.type.type }}",
            "status": "={{ $json.data.status }}",
            "priority": "={{ $json.data.priority }}",
            "requesterName": "={{ $json.data.requester.name }}",
            "ProjectId": "={{ $json.data.projects.id }}",
            "TicketNumber": "={{ $json.data.ticket_number }}",
            "updateAt": "={{ $json.data.updated_at }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updateAt",
              "displayName": "updateAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "requesterName",
              "displayName": "requesterName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ProjectId",
              "displayName": "ProjectId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TicketNumber",
              "displayName": "TicketNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "a05a084b-1567-45be-925d-9781d6396e7e",
      "name": "Google Sheets12",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -340,
        1700
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit?gid=781654020#gid=781654020",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 781654020,
          "mode": "list",
          "cachedResultName": "TicketMany",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lM_TG2ExLdbs1YoBcaFzBFscVqB3MOEFjBFnvE9kAa0/edit#gid=781654020"
        },
        "numberToDelete": 85
      },
      "id": "e0793c29-0467-485a-9647-10761de47ed1",
      "name": "TicketSheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -20,
        1300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5h6CdXmV7twphIt",
          "name": "Canh Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fe825d1-f525-4034-a199-27d269291fd8",
              "name": "Ticket.id",
              "value": "={{ $('TicketSheet1').item.json.id }}",
              "type": "string"
            },
            {
              "id": "7ca4d5b5-a919-4f84-b6dc-404b211027d1",
              "name": "Ticket.subject",
              "value": "={{ $('TicketSheet1').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "a51a35d8-21a4-43e7-b329-925c6098b6a5",
              "name": "=Ticket.detail",
              "value": "={{ $('TicketSheet1').item.json.message }}",
              "type": "string"
            },
            {
              "id": "7f491aa5-9fc5-4674-a8fd-c7546375fdf8",
              "name": "Ticket.type",
              "value": "={{ $('TicketSheet1').item.json.type }}",
              "type": "string"
            },
            {
              "id": "0396fd3b-7efd-4fc7-9823-8231189e856d",
              "name": "Ticket.status",
              "value": "={{ $('TicketSheet1').item.json.status }}",
              "type": "string"
            },
            {
              "id": "7055bba9-889c-417b-80c2-0fa95009e1d2",
              "name": "Ticket.last_update",
              "value": "={{ $('TicketSheet1').item.json.updateAt }}",
              "type": "string"
            },
            {
              "id": "1e19ddb7-2314-42bd-be84-97294a0d5ebb",
              "name": "Project.id",
              "value": "={{ $('Get Project2').item.json.data.id }}",
              "type": "string"
            },
            {
              "id": "70e6e1d2-ae59-44bf-9e18-2ed4d1033368",
              "name": "Project.name",
              "value": "={{ $('Get Project2').item.json.data.name }}",
              "type": "string"
            },
            {
              "id": "6668ea76-94a1-4be0-8df7-6c1116fa3cc5",
              "name": "Project.summary",
              "value": "={{ $('Get Project2').item.json.data.summary }}",
              "type": "string"
            },
            {
              "id": "e645c857-eb8a-4e70-a512-54f51ce02dd8",
              "name": "MilestoneProject",
              "value": "={{ $json.data }}",
              "type": "array"
            },
            {
              "id": "2a764578-08ff-4887-a42d-97f4365fdb7f",
              "name": "Ticket.priority",
              "value": "={{ $('TicketSheet1').item.json.priority }}",
              "type": "string"
            },
            {
              "id": "e386a3f5-bc97-4fb6-a954-980bd725acd2",
              "name": "Ticket.nameClient",
              "value": "={{ $('TicketSheet1').item.json.requesterName }}",
              "type": "string"
            },
            {
              "id": "ba4e48c2-e7de-4a78-86ab-39885bfe9998",
              "name": "Project.web",
              "value": "={{ $('Get Client2').item.json.data.website }}",
              "type": "string"
            },
            {
              "id": "4d49c994-1c26-4db0-ac0f-30879a899f64",
              "name": "Client.name",
              "value": "={{ $('Get Client2').item.json.data.user.name }}",
              "type": "string"
            },
            {
              "id": "ee2b6919-a529-4aff-9b49-07b78d907e5d",
              "name": "Client.email",
              "value": "={{ $('Get Client2').item.json.data.user.email }}",
              "type": "string"
            },
            {
              "id": "12b25991-47a5-4ae2-ad4f-119fb8d001b5",
              "name": "Client.companyName",
              "value": "={{ $('Get Client2').item.json.data.company_name }}",
              "type": "string"
            },
            {
              "id": "9952301c-0d45-40ac-8e79-48ffcd980206",
              "name": "Client.category",
              "value": "={{ $('Get Client2').item.json.data.category.name }}",
              "type": "string"
            },
            {
              "id": "5f208c3a-cd39-4053-b703-5690a926319d",
              "name": "Client.facebook",
              "value": "={{ $('Get Client2').item.json.data.social_details.facebook }}",
              "type": "string"
            },
            {
              "id": "4ac3fa44-972b-4a34-9733-92551ce2c897",
              "name": "Client.likedin",
              "value": "={{ $('Get Client2').item.json.data.social_details.linkedin }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3db406e5-5848-4115-9657-bdded5f931dc",
      "name": "Set Value3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2920,
        2000
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_AVeiW0a2XaMvsu5SwqARpYN6",
          "mode": "list",
          "cachedResultName": "Cmsmart Admin - AI Assistant"
        },
        "prompt": "define",
        "text": "=Using card <p>, <strong>, <ul>, <li>\nYou are a Senior Consultant assisting with the management of a client ticket. The assigned agent is a Business Analyst (BA) or Project Manager, and you need to provide guidance on how to proceed with the ticket. Your goal is to:\n\nAnalyze the ticket content: Understand the client’s request and categorize the issue.\nCreate tasks for technical investigation: Clearly define actionable tasks that can be assigned to the development team for further technical investigation.\nEngage the client with more specific questions: Suggest key questions to ask the client to gather more detailed information or clarify unclear points.\nPropose alternative solutions: Offer suggestions on how the client’s issue might be addressed, including alternatives or best practices.\nProvide additional assistance: Depending on the category of the ticket or the client’s profile, offer further assistance or direct the agent on how to best support the client.\nReview the client profile and project information: Ensure the agent has a complete understanding of the client's background, status, and previous interactions before proceeding.\nOutput structure:\n\nUsing card <p>, <strong>, <ul>, <li>\nTicket Analysis: Summarize the core issue or request.\nKey Questions for Client: List questions that can help gather more information or clarify the request.\nTask Suggestions for Development: Define tasks for technical investigation or further steps.\nAlternative Solutions: Provide potential solutions or options to consider.\nClient Engagement Strategy: Suggest how to proceed with the client based on their profile and ticket category.\n\nSee below for completion of the keywords above:\n{{ $json.prepareText }}\n\n<strong>Link Ticket: <a href=\"https://worksuite.cloodo.com/apps/tickets/all-tickets/{{ $('Set Value3').item.json.Ticket.id }}\"</a>{{ $('Set Value3').item.json.Ticket.subject }}</strong>\n",
        "options": {}
      },
      "id": "764e0731-56f8-409c-9bcd-dae94a67a61a",
      "name": "OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        3560,
        2000
      ],
      "credentials": {
        "openAiApi": {
          "id": "Fr1fa0hUFyO4bC5x",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b569303c-6262-40a7-9ba5-7734216d4f56",
                    "leftValue": "={{ $json.data[0] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2b05e2ee-69a9-4430-a663-1a9a505f0337",
                    "leftValue": "={{ $json.data }}",
                    "rightValue": 9,
                    "operator": {
                      "type": "array",
                      "operation": "lengthLte",
                      "rightType": "number"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "965f5ae8-bf89-4c9a-baa5-48290d6b2710",
                    "leftValue": "={{ $json.data }}",
                    "rightValue": 9,
                    "operator": {
                      "type": "array",
                      "operation": "lengthGt",
                      "rightType": "number"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            }
          ]
        },
        "options": {}
      },
      "id": "70dcf678-8abd-40a5-974b-25970054438a",
      "name": "three TH",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2040,
        1720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a8ba1c4-4933-41e1-8bac-a5a14b5ff603",
              "leftValue": "={{ $json.data.reply.message.length }}",
              "rightValue": 50000,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2e4600cc-863f-4d7a-81a4-913d553f74fe",
      "name": "Check length",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -660,
        1700
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_AVeiW0a2XaMvsu5SwqARpYN6",
          "mode": "list",
          "cachedResultName": "Cmsmart Admin - AI Assistant"
        },
        "prompt": "define",
        "text": "=Using card <p>, <strong>, <ul>, <li>\nYou are a Senior Consultant assisting with the management of a client ticket. The assigned agent is a Business Analyst (BA) or Project Manager, and you need to provide guidance on how to proceed with the ticket. Your goal is to:\n\nAnalyze the ticket content: Understand the client’s request and categorize the issue.\nCreate tasks for technical investigation: Clearly define actionable tasks that can be assigned to the development team for further technical investigation.\nEngage the client with more specific questions: Suggest key questions to ask the client to gather more detailed information or clarify unclear points.\nPropose alternative solutions: Offer suggestions on how the client’s issue might be addressed, including alternatives or best practices.\nProvide additional assistance: Depending on the category of the ticket or the client’s profile, offer further assistance or direct the agent on how to best support the client.\nReview the client profile and project information: Ensure the agent has a complete understanding of the client's background, status, and previous interactions before proceeding.\nOutput structure:\n\nUsing card <p>, <strong>, <ul>, <li>\nTicket Analysis: Summarize the core issue or request.\nKey Questions for Client: List questions that can help gather more information or clarify the request.\nTask Suggestions for Development: Define tasks for technical investigation or further steps.\nAlternative Solutions: Provide potential solutions or options to consider.\nClient Engagement Strategy: Suggest how to proceed with the client based on their profile and ticket category.\n\nSee below for completion of the keywords above:\n{{ $json.prepareText }}\n\n<strong>Link Ticket: <a href=\"https://worksuite.cloodo.com/apps/tickets/all-tickets/{{ $('Set Value2').item.json.Ticket.id }}\"</a>{{ $('Set Value2').item.json.Ticket.subject }}</strong>\n",
        "options": {}
      },
      "id": "f8f09b3f-aee9-42aa-b29f-24ba3357f13b",
      "name": "OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        3500,
        1520
      ],
      "credentials": {
        "openAiApi": {
          "id": "Fr1fa0hUFyO4bC5x",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "id": "56be0be5-7968-463b-855a-d71bec2dd2a8",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -20,
        1800
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_zcZjKKD7msrnRvUMoHUoWzhV",
          "mode": "list",
          "cachedResultName": "Cmsmart AI"
        },
        "prompt": "define",
        "text": "=Using card <p>, <strong>, <ul>, <li>\nYou are a Senior Consultant assisting with the management of a client ticket. The assigned agent is a Business Analyst (BA) or Project Manager, and you need to provide guidance on how to proceed with the ticket. Your goal is to:\n\nAnalyze the ticket content: Understand the client’s request and categorize the issue.\nCreate tasks for technical investigation: Clearly define actionable tasks that can be assigned to the development team for further technical investigation.\nEngage the client with more specific questions: Suggest key questions to ask the client to gather more detailed information or clarify unclear points.\nPropose alternative solutions: Offer suggestions on how the client’s issue might be addressed, including alternatives or best practices.\nProvide additional assistance: Depending on the category of the ticket or the client’s profile, offer further assistance or direct the agent on how to best support the client.\nReview the client profile and project information: Ensure the agent has a complete understanding of the client's background, status, and previous interactions before proceeding.\nOutput structure:\n\nUsing card <p>, <strong>, <ul>, <li>\nTicket Analysis: Summarize the core issue or request.\nKey Questions for Client: List questions that can help gather more information or clarify the request.\nTask Suggestions for Development: Define tasks for technical investigation or further steps.\nAlternative Solutions: Provide potential solutions or options to consider.\nClient Engagement Strategy: Suggest how to proceed with the client based on their profile and ticket category.\n\nSee below for completion of the keywords above:\n{{ $json.prepareText }}\n\n<strong>Link Ticket: <a href=\"https://worksuite.cloodo.com/apps/tickets/all-tickets/{{ $('Set Value1').item.json.Ticket.id }}\"</a>{{ $('Set Value1').item.json.Ticket.subject }}</strong>\n",
        "options": {}
      },
      "id": "3ef11c13-59b5-423e-8dc7-f3e7a8cb294a",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        3120,
        540
      ],
      "credentials": {
        "openAiApi": {
          "id": "wXCGwiut9MvtTGmk",
          "name": "OpenAI CMS"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_zcZjKKD7msrnRvUMoHUoWzhV",
          "mode": "list",
          "cachedResultName": "Cmsmart AI"
        },
        "prompt": "define",
        "text": "=Using card <p>, <strong>, <ul>, <li>\nYou are a Senior Consultant assisting with the management of a client ticket. The assigned agent is a Business Analyst (BA) or Project Manager, and you need to provide guidance on how to proceed with the ticket. Your goal is to:\n\nAnalyze the ticket content: Understand the client’s request and categorize the issue.\nCreate tasks for technical investigation: Clearly define actionable tasks that can be assigned to the development team for further technical investigation.\nEngage the client with more specific questions: Suggest key questions to ask the client to gather more detailed information or clarify unclear points.\nPropose alternative solutions: Offer suggestions on how the client’s issue might be addressed, including alternatives or best practices.\nProvide additional assistance: Depending on the category of the ticket or the client’s profile, offer further assistance or direct the agent on how to best support the client.\nReview the client profile and project information: Ensure the agent has a complete understanding of the client's background, status, and previous interactions before proceeding.\nOutput structure:\n\nUsing card <p>, <strong>, <ul>, <li>\nTicket Analysis: Summarize the core issue or request.\nKey Questions for Client: List questions that can help gather more information or clarify the request.\nTask Suggestions for Development: Define tasks for technical investigation or further steps.\nAlternative Solutions: Provide potential solutions or options to consider.\nClient Engagement Strategy: Suggest how to proceed with the client based on their profile and ticket category.\n\nSee below for completion of the keywords above:\n{{ $json.prepareText }}\n\n<strong>Link Ticket: <a href=\"https://worksuite.cloodo.com/apps/tickets/all-tickets/{{ $('Set Value').item.json.Ticket.id }}\"</a>{{ $('Set Value').item.json.Ticket.subject }}</strong>\n",
        "options": {}
      },
      "id": "87d69ce9-411a-42cc-92c1-3d777540df83",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        3120,
        80
      ],
      "credentials": {
        "openAiApi": {
          "id": "wXCGwiut9MvtTGmk",
          "name": "OpenAI CMS"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Check project": {
      "main": [
        [
          {
            "node": "Check not closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Value": {
      "main": [
        [
          {
            "node": "prepareText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check not closed": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sheet": {
      "main": [
        [
          {
            "node": "Create Client or Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Check Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client or Agent": {
      "main": [
        [
          {
            "node": "Get Project",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Cloodo CRM1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM1": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ticket": {
      "main": [
        [
          {
            "node": "Check project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project": {
      "main": [
        [
          {
            "node": "Get Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Milestone Project": {
      "main": [
        [
          {
            "node": "Set Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project InPro": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Get many check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM3": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Cloodo CRM3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get many check": {
      "main": [
        [
          {
            "node": "three TH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists3": {
      "main": [
        [
          {
            "node": "Get ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sheet1": {
      "main": [
        [
          {
            "node": "Create Client or Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client or Agent1": {
      "main": [
        [
          {
            "node": "Get Project3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Project2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project2": {
      "main": [
        [
          {
            "node": "Get Client2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project3": {
      "main": [
        [
          {
            "node": "Get Client3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Milestone Project2": {
      "main": [
        [
          {
            "node": "Set Value2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Milestone Project3": {
      "main": [
        [
          {
            "node": "Set Value3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Check Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ticket": {
      "main": [
        [
          {
            "node": "Check closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "main": [
        [
          {
            "node": "Check Sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sheet2": {
      "main": [
        [
          {
            "node": "Create Client or Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client or Agent2": {
      "main": [
        [
          {
            "node": "Get Project5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Project6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project5": {
      "main": [
        [
          {
            "node": "Get Client4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists2": {
      "main": [
        [
          {
            "node": "Get ticket1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize": {
      "main": [
        [
          {
            "node": "Cloodo CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client": {
      "main": [
        [
          {
            "node": "Get Milestone Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ticket1": {
      "main": [
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM": {
      "main": [
        [
          {
            "node": "Project_Analysis_Ticket_Note2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Value1": {
      "main": [
        [
          {
            "node": "prepareText1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepareText1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize1": {
      "main": [
        [
          {
            "node": "Cloodo CRM2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM2": {
      "main": [
        [
          {
            "node": "Project_Analysis_Ticket_Note3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Milestone Project1": {
      "main": [
        [
          {
            "node": "Set Value1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client1": {
      "main": [
        [
          {
            "node": "Get Milestone Project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project1": {
      "main": [
        [
          {
            "node": "Get Client1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Get Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Cloodo CRM1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client3": {
      "main": [
        [
          {
            "node": "Get Milestone Project2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client2": {
      "main": [
        [
          {
            "node": "Get Milestone Project3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Value2": {
      "main": [
        [
          {
            "node": "prepareText2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM4": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM6": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets9": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Milestone Project4": {
      "main": [
        [
          {
            "node": "Set Value4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client4": {
      "main": [
        [
          {
            "node": "Get Milestone Project4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Value4": {
      "main": [
        [
          {
            "node": "prepareText4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize4": {
      "main": [
        [
          {
            "node": "Cloodo CRM7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM7": {
      "main": [
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TicketSheet": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI5": {
      "main": [
        [
          {
            "node": "Standardize4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project6": {
      "main": [
        [
          {
            "node": "Get Client5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Milestone Project5": {
      "main": [
        [
          {
            "node": "Set Value5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client5": {
      "main": [
        [
          {
            "node": "Get Milestone Project5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Value5": {
      "main": [
        [
          {
            "node": "prepareText5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize5": {
      "main": [
        [
          {
            "node": "Cloodo CRM8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo CRM8": {
      "main": [
        [
          {
            "node": "Google Sheets10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI6": {
      "main": [
        [
          {
            "node": "Standardize5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepareText4": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepareText5": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets11": {
      "main": [
        [
          {
            "node": "Cloodo CRM3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepareText": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project_Analysis_Ticket_Note2": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project_Analysis_Ticket_Note3": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check closed": {
      "main": [
        [
          {
            "node": "Check length",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "TicketSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Get Project InPro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets12": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepareText3": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Value3": {
      "main": [
        [
          {
            "node": "prepareText3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Standardize3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepareText2": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize2": {
      "main": [
        [
          {
            "node": "Cloodo CRM4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize3": {
      "main": [
        [
          {
            "node": "Cloodo CRM6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "three TH": {
      "main": [
        [],
        [
          {
            "node": "Item Lists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check length": {
      "main": [
        [
          {
            "node": "Google Sheets12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TicketSheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "Standardize2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Standardize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Standardize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a6d93135-a255-4cf1-930e-26171f75e891",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "7iyz3WO6zYLASb8I",
  "tags": []
}