cmsmart/WF_63___Workflow_Email_Project_Development_BA.json
{
  "name": "WF 63 - Workflow_Email_Project_Development_BA",
  "nodes": [
    {
      "parameters": {},
      "id": "9b230997-1289-40c9-8f61-9df28c95e7c6",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1000,
        3300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "9ab0eb7c-cf3d-4930-9558-457e1d8ecde6",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        320
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "1678dd9c-fa29-413c-8710-3abef0d0ad60",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1220,
        560
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "27480044-e48a-435c-a6ef-cb0fe6d0bb91",
        "requestOptions": {}
      },
      "id": "6124d189-59d3-4af8-a6f7-cdef54cbeae7",
      "name": "Get Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -320,
        580
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "149be166-4b74-4309-91eb-acd3cf9d5472",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "not started",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "394a6ba3-4a90-4198-b49e-7c031b6bf8da",
      "name": "Check not started",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -20,
        580
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.members",
        "options": {}
      },
      "id": "d715f03e-51ac-47bd-a1e4-31e68b1e0218",
      "name": "Split members",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        300,
        340
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "795cefc3-8959-4c95-9924-71b96d5acd1c",
      "name": "Get Employee",
      "type": "@cloodo/n8n-nodes-cloodo-hrm.CloodoHRM",
      "typeVersion": 1,
      "position": [
        520,
        340
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf60afe0-9f95-4d48-b8c6-de848f215516",
              "name": "project.name",
              "value": "={{ $json.data[1].name }}",
              "type": "string"
            },
            {
              "id": "fc4ab56a-f099-4928-9a08-a9ef42b2b213",
              "name": "project.clientname",
              "value": "={{ $json.data[1].client.user.name }}",
              "type": "string"
            },
            {
              "id": "12bc061e-c1ea-4385-b3f9-8e83752401c1",
              "name": "project.clientemail",
              "value": "={{ $json.data[1].client.user.email }}",
              "type": "string"
            },
            {
              "id": "faaf9709-45ab-4f71-aa42-01390c6ee194",
              "name": "BA.name",
              "value": "={{ $json.data[1].project_admin.name }}",
              "type": "string"
            },
            {
              "id": "3af7fb39-6c19-48ca-9dba-4c8fde5e184d",
              "name": "project.summary",
              "value": "={{ $json.data[1].summary }}",
              "type": "string"
            },
            {
              "id": "60334b29-cb8f-437c-914d-bd69e272187d",
              "name": "project.start_date",
              "value": "={{ $json.data[1].start_date }}",
              "type": "string"
            },
            {
              "id": "9b4bdb93-792f-4a95-8717-a6ac2eec65b8",
              "name": "project.deadline",
              "value": "={{ $json.data[1].deadline }}",
              "type": "string"
            },
            {
              "id": "4651dde7-a41c-4b23-8f17-7ea044db58db",
              "name": "BA.email",
              "value": "={{ $json.data[1].project_admin.email }}",
              "type": "string"
            },
            {
              "id": "c49e5df9-292a-437c-bdca-2691040f0187",
              "name": "project.id",
              "value": "={{ $json.data[1].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "497839b4-5da1-4fd1-b12f-e429e3112615",
      "name": "Take Value",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "let dataReFormat = ''\nconst rawData = $input.all()[0]?.json\n\n\n\ndataReFormat =  `\\n Information of Project: \\n Name: ${rawData?.project?.name}; \\n Project Summary: ${rawData?.project?.summary};\n\\n Start Date of Project: ${rawData?.project?.start_date}; \\n Deadline of Project: ${rawData?.project?.deadline};`\n\n\ndataReFormat = dataReFormat +  '\\n \\n Contact Bussiness Analyst (BA): \\n ' + 'Name: ' + rawData?.BA?.name + '\\n Email: ' + rawData?.BA?.email\n\n\nconsole.log('dataReFormat: ', dataReFormat)\n\nreturn { prepareText: dataReFormat };\n"
      },
      "id": "8a53fc47-6c71-44f3-9df4-47dd0f08a225",
      "name": "prepareText",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "let oldData = $input.all()[0]?.json?.message?.content;\n\n// Replace new lines with <br> tags\noldData = oldData.replace(/\\n\\n<br>\\n\\n/g, '<br>');\noldData = oldData.replace(/\\n\\n/g, '');\noldData = oldData.replace(/\\n/g, '');\n\n// Replace ** with <strong> tags for bold text\noldData = oldData.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\n// Replace ### with <h3> tags for subheadings\noldData = oldData.replace(/###\\s*(.*?)(<br>|$)/g, '<h3>$1</h3>');\n\nreturn { textHtml: oldData };\n\n"
      },
      "id": "e15fbe86-a816-410e-b73a-d6a46fe08c12",
      "name": "Standardize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        560
      ]
    },
    {
      "parameters": {
        "content": "## Requirement Gathering Email Workflow",
        "height": 1063.8094620151069,
        "width": 485.88236530026836,
        "color": 5
      },
      "id": "f08db3ae-925c-40d5-9d75-2dab502e23d7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2920,
        360
      ]
    },
    {
      "parameters": {},
      "id": "03b6a277-f18c-414d-92c5-5b35db45929f",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        980,
        560
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $('Take Value').item.json.project.id }}",
        "requestOptions": {}
      },
      "id": "4bdb738b-e51f-4089-8bbe-cafcce105305",
      "name": "Cloodo Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        2560,
        700
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "=data.members",
        "options": {}
      },
      "id": "7a1c7e28-c170-4026-93b5-70ba0ca848d0",
      "name": "Split member project",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2760,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloodo.com/mautic.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "=nguyenduccanh1523@gmail.com"
            },
            {
              "name": "uname",
              "value": "=Huy Nguyen Quang"
            },
            {
              "name": "subject",
              "value": "=Getting Started: Setting Up Requirements for {{ $('Take Value').item.json.project.name }}"
            },
            {
              "name": "send_mail",
              "value": "cmsmart"
            },
            {
              "name": "email_id",
              "value": "103"
            },
            {
              "name": "content",
              "value": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n\n<body style=\"font-family: Arial, sans-serif; color: #333; line-height: 1.6; margin: 0;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\" background-color: #fff;\">\n        <!-- Content -->\n        <tr>\n            <td style=\"font-size: 15px;\">\n                <p>{{ $('Standardize').item.json.textHtml }}</p>\n<strong>Link project: <a href=\"https://worksuite.cloodo.com/apps/work/project/{{ $('Take Value').item.json.project.id }}\">{{ $('Take Value').item.json.project.name }}</a></strong>\n            </td>\n        </tr>\n        \n \n    </table>\n</body>\n\n</html>\n\n"
            }
          ]
        },
        "options": {}
      },
      "id": "59895ef0-617a-4561-9760-ab457eceed8d",
      "name": "Requirement Gathering Email Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        560
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "b30510ad-f483-4b08-8908-3fa46305e234",
      "name": "Aggregate2",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        900,
        920
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "40ff9d56-a6cb-4eb1-b62d-40abd9429ecd",
      "name": "Aggregate3",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1220,
        1180
      ]
    },
    {
      "parameters": {},
      "id": "e735727a-ed5d-48aa-8124-f7ab334c1571",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        980,
        1180
      ]
    },
    {
      "parameters": {
        "resource": "milestones",
        "operation": "get",
        "ID": "07294918-839c-4c53-a5c0-848ca2f4c54b",
        "requestOptions": {}
      },
      "id": "3e7a8c93-1bcc-4895-8c7d-c91c488f8ea6",
      "name": "Get Milestone1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -520,
        1220
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "e7486fe4-a981-4b56-8872-165ba1720b80",
      "name": "Get Employee1",
      "type": "@cloodo/n8n-nodes-cloodo-hrm.CloodoHRM",
      "typeVersion": 1,
      "position": [
        380,
        960
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.members",
        "options": {}
      },
      "id": "51a7ca86-0059-4c56-a3de-7d286934a1dc",
      "name": "Split members1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        140,
        960
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $json.data.project.id }}",
        "requestOptions": {}
      },
      "id": "8e0227ba-4cb8-444d-b4e2-16f56922d63a",
      "name": "Get Project2",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        60,
        1200
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21c0fa18-5c87-41d0-a294-f9fb54e3a83b",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "Contracted Plan",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7842cd78-cbef-4289-93d5-4bf3ac6c992d",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "Under Proposal",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "8d64ff6e-1619-428e-bc66-487d2820b1df",
      "name": "Check Contracted Plan",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        1220
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $('Take Value1').item.json.project.id }}",
        "requestOptions": {}
      },
      "id": "aa740af7-6b67-4fb7-8fed-ec40fd143678",
      "name": "Cloodo Project1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        2660,
        2560
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "=data.members",
        "options": {}
      },
      "id": "201ed58a-76d9-454c-9889-82b003020262",
      "name": "Split member project1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2900,
        2560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf60afe0-9f95-4d48-b8c6-de848f215516",
              "name": "project.name",
              "value": "={{ $json.data[1].name }}",
              "type": "string"
            },
            {
              "id": "fc4ab56a-f099-4928-9a08-a9ef42b2b213",
              "name": "project.clientname",
              "value": "={{ $json.data[1].client.user.name }}",
              "type": "string"
            },
            {
              "id": "12bc061e-c1ea-4385-b3f9-8e83752401c1",
              "name": "project.clientemail",
              "value": "={{ $json.data[1].client.user.email }}",
              "type": "string"
            },
            {
              "id": "faaf9709-45ab-4f71-aa42-01390c6ee194",
              "name": "BA.name",
              "value": "={{ $json.data[0][0].name }}",
              "type": "string"
            },
            {
              "id": "3af7fb39-6c19-48ca-9dba-4c8fde5e184d",
              "name": "project.summary",
              "value": "={{ $json.data[1].summary }}",
              "type": "string"
            },
            {
              "id": "60334b29-cb8f-437c-914d-bd69e272187d",
              "name": "project.start_date",
              "value": "={{ $json.data[1].start_date }}",
              "type": "string"
            },
            {
              "id": "9b4bdb93-792f-4a95-8717-a6ac2eec65b8",
              "name": "project.deadline",
              "value": "={{ $json.data[1].deadline }}",
              "type": "string"
            },
            {
              "id": "4651dde7-a41c-4b23-8f17-7ea044db58db",
              "name": "BA.email",
              "value": "={{ $json.data[0][0].email }}",
              "type": "string"
            },
            {
              "id": "c49e5df9-292a-437c-bdca-2691040f0187",
              "name": "project.id",
              "value": "={{ $json.data[1].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a77f186e-ae98-4c9f-8e36-f79a642f6591",
      "name": "Take Value1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        1180
      ]
    },
    {
      "parameters": {
        "jsCode": "let dataReFormat = ''\nconst rawData = $input.all()[0]?.json\n\n\n\ndataReFormat =  `\\n Information of Project: \\n Name: ${rawData?.project?.name}; \\n Project Summary: ${rawData?.project?.summary};\n\\n Start Date of Project: ${rawData?.project?.start_date}; \\n Deadline of Project: ${rawData?.project?.deadline};`\n\n\ndataReFormat = dataReFormat +  '\\n \\n Contact Bussiness Analyst (BA): \\n ' + 'Name: ' + rawData?.BA?.name + '\\n Email: ' + rawData?.BA?.email\n\n\nconsole.log('dataReFormat: ', dataReFormat)\n\nreturn { prepareText: dataReFormat };\n"
      },
      "id": "cb2f1c7e-de1d-45ed-b32d-c290b006e712",
      "name": "prepareText1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        1180
      ]
    },
    {
      "parameters": {
        "jsCode": "let oldData = $input.all()[0]?.json?.message?.content;\n\n// Replace new lines with <br> tags\noldData = oldData.replace(/\\n\\n<br>\\n\\n/g, '<br>');\noldData = oldData.replace(/\\n\\n/g, '');\noldData = oldData.replace(/\\n/g, '');\n\n// Replace ** with <strong> tags for bold text\noldData = oldData.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\n// Replace ### with <h3> tags for subheadings\noldData = oldData.replace(/###\\s*(.*?)(<br>|$)/g, '<h3>$1</h3>');\n\nreturn { textHtml: oldData };\n\n"
      },
      "id": "3c6034ca-4d1b-4831-bdfd-8217acaf7d2f",
      "name": "Standardize1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $('Take Value1').item.json.project.id }}",
        "requestOptions": {}
      },
      "id": "d9a7ad1b-c31d-4eee-988f-9a671107ff30",
      "name": "Cloodo Project2",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        2560,
        1320
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "=data.members",
        "options": {}
      },
      "id": "14e5a6ea-641c-49e5-aad1-a3f0bd0eab31",
      "name": "Split member project2",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2760,
        1320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloodo.com/mautic.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "=nguyenduccanh1523@gmail.com"
            },
            {
              "name": "uname",
              "value": "=Huy Nguyen Quang"
            },
            {
              "name": "subject",
              "value": "=Getting Started: Setting Up Requirements for {{ $('Take Value1').item.json.project.name }}"
            },
            {
              "name": "send_mail",
              "value": "cmsmart"
            },
            {
              "name": "email_id",
              "value": "103"
            },
            {
              "name": "content",
              "value": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n\n<body style=\"font-family: Arial, sans-serif; color: #333; line-height: 1.6; margin: 0;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #fff;\">\n        <!-- Content -->\n        <tr>\n            <td style=\"font-size: 15px;\">\n                <p>{{ $('Standardize1').item.json.textHtml }}</p>\n<strong>Link project: <a href=\"https://worksuite.cloodo.com/apps/work/project/{{ $('Take Value1').item.json.project.id }}\">{{ $('Take Value1').item.json.project.name }}</a></strong>\n            </td>\n        </tr>\n        \n \n    </table>\n</body>\n\n</html>\n\n"
            }
          ]
        },
        "options": {}
      },
      "id": "a53abf79-34a2-4ea9-a9f0-a55f0cf68f78",
      "name": "Requirement Gathering Email Workflow1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        1180
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "c1c5b9cc-fa11-42fa-9066-e6c97a569c0f",
      "name": "Aggregate4",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        940,
        1520
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "b68180c0-921c-4dd4-a165-80f48119909f",
      "name": "Aggregate5",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1300,
        1780
      ]
    },
    {
      "parameters": {
        "resource": "milestones",
        "operation": "get",
        "ID": "07294918-839c-4c53-a5c0-848ca2f4c54b",
        "requestOptions": {}
      },
      "id": "c53b81a8-290f-497b-adaf-a1e918d3e676",
      "name": "Get Milestone",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -460,
        1820
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "cc44d543-09f6-459f-bc3a-3ee69e63ba1e",
      "name": "Get Employee2",
      "type": "@cloodo/n8n-nodes-cloodo-hrm.CloodoHRM",
      "typeVersion": 1,
      "position": [
        400,
        1560
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $json.data.project.id }}",
        "requestOptions": {}
      },
      "id": "db32f596-df28-4edc-bd86-ba7006a78f98",
      "name": "Get Project3",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        40,
        1660
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21c0fa18-5c87-41d0-a294-f9fb54e3a83b",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "Contracted Plan",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7842cd78-cbef-4289-93d5-4bf3ac6c992d",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "Awaiting Approval",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a7db3147-c001-4f10-b630-1698bf490163",
      "name": "Check Contracted Plan1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -180,
        1820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf60afe0-9f95-4d48-b8c6-de848f215516",
              "name": "milestone.name",
              "value": "={{ $json.data[1].title }}",
              "type": "string"
            },
            {
              "id": "fc4ab56a-f099-4928-9a08-a9ef42b2b213",
              "name": "project.clientname",
              "value": "={{ $json.data[2].client.user.name }}",
              "type": "string"
            },
            {
              "id": "12bc061e-c1ea-4385-b3f9-8e83752401c1",
              "name": "project.clientemail",
              "value": "={{ $json.data[2].client.user.email }}",
              "type": "string"
            },
            {
              "id": "faaf9709-45ab-4f71-aa42-01390c6ee194",
              "name": "=BA.name",
              "value": "={{ $json.data[0][0].name }}",
              "type": "string"
            },
            {
              "id": "3af7fb39-6c19-48ca-9dba-4c8fde5e184d",
              "name": "milestone.summary",
              "value": "={{ $json.data[1].summary }}",
              "type": "string"
            },
            {
              "id": "60334b29-cb8f-437c-914d-bd69e272187d",
              "name": "milestone.start_date",
              "value": "={{ $json.data[1].start_date }}",
              "type": "string"
            },
            {
              "id": "4651dde7-a41c-4b23-8f17-7ea044db58db",
              "name": "BA.email",
              "value": "={{ $json.data[0][0].email }}",
              "type": "string"
            },
            {
              "id": "c49e5df9-292a-437c-bdca-2691040f0187",
              "name": "project.id",
              "value": "={{ $json.data[2].id }}",
              "type": "string"
            },
            {
              "id": "690f68df-5f3d-447f-88c5-765dd466591d",
              "name": "project.name",
              "value": "={{ $json.data[2].name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4163f3cd-53bd-4a13-a5c0-f6cb4166f0b2",
      "name": "Take Value2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        1780
      ]
    },
    {
      "parameters": {
        "jsCode": "let dataReFormat = ''\nconst rawData = $input.all()[0]?.json\n\n\n\ndataReFormat =  `\\n\\n Information of Project: \\n \\n Name: ${rawData?.project?.name} \\n Client Name: ${rawData?.project?.clientname} \\n Client Email: ${rawData?.project?.clientemail} \\n \\n With Finalized document details:\n\\n Name: ${rawData?.milestone?.name}\n Summary: ${rawData?.milestone?.summary}\n`\n\n\ndataReFormat = dataReFormat +  '\\n \\n Contact Bussiness Analyst (BA): \\n ' + 'Name: ' + rawData?.BA?.name + '\\n Email: ' + rawData?.BA?.email\n\n\nconsole.log('dataReFormat: ', dataReFormat)\n\nreturn { prepareText: dataReFormat };\n"
      },
      "id": "8d8a444d-f73a-4d4f-9257-f69ec3eddc53",
      "name": "prepareText2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        1780
      ]
    },
    {
      "parameters": {
        "jsCode": "let oldData = $input.all()[0]?.json?.message?.content;\n\n// Replace new lines with <br> tags\n\noldData = oldData.replace(/\\n\\n<br>\\n\\n/g, '');\noldData = oldData.replace(/<br>\\n\\n/g, '');\noldData = oldData.replace(/\\n\\n/g, '');\noldData = oldData.replace(/\\n/g, '');\n\n// Replace ** with <strong> tags for bold text\noldData = oldData.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\n// Replace ### with <h3> tags for subheadings\noldData = oldData.replace(/###\\s*(.*?)(<br>|$)/g, '<h3>$1</h3>');\n\nreturn { textHtml: oldData };\n\n"
      },
      "id": "573b06e9-d450-4b64-b1b2-b2d00fff6e0b",
      "name": "Standardize2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        1780
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $('Take Value2').item.json.project.id }}",
        "requestOptions": {}
      },
      "id": "0747d320-4036-441f-b728-93b011ee9917",
      "name": "Cloodo Project3",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        2640,
        1920
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "=data.members",
        "options": {}
      },
      "id": "c638e1fb-7434-4f71-8165-ebba8c09775a",
      "name": "Split member project3",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2840,
        1920
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4",
        "prompt": {
          "messages": [
            {
              "content": "=Create a professional email without a subject line and use tags: <p>, <strong>, <ul>, <li> from {{ $('Take Value2').item.json.BA.name }} is a Business Analyst for {{ $('Take Value2').item.json.project.name }} at CmsMart. The email should summarize the requirements of the completed project, confirm mutual understanding and encourage the client to contact you if they have any further questions or clarifications. The tone should be clear, professional and reassuring.\nAI Node Output: Creates an email summarizing the finalized requirements.\n\nWith the information below:\n{{ $json.prepareText }}\n<strong>Link project: <a href=\"https://worksuite.cloodo.com/apps/work/project/{{ $('Take Value2').item.json.project.id }}\">{{ $('Take Value2').item.json.project.name }}</a></strong>\n\nusing card html: <p>, <strong>, <ul>, <li> , ...\n\n\n\n"
            }
          ]
        },
        "simplifyOutput": "=true",
        "options": {
          "maxTokens": 600
        },
        "requestOptions": {}
      },
      "id": "06d3a1ff-c430-4011-8a43-892a968f6bb0",
      "name": "AI Requirement Project2",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        2100,
        1780
      ],
      "credentials": {
        "openAiApi": {
          "id": "NuSZIBmfyaC1efAa",
          "name": "Cmsmart_API"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4",
        "prompt": {
          "messages": [
            {
              "content": "=Write an email without a subject line and use tags: <p>, <strong>, <ul>, <li> introducing your expertise as [BA Name], Business Analyst for [Project Name] at CmsMart. This email should explain the requirements gathering process, introduce the purpose of the initial meeting, and include a call to action to schedule the meeting. The tone should be professional, friendly, and informative.\nAI Node Output: Generate email content based on the prompt and project data.\n\nWith the information below:\n{{ $json.prepareText }}\n<strong>Link project: <a href=\"https://worksuite.cloodo.com/apps/work/project/{{ $('Take Value1').item.json.project.id }}\">{{ $('Take Value1').item.json.project.name }}</a></strong>\n\nusing card html: <p>, <strong>, <ul>, <li> , ...\n\n\n\n"
            }
          ]
        },
        "simplifyOutput": "=true",
        "options": {
          "maxTokens": 600
        },
        "requestOptions": {}
      },
      "id": "9df8819c-6abf-4dcb-aba6-f78523dca49e",
      "name": "AI Requirement Gathering Milesetone",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        2020,
        1180
      ],
      "credentials": {
        "openAiApi": {
          "id": "NuSZIBmfyaC1efAa",
          "name": "Cmsmart_API"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4",
        "prompt": {
          "messages": [
            {
              "content": "=Write an email without a subject line using tags: <p>, <strong>, <ul>, <li> introducing your expertise as [BA Name], Business Analyst for [Project Name] at CmsMart. This email should explain the requirements gathering process, introduce the purpose of the initial meeting, and include a call to action to schedule the meeting. The tone should be professional, friendly, and informative.\nAI Node Output: Generate email content based on the prompt and project data.\n\nWith the information below:\n{{ $json.prepareText }}\n<strong>Link project: <a href=\"https://worksuite.cloodo.com/apps/work/project/{{ $('Take Value').item.json.project.id }}\">{{ $('Take Value').item.json.project.name }}</a></strong>\n\nusing card html: <p>, <strong>, <ul>, <li> , ...\n\n\n\n"
            }
          ]
        },
        "simplifyOutput": "=true",
        "options": {
          "maxTokens": 600
        },
        "requestOptions": {}
      },
      "id": "0bc3fb31-49c8-422d-9b8b-a10f46735766",
      "name": "AI Requirement Gathering Project",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        2020,
        560
      ],
      "credentials": {
        "openAiApi": {
          "id": "NuSZIBmfyaC1efAa",
          "name": "Cmsmart_API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.members",
        "options": {}
      },
      "id": "72ed7ea0-4ae8-48a1-a5db-68b259e5368d",
      "name": "Split members2",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        240,
        1560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8d53b8a-6d37-497e-87c2-75415e0ac736",
              "leftValue": "={{ $json.data.designation.id }}",
              "rightValue": "c442e6ec-c999-4e06-8c7f-038d18498df7",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ea36f727-c96e-47e0-9635-8d4ef2805b3d",
      "name": "Get BA",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        620,
        940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8d53b8a-6d37-497e-87c2-75415e0ac736",
              "leftValue": "={{ $json.data.designation.id }}",
              "rightValue": "c442e6ec-c999-4e06-8c7f-038d18498df7",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9792466f-5503-497c-b4e8-71e0627102f4",
      "name": "Get BA1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        1540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloodo.com/mautic.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "=nguyenduccanh1523@gmail.com"
            },
            {
              "name": "uname",
              "value": "=Huy Nguyen Quang"
            },
            {
              "name": "subject",
              "value": "=Requirements Finalized for {{ $('Take Value2').item.json.project.name }}"
            },
            {
              "name": "send_mail",
              "value": "cmsmart"
            },
            {
              "name": "email_id",
              "value": "103"
            },
            {
              "name": "content",
              "value": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n\n<body style=\"font-family: Arial, sans-serif; color: #333; line-height: 1.6; margin: 0;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\" background-color: #fff;\">\n        <!-- Content -->\n        <tr>\n            <td style=\"font-size: 15px;\">\n                <p>{{ $('Standardize2').item.json.textHtml }}</p>\n<strong>Link project: <a href=\"https://worksuite.cloodo.com/apps/work/project/{{ $('Take Value2').item.json.project.id }}\">{{ $('Take Value2').item.json.project.name }}</a></strong>\n            </td>\n        </tr>\n        \n \n    </table>\n</body>\n\n</html>\n\n"
            }
          ]
        },
        "options": {}
      },
      "id": "aa68f2df-d3a9-4b7b-a76d-556d8df50272",
      "name": "Requirements Confirmation Email Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        1780
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "5ca6f3f0-68a5-4d44-b92d-7f3fb44b3129",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1060,
        1780
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "55595cfe-0a49-4c5d-a85a-aad59df3272f",
      "name": "Aggregate6",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        980,
        2160
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "ccfc529a-096b-49d8-b30e-9ee5476950c7",
      "name": "Aggregate7",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1340,
        2420
      ]
    },
    {
      "parameters": {
        "resource": "milestones",
        "operation": "get",
        "ID": "1a5a9b1e-35a1-4e96-836d-088ed4e843fd",
        "requestOptions": {}
      },
      "id": "2e48e3a1-96fa-499a-89c2-5e97d50514aa",
      "name": "Get Milestone2",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -420,
        2460
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "ad746c42-2716-4a4c-a457-5ea0a4320894",
      "name": "Get Employee3",
      "type": "@cloodo/n8n-nodes-cloodo-hrm.CloodoHRM",
      "typeVersion": 1,
      "position": [
        440,
        2200
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $json.data.project.id }}",
        "requestOptions": {}
      },
      "id": "72210b91-9bf5-4011-8370-c0e14237e894",
      "name": "Get Project4",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        80,
        2300
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf60afe0-9f95-4d48-b8c6-de848f215516",
              "name": "milestone.name",
              "value": "={{ $json.data[1].title }}",
              "type": "string"
            },
            {
              "id": "fc4ab56a-f099-4928-9a08-a9ef42b2b213",
              "name": "project.clientname",
              "value": "={{ $json.data[2].client.user.name }}",
              "type": "string"
            },
            {
              "id": "12bc061e-c1ea-4385-b3f9-8e83752401c1",
              "name": "project.clientemail",
              "value": "={{ $json.data[2].client.user.email }}",
              "type": "string"
            },
            {
              "id": "faaf9709-45ab-4f71-aa42-01390c6ee194",
              "name": "=BA.name",
              "value": "={{ $json.data[0][0].name }}",
              "type": "string"
            },
            {
              "id": "3af7fb39-6c19-48ca-9dba-4c8fde5e184d",
              "name": "milestone.summary",
              "value": "={{ $json.data[1].summary }}",
              "type": "string"
            },
            {
              "id": "60334b29-cb8f-437c-914d-bd69e272187d",
              "name": "milestone.start_date",
              "value": "={{ $json.data[1].start_date }}",
              "type": "string"
            },
            {
              "id": "4651dde7-a41c-4b23-8f17-7ea044db58db",
              "name": "BA.email",
              "value": "={{ $json.data[0][0].email }}",
              "type": "string"
            },
            {
              "id": "c49e5df9-292a-437c-bdca-2691040f0187",
              "name": "project.id",
              "value": "={{ $json.data[2].id }}",
              "type": "string"
            },
            {
              "id": "690f68df-5f3d-447f-88c5-765dd466591d",
              "name": "project.name",
              "value": "={{ $json.data[2].name }}",
              "type": "string"
            },
            {
              "id": "958cfb75-15ee-4c4b-bbc5-80f3dbd1a533",
              "name": "milestone.deadline",
              "value": "={{ $json.data[1].due_date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "502210c4-eaf5-4f7f-8bec-0898c339fc30",
      "name": "Take Value3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        2420
      ]
    },
    {
      "parameters": {
        "jsCode": "let dataReFormat = ''\nconst rawData = $input.all()[0]?.json\n\n\n\ndataReFormat =  `\\n\\n Information of Project: \\n \\n Name: ${rawData?.project?.name} \\n Client Name: ${rawData?.project?.clientname} \\n Client Email: ${rawData?.project?.clientemail} \\n \\n With Milestone Goals:\n\\n Name: ${rawData?.milestone?.name}\n Summary: ${rawData?.milestone?.summary}\n Start_Date: ${rawData?.milestone?.start_date}\n Deadline: ${rawData?.milestone?.deadline}\n`\n\n\ndataReFormat = dataReFormat +  '\\n \\n Contact Bussiness Analyst (BA): \\n ' + 'Name: ' + rawData?.BA?.name + '\\n Email: ' + rawData?.BA?.email\n\n\nconsole.log('dataReFormat: ', dataReFormat)\n\nreturn { prepareText: dataReFormat };\n"
      },
      "id": "bf191023-d926-49d4-9948-0dcb857adadc",
      "name": "prepareText3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        2420
      ]
    },
    {
      "parameters": {
        "jsCode": "let oldData = $input.all()[0]?.json?.message?.content;\n\n// Replace new lines with <br> tags\noldData = oldData.replace(/\\n\\n<br>\\n\\n/g, '');\noldData = oldData.replace(/<br>\\n\\n/g, '');\noldData = oldData.replace(/\\n\\n/g, '');\noldData = oldData.replace(/\\n/g, '');\n\n// Replace ** with <strong> tags for bold text\noldData = oldData.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\n// Replace ### with <h3> tags for subheadings\noldData = oldData.replace(/###\\s*(.*?)(<br>|$)/g, '<h3>$1</h3>');\n\nreturn { textHtml: oldData };\n\n"
      },
      "id": "9fb2651f-2bbb-443c-a118-ef0b5690b487",
      "name": "Standardize3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        2420
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.members",
        "options": {}
      },
      "id": "69293ffa-7aa4-4155-aa1e-0765723db953",
      "name": "Split members3",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        280,
        2200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8d53b8a-6d37-497e-87c2-75415e0ac736",
              "leftValue": "={{ $json.data.designation.id }}",
              "rightValue": "c442e6ec-c999-4e06-8c7f-038d18498df7",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c0399998-2d5c-434d-b13b-47c483e14ff5",
      "name": "Get BA2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        2180
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "76278529-2879-49ab-817d-5240d08985ef",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1100,
        2420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21c0fa18-5c87-41d0-a294-f9fb54e3a83b",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "In Progress",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "befd4d7f-eb11-4108-9f4f-bf35864cbd92",
      "name": "Check InProgress",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -140,
        2460
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4",
        "prompt": {
          "messages": [
            {
              "content": "=Compose a kick-off email without a subject line and using tags: <p>, <strong>, <ul>, <li> from {{ $('Take Value3').item.json.BA.name }}, Business Analyst for {{ $('Take Value3').item.json.project.name }} at CmsMart. Include a summary of key goals, scope, and objectives, and confirm alignment with the client and team. The tone should be collaborative and informative.\nAI Node Output: Generate email content based on milestone goals and objectives.\n\nWith the information below:\n{{ $json.prepareText }}\n<strong>Link project: <a href=\"https://worksuite.cloodo.com/apps/work/project/{{ $('Take Value3').first().json.project.id }}\">{{ $('Take Value3').first().json.project.name }}</a></strong>\n\nusing card html: <p>, <strong>, <ul>, <li> , ...\n\n\n\n"
            }
          ]
        },
        "simplifyOutput": "=true",
        "options": {
          "maxTokens": 600
        },
        "requestOptions": {}
      },
      "id": "40784ec9-bad2-4878-87af-ced6a9f53c48",
      "name": "AI Milestone Kickoff Email",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        2140,
        2420
      ],
      "credentials": {
        "openAiApi": {
          "id": "NuSZIBmfyaC1efAa",
          "name": "Cmsmart_API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloodo.com/mautic.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "=nguyenduccanh1523@gmail.com"
            },
            {
              "name": "uname",
              "value": "=Huy Nguyen Quang"
            },
            {
              "name": "subject",
              "value": "=Kickoff: Starting Work on {{ $('Take Value3').first().json.milestone.name }}"
            },
            {
              "name": "send_mail",
              "value": "cmsmart"
            },
            {
              "name": "email_id",
              "value": "103"
            },
            {
              "name": "content",
              "value": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n\n<body style=\"font-family: Arial, sans-serif; color: #333; line-height: 1.6; margin: 0;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\" background-color: #fff;\">\n        <!-- Content -->\n        <tr>\n            <td style=\"font-size: 15px;\">\n                <p>{{ $('Standardize3').item.json.textHtml }}</p>\n<strong>Link project: <a href=\"https://worksuite.cloodo.com/apps/work/project/{{ $('Take Value3').first().json.project.id }}\">{{ $('Take Value3').first().json.project.name }}</a></strong>\n            </td>\n        </tr>\n        \n \n    </table>\n</body>\n\n</html>\n\n"
            }
          ]
        },
        "options": {}
      },
      "id": "07c9cd83-509f-4208-aa53-71535f1f619d",
      "name": "Milestone Kickoff Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3140,
        2420
      ]
    },
    {
      "parameters": {
        "fromEmail": "canh@gmail.com",
        "toEmail": "nguyenduccanh2398@gmail.com",
        "subject": "cảnh",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n\n<body style=\"font-family: Arial, sans-serif; color: #333; line-height: 1.6; margin: 0;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\" background-color: #fff;\">\n        <!-- Content -->\n        <tr>\n            <td style=\"font-size: 15px;\">\n                <p><h3>Dear Team and Evan from Nitro Design,</h3><p>I hope this email finds you well. As the Business Analyst for the Nitro Designs Project at CmsMart, I am writing to provide you with the details of our project that is set to kick-off on the 30th of October, 2024.</p><h3>Project Overview:</h3><ul>    <li><strong>Name:</strong> Nitro Designs Project</li>    <li><strong>Client:</strong> Evan from Nitro Design</li>    <li><strong>Email:</strong> evan@nitrodesigns.net</li></ul><h3>Milestone Goals:</h3><p>Our key objective is the development for Nitro Designs. You can find detailed specifications in the attached document. This includes two mockups to provide a visual representation of what we aim to accomplish.</p><ul>    <li>Firstly, we plan to offer customizable wrap styles in various colors, as shown in the initial photo.</li>    <li>Secondly, the second photo demonstrates the range of number styles. Our goal is to incorporate this functionality into our interactive interface.</li>    <li>Lastly, the website we're drawing inspiration from can be reviewed <a href=\"https://www.decalmx.com/designinator/ready-made-complete-graphics-kit-yamaha-yz450f-2018-mfg-23/7395/ready-made-complete-graphics-kit/258?fbclid=IwY2xjawEvkDtleHRuA2FlbQIxMQABHSfclx898fJRdKdiPBEcCtxcvpmJoKdGSNlC4hEIaTtxIyqLMEyzw6LEqg_aem_10QLp1VmMqcyVS8lD_fXNA\">here</a>.</li>    <li>Please note, our deadline for this project is the 28th of November, 2024.</li></ul><p>Please review the details and respond with any suggestions, concerns or questions. It's important we're all aligned from the get-go so we can work collaboratively and effectively to drive results.</p><p>Thank you all for your commitment to this project. I look forward to our journey together in creating something great. Feel free to contact me at huy.nhd@netbasejsc.com if you need any further information or clarification.</p><p>Best regards,</p><h3>Jerry Nguyen</h3>Business Analyst, Nitro Designs Project at CmsMart</p>\n<strong>Link project: <a href=\"https://worksuite.cloodo.com/apps/work/project/f4c03e02-9eb6-4b09-a2b6-86a02146ca5a\">Nitro Designs Project</a></strong>\n            </td>\n        </tr>\n        \n \n    </table>\n</body>\n\n</html>",
        "options": {}
      },
      "id": "f6b5eea4-3c6a-4e95-9a9b-f86892110bc8",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2840,
        2200
      ],
      "credentials": {
        "smtp": {
          "id": "3IWSZSQoCZOgbJur",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $('Take Value1').item.json.project.id }}",
        "requestOptions": {}
      },
      "id": "c6fe2d23-0f9e-437f-9d1f-951563106c49",
      "name": "Cloodo Project4",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        2820,
        3480
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "=data.members",
        "options": {}
      },
      "id": "683b19c3-ddc2-4f35-969b-ffd35bfd5435",
      "name": "Split member project4",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3020,
        3480
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "d10dd551-ab3e-4e99-a20e-a32784f26456",
      "name": "Aggregate8",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1020,
        2960
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "e961f3ea-4ed9-4c68-ab38-7bd3bbd64cb9",
      "name": "Aggregate9",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1540,
        3260
      ]
    },
    {
      "parameters": {
        "resource": "milestones",
        "operation": "get",
        "ID": "3e625156-5e02-4c0f-b30d-c3294177c7e7",
        "requestOptions": {}
      },
      "id": "4d397ce3-cb55-4115-9bbc-88efcbedca6d",
      "name": "Get Milestone3",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -440,
        3300
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "d05c3388-11ae-4771-a324-0f8f48296791",
      "name": "Get Employee4",
      "type": "@cloodo/n8n-nodes-cloodo-hrm.CloodoHRM",
      "typeVersion": 1,
      "position": [
        480,
        3000
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "ID": "={{ $json.data.project.id }}",
        "requestOptions": {}
      },
      "id": "490ca77b-4cd2-4f11-b5f9-4a646e4a4a3b",
      "name": "Get Project5",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        40,
        3120
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf60afe0-9f95-4d48-b8c6-de848f215516",
              "name": "milestone.name",
              "value": "={{ $json.data[1].title }}",
              "type": "string"
            },
            {
              "id": "fc4ab56a-f099-4928-9a08-a9ef42b2b213",
              "name": "project.clientname",
              "value": "={{ $json.data[2].client.user.name }}",
              "type": "string"
            },
            {
              "id": "12bc061e-c1ea-4385-b3f9-8e83752401c1",
              "name": "project.clientemail",
              "value": "={{ $json.data[2].client.user.email }}",
              "type": "string"
            },
            {
              "id": "faaf9709-45ab-4f71-aa42-01390c6ee194",
              "name": "=BA.name",
              "value": "={{ $json.data[0][0].name }}",
              "type": "string"
            },
            {
              "id": "3af7fb39-6c19-48ca-9dba-4c8fde5e184d",
              "name": "milestone.summary",
              "value": "={{ $json.data[1].summary }}",
              "type": "string"
            },
            {
              "id": "60334b29-cb8f-437c-914d-bd69e272187d",
              "name": "milestone.start_date",
              "value": "={{ $json.data[1].start_date }}",
              "type": "string"
            },
            {
              "id": "4651dde7-a41c-4b23-8f17-7ea044db58db",
              "name": "BA.email",
              "value": "={{ $json.data[0][0].email }}",
              "type": "string"
            },
            {
              "id": "c49e5df9-292a-437c-bdca-2691040f0187",
              "name": "project.id",
              "value": "={{ $json.data[2].id }}",
              "type": "string"
            },
            {
              "id": "690f68df-5f3d-447f-88c5-765dd466591d",
              "name": "project.name",
              "value": "={{ $json.data[2].name }}",
              "type": "string"
            },
            {
              "id": "958cfb75-15ee-4c4b-bbc5-80f3dbd1a533",
              "name": "milestone.deadline",
              "value": "={{ $json.data[1].due_date }}",
              "type": "string"
            },
            {
              "id": "273a3615-8009-4e3a-8321-4386e79f0ea6",
              "name": "project.summary",
              "value": "={{ $json.data[2].summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6b4506dc-8e6b-4316-ae2e-512f495e26a3",
      "name": "Take Value4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1780,
        3260
      ]
    },
    {
      "parameters": {
        "jsCode": "let dataReFormat = ''\nconst rawData = $input.all()[0]?.json\n\n\n\ndataReFormat =  `\nInformation of Project: \n\\n Name: ${rawData?.project?.name} \n Summary: ${rawData?.project?.summary}\n Client Name of Project: ${rawData?.project?.clientname} \n Client Email of Project: ${rawData?.project?.clientemail}\n\n\\n \\n With Milestone Progress Summary: Completion percentage, adjustments made, feedback received:\n\\n Name: ${rawData?.milestone?.name}\n Summary: ${rawData?.milestone?.summary}\n Start_Date: ${rawData?.milestone?.start_date}\n Deadline: ${rawData?.milestone?.deadline}\n\n`\n\n\ndataReFormat = dataReFormat +  '\\n \\n Contact Bussiness Analyst (BA): \\n ' + 'Name: ' + rawData?.BA?.name + '\\n Email: ' + rawData?.BA?.email\n\n\nconsole.log('dataReFormat: ', dataReFormat)\n\nreturn { prepareText: dataReFormat };\n"
      },
      "id": "d0cc64dc-8971-40ab-8956-f0b4aa1c0da1",
      "name": "prepareText4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        3260
      ]
    },
    {
      "parameters": {
        "jsCode": "let oldData = $input.all()[0]?.json?.message?.content;\n\n// Replace new lines with <br> tags\noldData = oldData.replace(/\\n\\n<br>\\n\\n/g, '');\noldData = oldData.replace(/<br>\\n\\n/g, '');\noldData = oldData.replace(/\\n\\n/g, '');\noldData = oldData.replace(/\\n/g, '');\n\n// Replace ** with <strong> tags for bold text\noldData = oldData.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\n\n// Replace ### with <h3> tags for subheadings\noldData = oldData.replace(/###\\s*(.*?)(<br>|$)/g, '<h3>$1</h3>');\n\nreturn { textHtml: oldData };\n\n"
      },
      "id": "4b03cf82-0c1e-4aba-a8c2-14897949c9f2",
      "name": "Standardize4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        3260
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.members",
        "options": {}
      },
      "id": "b9d1c4e6-c1c8-4bcc-af24-b2062587a37b",
      "name": "Split members4",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        320,
        3000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8d53b8a-6d37-497e-87c2-75415e0ac736",
              "leftValue": "={{ $json.data.designation.id }}",
              "rightValue": "c442e6ec-c999-4e06-8c7f-038d18498df7",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "010f86eb-5547-4b17-b44f-2fa5fca25cba",
      "name": "Get BA3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        2980
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "969aaf9a-a398-4283-a1b2-b86f29aae489",
      "name": "Merge4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1300,
        3260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21c0fa18-5c87-41d0-a294-f9fb54e3a83b",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "In Progress",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "f6043a33-ed3c-4668-aebf-d7e8eed65448",
      "name": "Check InProgress1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        3300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4",
        "prompt": {
          "messages": [
            {
              "content": "=Create an email with no subject line, starting with Dear and the tags: <p>, <strong>, <ul>, <li> mid-term professional update to {{ $('Take Value4').item.json.project.clientname }} {{ $('Take Value4').item.json.BA.name }}, Business Analyst of {{ $('Take Value4').item.json.project.name }} at CmsMart with the project and items that will be used <strong>. Include a summary of how the requirements were met, any adjustments made based on feedback, and any issues that impacted the timeline. The tone should be supportive and informative.\n\nWith the information below:\n{{ $json.prepareText }}\n<strong>Link project: <a href=\"https://worksuite.cloodo.com/apps/work/project/{{ $('Take Value4').first().json.project.id }}\">{{ $('Take Value4').first().json.project.name }}</a></strong>\n\nusing card html: <p>, <strong>, <ul>, <li> , ...\n\n\n\n\n\n"
            }
          ]
        },
        "simplifyOutput": "=true",
        "options": {
          "maxTokens": 600
        },
        "requestOptions": {}
      },
      "id": "dfd2b7b7-31d3-4028-b539-4d67a90771f0",
      "name": "AI Milestone Kickoff Email1",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        2340,
        3260
      ],
      "credentials": {
        "openAiApi": {
          "id": "NuSZIBmfyaC1efAa",
          "name": "Cmsmart_API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "canh@gmail.com",
        "toEmail": "nguyenduccanh2398@gmail.com",
        "subject": "cảnh",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n\n<body style=\"font-family: Arial, sans-serif; color: #333; line-height: 1.6; margin: 0;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\" background-color: #fff;\">\n        <!-- Content -->\n        <tr>\n            <td style=\"font-size: 15px;\">\n                <p><h3>Dear Team and Evan from Nitro Design,</h3><p>I hope this email finds you well. As the Business Analyst for the Nitro Designs Project at CmsMart, I am writing to provide you with the details of our project that is set to kick-off on the 30th of October, 2024.</p><h3>Project Overview:</h3><ul>    <li><strong>Name:</strong> Nitro Designs Project</li>    <li><strong>Client:</strong> Evan from Nitro Design</li>    <li><strong>Email:</strong> evan@nitrodesigns.net</li></ul><h3>Milestone Goals:</h3><p>Our key objective is the development for Nitro Designs. You can find detailed specifications in the attached document. This includes two mockups to provide a visual representation of what we aim to accomplish.</p><ul>    <li>Firstly, we plan to offer customizable wrap styles in various colors, as shown in the initial photo.</li>    <li>Secondly, the second photo demonstrates the range of number styles. Our goal is to incorporate this functionality into our interactive interface.</li>    <li>Lastly, the website we're drawing inspiration from can be reviewed <a href=\"https://www.decalmx.com/designinator/ready-made-complete-graphics-kit-yamaha-yz450f-2018-mfg-23/7395/ready-made-complete-graphics-kit/258?fbclid=IwY2xjawEvkDtleHRuA2FlbQIxMQABHSfclx898fJRdKdiPBEcCtxcvpmJoKdGSNlC4hEIaTtxIyqLMEyzw6LEqg_aem_10QLp1VmMqcyVS8lD_fXNA\">here</a>.</li>    <li>Please note, our deadline for this project is the 28th of November, 2024.</li></ul><p>Please review the details and respond with any suggestions, concerns or questions. It's important we're all aligned from the get-go so we can work collaboratively and effectively to drive results.</p><p>Thank you all for your commitment to this project. I look forward to our journey together in creating something great. Feel free to contact me at huy.nhd@netbasejsc.com if you need any further information or clarification.</p><p>Best regards,</p><h3>Jerry Nguyen</h3>Business Analyst, Nitro Designs Project at CmsMart</p>\n<strong>Link project: <a href=\"https://worksuite.cloodo.com/apps/work/project/f4c03e02-9eb6-4b09-a2b6-86a02146ca5a\">Nitro Designs Project</a></strong>\n            </td>\n        </tr>\n        \n \n    </table>\n</body>\n\n</html>",
        "options": {}
      },
      "id": "e78c1137-dd2e-4fff-a63b-66691d9d2b3b",
      "name": "Send Email1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3000,
        3100
      ],
      "credentials": {
        "smtp": {
          "id": "3IWSZSQoCZOgbJur",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Mid-Milestone Progress Update Email Workflow"
      },
      "id": "9d760c3e-64e9-44c4-b73c-d1d1c1b0f890",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -620,
        3480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloodo.com/mautic.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "=huy.nq@netbasejsc.com"
            },
            {
              "name": "uname",
              "value": "=Huy Nguyen Quang"
            },
            {
              "name": "subject",
              "value": "=Mid-Milestone Update: Progress on  {{ $('Take Value4').first().json.project.name }}"
            },
            {
              "name": "send_mail",
              "value": "cmsmart"
            },
            {
              "name": "email_id",
              "value": "103"
            },
            {
              "name": "content",
              "value": "=<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n\n<body style=\"font-family: Arial, sans-serif; color: #333; line-height: 1.6; margin: 0;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\" background-color: #fff;\">\n        <!-- Content -->\n        <tr>\n            <td style=\"font-size: 15px;\">\n                <p>{{ $('Standardize4').item.json.textHtml }}</p>\n<strong>Link project: <a href=\"https://worksuite.cloodo.com/apps/work/project/{{ $('Take Value4').first().json.project.id }}\">{{ $('Take Value4').first().json.project.name }}</a></strong>\n            </td>\n        </tr>\n        \n \n    </table>\n</body>\n\n</html>\n\n"
            }
          ]
        },
        "options": {}
      },
      "id": "1861bc51-49b3-4675-a673-2d86ba1acac7",
      "name": "Mid-Milestone Progress Update Email Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        3260
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.data.added_by.id }}",
        "requestOptions": {}
      },
      "id": "e084526d-ef1c-4745-86e4-dea9e1820618",
      "name": "get Agent",
      "type": "@cloodo/n8n-nodes-cloodo-hrm.CloodoHRM",
      "typeVersion": 1,
      "position": [
        640,
        3400
      ],
      "credentials": {
        "cloodoApi": {
          "id": "nP7U7wKTbfdSeafq",
          "name": "Cmsmart Worksuite account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Take Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project": {
      "main": [
        [
          {
            "node": "Check not started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check not started": {
      "main": [
        [
          {
            "node": "Split members",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split members": {
      "main": [
        [
          {
            "node": "Get Employee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Employee": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take Value": {
      "main": [
        [
          {
            "node": "prepareText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepareText": {
      "main": [
        [
          {
            "node": "AI Requirement Gathering Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize": {
      "main": [
        [
          {
            "node": "Requirement Gathering Email Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project": {
      "main": [
        [
          {
            "node": "Split member project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Take Value1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Milestone1": {
      "main": [
        [
          {
            "node": "Check Contracted Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Employee1": {
      "main": [
        [
          {
            "node": "Get BA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split members1": {
      "main": [
        [
          {
            "node": "Get Employee1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project2": {
      "main": [
        [
          {
            "node": "Split members1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check Contracted Plan": {
      "main": [
        [
          {
            "node": "Get Project2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project1": {
      "main": [
        [
          {
            "node": "Split member project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take Value1": {
      "main": [
        [
          {
            "node": "prepareText1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepareText1": {
      "main": [
        [
          {
            "node": "AI Requirement Gathering Milesetone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize1": {
      "main": [
        [
          {
            "node": "Requirement Gathering Email Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project2": {
      "main": [
        [
          {
            "node": "Split member project2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Take Value2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Milestone": {
      "main": [
        [
          {
            "node": "Check Contracted Plan1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Employee2": {
      "main": [
        [
          {
            "node": "Get BA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project3": {
      "main": [
        [
          {
            "node": "Split members2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Check Contracted Plan1": {
      "main": [
        [
          {
            "node": "Get Project3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "prepareText2": {
      "main": [
        [
          {
            "node": "AI Requirement Project2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project3": {
      "main": [
        [
          {
            "node": "Split member project3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Requirement Project2": {
      "main": [
        [
          {
            "node": "Standardize2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Requirement Gathering Milesetone": {
      "main": [
        [
          {
            "node": "Standardize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Requirement Gathering Project": {
      "main": [
        [
          {
            "node": "Standardize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Milestone3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split members2": {
      "main": [
        [
          {
            "node": "Get Employee2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get BA": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get BA1": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take Value2": {
      "main": [
        [
          {
            "node": "prepareText2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize2": {
      "main": [
        [
          {
            "node": "Requirements Confirmation Email Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Milestone2": {
      "main": [
        [
          {
            "node": "Check InProgress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Employee3": {
      "main": [
        [
          {
            "node": "Get BA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project4": {
      "main": [
        [
          {
            "node": "Split members3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Take Value3": {
      "main": [
        [
          {
            "node": "prepareText3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepareText3": {
      "main": [
        [
          {
            "node": "AI Milestone Kickoff Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize3": {
      "main": [
        [
          {
            "node": "Milestone Kickoff Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split members3": {
      "main": [
        [
          {
            "node": "Get Employee3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get BA2": {
      "main": [
        [
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Aggregate7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check InProgress": {
      "main": [
        [
          {
            "node": "Get Project4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate7": {
      "main": [
        [
          {
            "node": "Take Value3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Milestone Kickoff Email": {
      "main": [
        [
          {
            "node": "Standardize3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project4": {
      "main": [
        [
          {
            "node": "Split member project4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate8": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate9": {
      "main": [
        [
          {
            "node": "Take Value4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Milestone3": {
      "main": [
        [
          {
            "node": "Check InProgress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Employee4": {
      "main": [
        [
          {
            "node": "Get BA3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project5": {
      "main": [
        [
          {
            "node": "Split members4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Take Value4": {
      "main": [
        [
          {
            "node": "prepareText4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepareText4": {
      "main": [
        [
          {
            "node": "AI Milestone Kickoff Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize4": {
      "main": [
        [
          {
            "node": "Mid-Milestone Progress Update Email Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split members4": {
      "main": [
        [
          {
            "node": "Get Employee4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get BA3": {
      "main": [
        [
          {
            "node": "Aggregate8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Aggregate9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check InProgress1": {
      "main": [
        [
          {
            "node": "Get Project5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          },
          {
            "node": "get Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Milestone Kickoff Email1": {
      "main": [
        [
          {
            "node": "Standardize4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get Agent": {
      "main": [
        [
          {
            "node": "Aggregate8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ee84d4f1-b73b-4d52-8129-2af6df5e0f0b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "OiUuFm9TzikOKXbh",
  "tags": []
}