promotion/FB___WACRM.json
{
  "name": "FB - WACRM",
  "nodes": [
    {
      "parameters": {},
      "id": "202b785e-479f-4408-b0e6-279211cf4914",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1000,
        360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Get ID Feature Posted \n",
        "height": 273.24288866625744,
        "width": 221.30942614246254,
        "color": 4
      },
      "id": "0736541d-6041-41f2-9152-da44c32eecac",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2480,
        1520
      ]
    },
    {
      "parameters": {
        "content": "## Get Project WACRM\nGet all info of Whatsapp CMR project",
        "height": 292.2946581944142,
        "width": 223.42628942336876,
        "color": 6
      },
      "id": "56b4cfac-4a8b-4788-95f0-e121d885f66b",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2840,
        1505
      ]
    },
    {
      "parameters": {
        "content": "## Get Random Feature To Post\nget random one feature to post on facebook and make sure it has not been posted before",
        "height": 317.69701756528985,
        "width": 262.8753572841849,
        "color": 2
      },
      "id": "581f7606-5c44-4b5f-a778-a8e28f9073a4",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3480,
        1496
      ]
    },
    {
      "parameters": {
        "authentication": "token",
        "operation": "getAll",
        "contentType": "=features?populate=*&filters[$and][0][id][$eq]={{ $json.id }}",
        "returnAll": true,
        "options": {}
      },
      "id": "07a74797-959f-4bdc-b519-7a413cb973bd",
      "name": "Strapi1",
      "type": "n8n-nodes-base.strapi",
      "typeVersion": 1,
      "position": [
        3940,
        1640
      ],
      "credentials": {
        "strapiTokenApi": {
          "id": "Cm4uH9F0K2CASK8a",
          "name": "Strapi account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4",
        "prompt": {
          "messages": [
            {
              "content": "=Write a random daily different Facebook Post on WACRM Facebook Page as Mr David Nguyen, Senior Consultant WhatsApp Business Solution\n\nSummarize or introduce the content in the URL attached below as the main content of the post:\n\nhttps://workplace.cloodo.com/project/whatsapp-crm\n\nFeatured name and description should be promoted primarily in the article.\n\nAlways make bold the feature name or add icons before and after the feature name\n\nname: {{ $json.attributes.title }}\ndescription: {{ $json.attributes.text }}\n\nWACRM - Ultimate WhatsApp CRM & AI Assistant\n\nWACRM integrates WhatsApp with Chrome for seamless CRM, real-time engagement, customizable widgets, AI assistance, and scalable support.\n\nWACRM is a comprehensive communication solution designed to enhance customer relationship management (CRM) by integrating WhatsApp with Chrome. This integration allows businesses to streamline their communication channels, providing seamless interactions with clients and improving customer service efficiency.\n\nFree Version with Advanced Features\n\nReal-time Engagement: Engage with visitors instantly through a customizable live chat widget that blends seamlessly with your Chrome extension's design.\nIntegrate WhatsApp: Scan the QR Code to integrate multiple WhatsApp numbers into a unified interface, allowing management of all customer interactions from various accounts.\nActive Contacts: Maintain a real-time database of active contacts for efficient follow-ups and personalized customer service.\nMerge Contacts to Clients: Seamlessly merge and organize contacts into your client database, ensuring updated and accurate client information.\nComprehensive Dashboard: Access an intuitive dashboard to track key performance indicators (KPIs), chat volumes, and customer satisfaction scores.\nPredefined Responses: Utilize predefined chat templates to respond quickly and consistently to common customer inquiries, saving time and ensuring consistency.\nCustomizable Templates: Create and customize templates to suit specific business needs and enhance customer service efficiency.\nMedia Files Storage: Store and manage media files exchanged during chats, ensuring easy access.\nCreate Client Task: Assign tasks to team members based on chat conversations, ensuring follow-ups and completion of action items.\nChat History Sharing: Share chat histories with team members or clients to ensure transparency and continuity in communications.\nPremium Version and Custom Advanced Setup\n\nContact Data Exports: Export contact data for further analysis or integration with other business tools and CRM systems.\nCustom Workflow Setup: We release API and private support services to be used to configure advanced workflows for managing complex business processes, enhancing productivity and operational efficiency.\nChatGPT Integration: Integrate AI-powered assistants like ChatGPT to handle routine inquiries, provide instant responses, and improve customer service efficiency.\nSmart Responses: Utilize AI for intelligent and context-aware responses, enhancing the overall customer experience.\nWhatsApp Business: Send bulk messages, promotions, and updates to customers using WhatsApp Business, enhancing marketing efforts and communication reach.\nDeveloper API: Utilize developer APIs to customize and extend WACRM functionalities according to specific business needs.\nIntegration Capabilities: Seamlessly integrate with other tools and platforms, enhancing the overall functionality and connectivity.\nBenefits Across Industries\n\nEnhanced Customer Support: Provide quick and efficient support, leading to higher customer satisfaction and loyalty.\nStreamlined Communication: Manage multiple communication channels from a single interface, improving efficiency and response times.\nImproved Customer Insights: Gain valuable insights into customer behavior and preferences through detailed analytics and reporting.\nScalability: Easily scale communication capabilities as your business grows, accommodating increasing volumes of customer interactions.\nWACRM is ideal for a diverse range of users including small and medium-sized businesses like e-commerce stores, service agencies, and retail businesses; large enterprises with multiple divisions and extensive customer support teams; and startups across tech, product, and service sectors. Freelancers and consultants can manage client interactions efficiently, while agencies such as marketing, design, and development firms benefit from enhanced client engagement. Educational institutions, nonprofit organizations, healthcare providers, real estate agencies, and the hospitality and travel industry can all use WACRM to provide real-time support, streamline communications, and improve customer satisfaction.\n\n\n\nThe post has relates tags, keep the original URL inside the content if provided as links for CTA, keep the images or video inside content if have\n\n\n\nThe tone should be positive, friendly by professionalism, like a way that I post to share our updated business which is open, easy-going for most of potential partners, keep them connect and motivated with what we are doing for their ecommerce project\n\n\n\nInclude the contact below to used for CTA:\n\n\n\nMrs David Nguyen - Senior Consultant\n\nWhatsApp Business Consultant\n\nEmail: support@cloodo.com\n\nWhatsapp: +84965586069"
            }
          ]
        },
        "simplifyOutput": "=true",
        "options": {
          "maxTokens": 1600
        },
        "requestOptions": {}
      },
      "id": "2fc826d9-58ab-4af5-b4e7-4c03c4e17547",
      "name": "OpenAI2",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        4300,
        1640
      ],
      "credentials": {
        "openAiApi": {
          "id": "n8dQI8Jd37RLAV5K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v17.0",
        "node": "=me/photos",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "=message",
                "value": "={{ $json.message.content }}"
              },
              {
                "name": "url",
                "value": "={{ $('Loop when image link is not valid').item.json.attributes.image }}"
              }
            ]
          }
        }
      },
      "id": "de50de0f-3c8a-4960-be25-5be2ace6cdff",
      "name": "Facebook Graph API WACRM",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        3340,
        200
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "X3uXrrjxMcjmPb3m",
          "name": "Facebook Graph account WACRM"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1pRm-6FtazTKCK-vDxXL9fM-Y1THn2u7PqhV4-Gp3uZk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 720205692,
          "mode": "list",
          "cachedResultName": "FB-WACRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pRm-6FtazTKCK-vDxXL9fM-Y1THn2u7PqhV4-Gp3uZk/edit#gid=720205692"
        },
        "options": {}
      },
      "id": "d0e6bd92-c292-4bd7-8f59-6a986f07e211",
      "name": "Get Feature Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        2540,
        1640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6ZPseCXSZ0dgVauE",
          "name": "Google Sheets FB - OCEAN"
        }
      }
    },
    {
      "parameters": {
        "authentication": "token",
        "operation": "getAll",
        "contentType": "projects?filters[$and][0][alias][$eq]=whatsapp-crm&populate[1]=features",
        "returnAll": true,
        "options": {}
      },
      "id": "26c077df-8897-4fa2-bac0-33b2e34e24af",
      "name": "Get Project Whatsapp CRM",
      "type": "n8n-nodes-base.strapi",
      "typeVersion": 1,
      "position": [
        2900,
        1640
      ],
      "credentials": {
        "strapiTokenApi": {
          "id": "Cm4uH9F0K2CASK8a",
          "name": "Strapi account 3"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "attributes.features",
        "options": {}
      },
      "id": "28d5be25-b5c0-461b-93de-321eddc4ba6b",
      "name": "Split By Feature",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3240,
        1640
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = Object.values($items()[0].json);\nconsole.log('All items:', allItems);\n\nconst selectedItems = $node['Get Feature Posted'].json\n\nconst selectedItemsArray = Array.isArray(selectedItems) ? selectedItems : [selectedItems]\n\nconst remainingItems = allItems.filter(item=> !selectedItemsArray.some(selected => selected.id === item.id))\n\nif (remainingItems.length === 0) {\n    throw new Error('All items have already been selected.');\n}\n\n// Chọn ngẫu nhiên một item duy nhất\nif (allItems.length > 0) {\n  const randomIndex = Math.floor(Math.random() * allItems.length);  // Lấy chỉ số ngẫu nhiên dựa trên độ dài mảng\n  const randomItem = remainingItems[randomIndex];  // Lấy item ngẫu nhiên\n  \n  // Trả về chỉ một item dưới dạng mảng chứa đối tượng JSON\n  return {\n    json: randomItem\n  };\n} else {\n  // Trả về thông báo lỗi nếu không có items nào\n  return {\n    json: { message: \"No items found\" }\n  };\n}"
      },
      "id": "2ca41832-0b60-451d-b307-d0592c184721",
      "name": "Random Feature To Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3560,
        1640
      ]
    },
    {
      "parameters": {
        "content": "## Split Feature\nSplit items by feature of project WACRM",
        "height": 292.2946581944142,
        "width": 223.42628942336876,
        "color": 6
      },
      "id": "18a591a5-a7f7-44e9-a3f4-c381947e7ba4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3180,
        1520
      ]
    },
    {
      "parameters": {
        "content": "## Get Detail Feature\nGet details about the Feature to post based on the ID selected in the previous node",
        "height": 318.72010920844895,
        "width": 249.85174043740335,
        "color": 6
      },
      "id": "da6972ce-06e6-4613-b341-120459517d64",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3860,
        1493
      ]
    },
    {
      "parameters": {
        "content": "## Write Content To Post",
        "height": 318.72010920844895,
        "width": 249.85174043740335,
        "color": 7
      },
      "id": "d4c8641d-9358-4d7d-9013-432a5955fbbb",
      "name": "Sticky Note24",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4220,
        1500
      ]
    },
    {
      "parameters": {
        "content": "## Execute Post",
        "height": 287.35260739423563,
        "width": 249.85174043740335,
        "color": 5
      },
      "id": "93956d8c-ede8-4aab-bfcb-4bcf38ba8ef3",
      "name": "Sticky Note25",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3260,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Save ID \nSave id and time of the feature just posted",
        "height": 318.72010920844895,
        "width": 249.85174043740335,
        "color": 4
      },
      "id": "6b5dab6b-a998-486f-ae35-683907095552",
      "name": "Sticky Note26",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4900,
        1500
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1pRm-6FtazTKCK-vDxXL9fM-Y1THn2u7PqhV4-Gp3uZk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 720205692,
          "mode": "list",
          "cachedResultName": "FB-WACRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pRm-6FtazTKCK-vDxXL9fM-Y1THn2u7PqhV4-Gp3uZk/edit#gid=720205692"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Strapi1').item.json.id }}",
            "selectedAt": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "selectedAt",
              "displayName": "selectedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "c872f1e4-c778-4bd0-a9a6-9647ab723a79",
      "name": "Save ID WACRM",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        4980,
        1640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6ZPseCXSZ0dgVauE",
          "name": "Google Sheets FB - OCEAN"
        }
      }
    },
    {
      "parameters": {
        "content": "## Write Content\nUse prompt is provided, we will use AI to write content to post",
        "height": 286.29688456916756,
        "width": 215.54603652481288,
        "color": 7
      },
      "id": "15d757dd-f7b5-47a7-90a4-f1fb06ed7462",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2960,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Get object posted of WACRM\n\n",
        "height": 296.5719004024541,
        "width": 211.67528287330384,
        "color": 4
      },
      "id": "f59abc8c-669a-4f16-a1c5-281e8827d06d",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        80
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "attributes.project_reviews, attributes.faqs, attributes.feature_image, attributes.features, attributes.posts, attributes.project_files, attributes.screenshots, attributes.awards",
        "options": {}
      },
      "id": "cda6aa35-338a-4fd9-bd12-a13a2109bedd",
      "name": "Split Out Attributes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        20,
        200
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "['attributes.faqs'], ['attributes.features'], ['attributes.project_reviews'], ['attributes.posts'], ['attributes.project_files'],  ['attributes.awards']",
        "include": "selectedOtherFields",
        "fieldsToInclude": "parent, id_parent",
        "options": {}
      },
      "id": "97d67335-e2c5-49b6-ae59-4704ae42af76",
      "name": "Split Out Each Attribute",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        340,
        200
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const items = $items(); // Get all items from the current input\nconst selectedItems = $node[\"Get object posted\"].json; // Get previously selected items\n\n// If selectedItems is not an array, wrap it in an array\nconst selectedItemsArray = Array.isArray(selectedItems) ? selectedItems : [selectedItems];\n\n// Filter out already selected items\nconst remainingItems = items.filter(item => \n    !selectedItemsArray.some(selected => selected.id === item.json.id)\n);\n\n// If no remaining items, throw an error\nif (remainingItems.length === 0) {\n    throw new Error('All items have already been selected.');\n}\n\n// Select a random item from the remaining ones\nconst randomIndex = Math.floor(Math.random() * remainingItems.length);\nconst selectedItem = remainingItems[randomIndex];\n\n// Return the randomly selected item\nreturn [selectedItem];\n"
      },
      "id": "9c8d9bc0-157f-4264-8c4a-1ee7ba5b9171",
      "name": "Random",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        200
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "gpt-4",
        "prompt": {
          "messages": [
            {
              "content": "=Write a random daily different Facebook Post on WACRM Facebook Page as Mr David Nguyen, Senior Consultant WhatsApp Business Solution\n\nSummarize or introduce the content in the URL attached below as the main content of the post:\n\ntype: {{ $('Random')?.item?.json?.type }}\nname: {{ $('Random')?.item?.json?.name }}\ndescription: {{ $('Random').item.json.description }}\n\nWACRM - Ultimate WhatsApp CRM & AI Assistant\n\nWACRM integrates WhatsApp with Chrome for seamless CRM, real-time engagement, customizable widgets, AI assistance, and scalable support.\n\nWACRM is a comprehensive communication solution designed to enhance customer relationship management (CRM) by integrating WhatsApp with Chrome. This integration allows businesses to streamline their communication channels, providing seamless interactions with clients and improving customer service efficiency.\n\nFree Version with Advanced Features\n\nReal-time Engagement: Engage with visitors instantly through a customizable live chat widget that blends seamlessly with your Chrome extension's design.\nIntegrate WhatsApp: Scan the QR Code to integrate multiple WhatsApp numbers into a unified interface, allowing management of all customer interactions from various accounts.\nActive Contacts: Maintain a real-time database of active contacts for efficient follow-ups and personalized customer service.\nMerge Contacts to Clients: Seamlessly merge and organize contacts into your client database, ensuring updated and accurate client information.\nComprehensive Dashboard: Access an intuitive dashboard to track key performance indicators (KPIs), chat volumes, and customer satisfaction scores.\nPredefined Responses: Utilize predefined chat templates to respond quickly and consistently to common customer inquiries, saving time and ensuring consistency.\nCustomizable Templates: Create and customize templates to suit specific business needs and enhance customer service efficiency.\nMedia Files Storage: Store and manage media files exchanged during chats, ensuring easy access.\nCreate Client Task: Assign tasks to team members based on chat conversations, ensuring follow-ups and completion of action items.\nChat History Sharing: Share chat histories with team members or clients to ensure transparency and continuity in communications.\nPremium Version and Custom Advanced Setup\n\nContact Data Exports: Export contact data for further analysis or integration with other business tools and CRM systems.\nCustom Workflow Setup: We release API and private support services to be used to configure advanced workflows for managing complex business processes, enhancing productivity and operational efficiency.\nChatGPT Integration: Integrate AI-powered assistants like ChatGPT to handle routine inquiries, provide instant responses, and improve customer service efficiency.\nSmart Responses: Utilize AI for intelligent and context-aware responses, enhancing the overall customer experience.\nWhatsApp Business: Send bulk messages, promotions, and updates to customers using WhatsApp Business, enhancing marketing efforts and communication reach.\nDeveloper API: Utilize developer APIs to customize and extend WACRM functionalities according to specific business needs.\nIntegration Capabilities: Seamlessly integrate with other tools and platforms, enhancing the overall functionality and connectivity.\nBenefits Across Industries\n\nEnhanced Customer Support: Provide quick and efficient support, leading to higher customer satisfaction and loyalty.\nStreamlined Communication: Manage multiple communication channels from a single interface, improving efficiency and response times.\nImproved Customer Insights: Gain valuable insights into customer behavior and preferences through detailed analytics and reporting.\nScalability: Easily scale communication capabilities as your business grows, accommodating increasing volumes of customer interactions.\nWACRM is ideal for a diverse range of users including small and medium-sized businesses like e-commerce stores, service agencies, and retail businesses; large enterprises with multiple divisions and extensive customer support teams; and startups across tech, product, and service sectors. Freelancers and consultants can manage client interactions efficiently, while agencies such as marketing, design, and development firms benefit from enhanced client engagement. Educational institutions, nonprofit organizations, healthcare providers, real estate agencies, and the hospitality and travel industry can all use WACRM to provide real-time support, streamline communications, and improve customer satisfaction.\n\nThe post has relates tags, keep the original URL inside the content if provided as links for CTA, keep the images or video inside content if have\n\nThe tone should be positive, friendly by professionalism, like a way that I post to share our updated business which is open, easy-going for most of potential partners, keep them connect and motivated with what we are doing for their ecommerce project\n\nInclude the contact below to used for CTA:\n\nMrs David Nguyen - Senior Consultant\n\nWhatsApp Business Consultant\n\nEmail: support@cloodo.com\n\nWhatsapp: +84965586069"
            }
          ]
        },
        "simplifyOutput": "=true",
        "options": {
          "maxTokens": 600
        },
        "requestOptions": {}
      },
      "id": "65b34dda-8340-4e30-8ce1-a8f3d0116f32",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        3020,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "n8dQI8Jd37RLAV5K",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "token",
        "operation": "getAll",
        "contentType": "={{ $json.type }}/{{ $json.id }}?populate=*",
        "options": {}
      },
      "id": "9ee6fa12-dd07-4c99-93b6-f8f7a62307f0",
      "name": "Detail Feature",
      "type": "n8n-nodes-base.strapi",
      "typeVersion": 1,
      "position": [
        1660,
        -80
      ],
      "credentials": {
        "strapiTokenApi": {
          "id": "Cm4uH9F0K2CASK8a",
          "name": "Strapi account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "token",
        "contentType": "faqs",
        "entryId": "={{ $json.id }}"
      },
      "id": "49473227-2e31-4e78-b55e-235625811d81",
      "name": "Detail FAQ",
      "type": "n8n-nodes-base.strapi",
      "typeVersion": 1,
      "position": [
        1660,
        100
      ],
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "strapiTokenApi": {
          "id": "Cm4uH9F0K2CASK8a",
          "name": "Strapi account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "token",
        "operation": "getAll",
        "contentType": "=awards/{{ $json.id }}?populate=*",
        "options": {}
      },
      "id": "623300b8-19f7-4d52-a9c3-7ff6c3d51870",
      "name": "Detail Awards",
      "type": "n8n-nodes-base.strapi",
      "typeVersion": 1,
      "position": [
        1660,
        280
      ],
      "credentials": {
        "strapiTokenApi": {
          "id": "Cm4uH9F0K2CASK8a",
          "name": "Strapi account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "token",
        "operation": "getAll",
        "contentType": "=project-reviews/{{ $json.id }}?populate=*",
        "options": {}
      },
      "id": "1657af9a-7a4a-4e7b-963b-0d38a272a214",
      "name": "Detail Project Review",
      "type": "n8n-nodes-base.strapi",
      "typeVersion": 1,
      "position": [
        1660,
        480
      ],
      "credentials": {
        "strapiTokenApi": {
          "id": "Cm4uH9F0K2CASK8a",
          "name": "Strapi account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Info of WACRM\nGet all info of WACRM project",
        "height": 295.3600183930015,
        "width": 219.6561390424718,
        "color": 6
      },
      "id": "37241883-6ad9-4a4a-ae08-c9aa7da5d644",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -340,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Split Attributes\nSplit attribute fields of project we will post",
        "height": 296.8121833646138,
        "width": 219.6561390424718,
        "color": 6
      },
      "id": "66f35667-c10e-498b-8703-06e9dd69b7bc",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst listItemReFormat = [];\n\nfor (const item of $input.all()) {\n  const itemData = item?.json\n  \n  const objFAQ = {}\n  const objFeature = {}\n  const objAward = {}\n  const objProjectMedia = {}\n  const objProjectReview = {}\n  \n  if(itemData[\"['attributes.faqs']\"]){\n    objFAQ.id = itemData[\"['attributes.faqs']\"].id\n    objFAQ.name = itemData[\"['attributes.faqs']\"]?.attributes?.question\n    objFAQ.description = itemData[\"['attributes.faqs']\"]?.attributes?.answer\n    objFAQ.type = 'faqs'\n    objFAQ.obj = 'project'\n    objFAQ.parent = itemData.parent || '';  \n    objFAQ.id_parent = itemData.id_parent || ''; \n  }\n\n  if(itemData[\"['attributes.features']\"]){\n    objFeature.id = itemData[\"['attributes.features']\"].id\n    objFeature.name = itemData[\"['attributes.features']\"]?.attributes?.title\n    objFeature.description = itemData[\"['attributes.features']\"]?.attributes?.text\n    objFeature.type = 'features'\n    objFeature.obj = 'project'\n    objFeature.parent = itemData.parent || '';  \n    objFeature.id_parent = itemData.id_parent || '';  \n  }\n\n    if(itemData[\"['attributes.awards']\"]){\n    objAward.id = itemData[\"['attributes.awards']\"].id\n    objAward.name = itemData[\"['attributes.awards']\"]?.attributes?.name\n    objAward.description = itemData[\"['attributes.awards']\"]?.attributes?.highlight\n    objAward.type = 'awards'\n    objAward.obj = 'project'\n  }\n\n  if(itemData[\"['attributes.project_files']\"]){\n    objProjectMedia.id = itemData[\"['attributes.project_files']\"].id\n    objProjectMedia.name = itemData[\"['attributes.project_files']\"]?.attributes?.file_name\n    objProjectMedia.description = itemData[\"['attributes.project_files']\"]?.attributes?.description\n    objProjectMedia.type = 'project_files'\n    objProjectMedia.obj = 'project'\n    objProjectMedia.parent = itemData.parent || '';  \n    objProjectMedia.id_parent = itemData.id_parent || '';  \n  }\n\n  if(itemData[\"['attributes.project_reviews']\"] && itemData[\"['attributes.project_reviews']\"]?.attributes?.rating === 5){\n    objProjectReview.id = itemData[\"['attributes.project_reviews']\"].id\n    objProjectReview.name = itemData[\"['attributes.project_reviews']\"]?.attributes?.rating\n    objProjectReview.description = itemData[\"['attributes.project_reviews']\"]?.attributes?.comment\n    objProjectReview.type = 'project_reviews'\n    objProjectReview.obj = 'project'\n    objProjectReview.parent = itemData.parent || '';  \n    objProjectReview.id_parent = itemData.id_parent || '';  \n  }\n  \n  \n  objFAQ && objFAQ.id && listItemReFormat.push(objFAQ)\n  objAward && objAward.id && listItemReFormat.push(objAward)\n  objFeature && objFeature.id&& listItemReFormat.push(objFeature)\n  // objProjectMedia && objProjectMedia.id&& listItemReFormat.push(objProjectMedia)\n  objProjectReview && objProjectReview.id&& listItemReFormat.push(objProjectReview)\n}\nconst items = $items\n\nreturn listItemReFormat\n"
      },
      "id": "64eefa7d-2d82-46be-99ae-5b97d7717489",
      "name": "Reformat fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "content": "## Random to post\nRandon one item to post\n",
        "height": 253.26605474046238,
        "width": 227.14575873091968,
        "color": 2
      },
      "id": "85f9f7e3-8671-43ee-be20-b32f54612dfc",
      "name": "Sticky Note32",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        920,
        100
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1pRm-6FtazTKCK-vDxXL9fM-Y1THn2u7PqhV4-Gp3uZk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 720205692,
          "mode": "list",
          "cachedResultName": "FB-WACRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pRm-6FtazTKCK-vDxXL9fM-Y1THn2u7PqhV4-Gp3uZk/edit#gid=720205692"
        },
        "options": {}
      },
      "id": "1009be82-5213-4420-85e0-37992503220e",
      "name": "Get object posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        -580,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6ZPseCXSZ0dgVauE",
          "name": "Google Sheets FB - OCEAN"
        }
      }
    },
    {
      "parameters": {
        "authentication": "token",
        "operation": "getAll",
        "contentType": "projects?filters[$and][0][alias][$eq]=whatsapp-crm&populate=*",
        "options": {}
      },
      "id": "2ccb5f47-9d1a-4e1e-851e-2c2ca9b32c90",
      "name": "Get Project WACRM",
      "type": "n8n-nodes-base.strapi",
      "typeVersion": 1,
      "position": [
        -280,
        200
      ],
      "executeOnce": true,
      "credentials": {
        "strapiTokenApi": {
          "id": "Cm4uH9F0K2CASK8a",
          "name": "Strapi account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad3a897d-3803-48c8-b7cc-35dc7a4ced5e",
              "name": "attributes.image",
              "value": "={{ $json.attributes.image.data[0].attributes.url }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8db6b0bb-8899-4ee8-823f-a243e5aaa5cf",
      "name": "Set Image Post For Feature",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1860,
        -80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad3a897d-3803-48c8-b7cc-35dc7a4ced5e",
              "name": "attributes.image",
              "value": "https://media-cloodo.s3.amazonaws.com/question_518957ddc9.jpg?updated_at=2024-10-15T04:27:09.223Z",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f8e4f66f-9bfb-4903-9cdd-7723fc7c4cc2",
      "name": "Set Image Post For FAQ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1860,
        100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad3a897d-3803-48c8-b7cc-35dc7a4ced5e",
              "name": "attributes.image",
              "value": "={{ $json.attributes.icon.data[0].attributes.url }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "623b0367-ba8f-494a-8aa7-1c5e37713da3",
      "name": "Set Image Post For Award",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1860,
        280
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "features",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "00e4de34-1467-4446-815f-5463c0ff53bd",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "faqs",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "5b4d0d70-e141-4476-aee8-121aa48b3524",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "awards",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "0485fabf-1ae1-4a6e-a974-10effeba202b",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "project_reviews",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "963de70a-a141-4956-9b01-67e5ba8a5472",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1280,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad3a897d-3803-48c8-b7cc-35dc7a4ced5e",
              "name": "attributes.image",
              "value": "={{ $json.attributes.project.data.attributes.screenshots[0] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b89df6bc-36ef-491a-a90c-ced6d1fbc984",
      "name": "Set Image Post For Review",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1860,
        480
      ]
    },
    {
      "parameters": {
        "content": "## Check obj selected\nCheck what obj is selected to post\n",
        "height": 273.3762559090725,
        "width": 227.14575873091968,
        "color": 5
      },
      "id": "edb7152d-0ec6-4522-be3d-146514fcabdd",
      "name": "Sticky Note46",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Save info\nSave info of obj we  need to post\n\n",
        "height": 293.4864570776825,
        "width": 227.14575873091968,
        "color": 5
      },
      "id": "1c053386-01b0-4833-a8cb-ddeb69ef96f9",
      "name": "Sticky Note47",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2180,
        72
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1pRm-6FtazTKCK-vDxXL9fM-Y1THn2u7PqhV4-Gp3uZk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 720205692,
          "mode": "list",
          "cachedResultName": "FB-WACRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pRm-6FtazTKCK-vDxXL9fM-Y1THn2u7PqhV4-Gp3uZk/edit#gid=720205692"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Merge').item.json.id }}",
            "obj": "={{ $('Random').item.json.obj }}",
            "type": "={{ $('Random').item.json.type }}",
            "description": "={{ $('Random').item.json.description }}",
            "selectedPost": "={{ $now.format('yyyy/MM/dd HH:mm') }}",
            "image": "={{ $('Merge').item.json.attributes.image }}",
            "name": "={{ $('Random').item.json.name }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "obj",
              "displayName": "obj",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "selectedPost",
              "displayName": "selectedPost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "5cd90b4f-dbaf-4fa3-a4b7-0e9a35faa2eb",
      "name": "Save ID obj posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        3700,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6ZPseCXSZ0dgVauE",
          "name": "Google Sheets FB - OCEAN"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "9b4c4c2b-73aa-435b-a2d4-6af8056838d4",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2240,
        180
      ]
    },
    {
      "parameters": {
        "content": "## Valid Link \nCheck the image link selected in previous node is enable to post",
        "height": 290.11747934565517,
        "width": 215.54603652481288,
        "color": 5
      },
      "id": "2f396674-1e99-4388-83ca-013ee7e83267",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2520,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.attributes.image }}",
        "options": {}
      },
      "id": "2f2e5d8a-2c84-4b76-8cf9-8252f9cfbdaa",
      "name": "Check Valid Image Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2580,
        200
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "96287d34-596c-4736-8082-d658e68d6199",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "3083ee8f-6372-475b-9847-1c0b1c2fc2f3",
      "name": "Loop when image link is not valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2800,
        500
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2,
                1,
                3,
                5,
                4,
                6
              ],
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "fe06d490-1084-497a-a484-890c75fc2106",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1020,
        -40
      ]
    },
    {
      "parameters": {
        "content": "## Split Each Attribute\nSplit each item in the attribute field that split the previous node",
        "height": 297.18551537799755,
        "width": 262.49500570503653,
        "color": 6
      },
      "id": "92138ecf-fbfd-46aa-8930-6d7a6bbfa7c7",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Reformat Fields\nreformat field of each item, what we need to use it to post",
        "height": 294.00235013248516,
        "width": 227.14575873091968,
        "color": 2
      },
      "id": "58f9f2ff-1667-4212-84c4-80692d3c7721",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Mark Obj Posted\nSave time the obj is posted",
        "height": 283.7668895029362,
        "width": 231.604468165266,
        "color": 4
      },
      "id": "44c31e62-130c-4c61-81f3-4fded5cfccdf",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3640,
        80
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v17.0",
        "node": "=me/photos",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "=message",
                "value": "={{ $json.message.content }}"
              },
              {
                "name": "url",
                "value": "={{ $('Strapi1').item.json.attributes.image.data[0].attributes.url }}"
              }
            ]
          }
        }
      },
      "id": "5ed46f58-61ed-4b15-97cc-eb597653f657",
      "name": "Facebook Graph API WACRM1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        4600,
        1620
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "X3uXrrjxMcjmPb3m",
          "name": "Facebook Graph account WACRM"
        }
      }
    },
    {
      "parameters": {
        "content": "## STORE\n",
        "height": 1148.720109208449,
        "width": 2954.8517404374034,
        "color": 7
      },
      "id": "e435840b-f3d4-42a4-9405-797ba505f82f",
      "name": "Sticky Note27",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2250,
        1140
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Get object posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strapi1": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API WACRM": {
      "main": [
        [
          {
            "node": "Save ID obj posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Feature Posted": {
      "main": [
        [
          {
            "node": "Get Project Whatsapp CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Whatsapp CRM": {
      "main": [
        [
          {
            "node": "Split By Feature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split By Feature": {
      "main": [
        [
          {
            "node": "Random Feature To Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Feature To Post": {
      "main": [
        [
          {
            "node": "Strapi1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Attributes": {
      "main": [
        [
          {
            "node": "Split Out Each Attribute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Each Attribute": {
      "main": [
        [
          {
            "node": "Reformat fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Facebook Graph API WACRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detail Feature": {
      "main": [
        [
          {
            "node": "Set Image Post For Feature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detail FAQ": {
      "main": [
        [
          {
            "node": "Set Image Post For FAQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detail Awards": {
      "main": [
        [
          {
            "node": "Set Image Post For Award",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detail Project Review": {
      "main": [
        [
          {
            "node": "Set Image Post For Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reformat fields": {
      "main": [
        [
          {
            "node": "Random",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get object posted": {
      "main": [
        [
          {
            "node": "Get Project WACRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project WACRM": {
      "main": [
        [
          {
            "node": "Split Out Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Post For Feature": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Post For FAQ": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set Image Post For Award": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Detail Feature",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detail FAQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detail Awards",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detail Project Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Post For Review": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Check Valid Image Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid Image Link": {
      "main": [
        [
          {
            "node": "Loop when image link is not valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop when image link is not valid": {
      "main": [
        [
          {
            "node": "Get object posted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get object posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d40d62bc-abbc-4116-82c9-b0779f5005c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "gRb62p63mnPd7kIj",
  "tags": []
}