cloodo/Convert_Ageny_review.json
{
  "name": "Convert Ageny review",
  "nodes": [
    {
      "parameters": {
        "url": "https://strapi4.cloodo.com/api/projects",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filters[$and][0][id][$eq]",
              "value": "={{ $json.ID }}"
            },
            {
              "name": "populate[1]",
              "value": "project_categories"
            },
            {
              "name": "populate[0]",
              "value": "project_tags"
            },
            {
              "name": "populate[1]",
              "value": "faqs"
            },
            {
              "name": "populate[2]",
              "value": "benefits"
            },
            {
              "name": "populate[3]",
              "value": "project_reviews"
            },
            {
              "name": "populate[4]",
              "value": "features"
            }
          ]
        },
        "options": {}
      },
      "id": "03e3de76-cea2-44c4-8ba1-d6a6b7be6cf2",
      "name": "Get Detail Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        340
      ]
    },
    {
      "parameters": {},
      "id": "64541c69-7b66-4bf9-a0f2-c0c49c8a008c",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        800,
        620
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "382a7bcc-6b4e-43ec-b106-3f702ccde9bc",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1340,
        620
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "01cd4c8a-f02b-47cc-82fb-42e181333ede",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1340,
        320
      ]
    },
    {
      "parameters": {
        "url": "https://strapi4.cloodo.com/api/project-reviews",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pagination[pageSize]",
              "value": "10"
            },
            {
              "name": "pagination[page]",
              "value": "={{ $runIndex+10552 }}"
            },
            {
              "name": "populate",
              "value": "*"
            }
          ]
        },
        "options": {}
      },
      "id": "c9c8db64-2e78-425d-8d90-a1412d4f0dbc",
      "name": "Get Project Reviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        620
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "https://strapi4.cloodo.com/api/projects",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pagination[pageSize]",
              "value": "10"
            },
            {
              "name": "pagination[page]",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "13365bec-34c9-4b8e-8d59-9a0854f843e8",
      "name": "Get Project Reviews1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tạo một danh sách tên tiếng Anh ngẫu nhiên\nconst names = [\"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\", \"11\", \"12\", \"13\", \"14\"];\n\n// Loop over input items và thêm một cột với tên tiếng Anh ngẫu nhiên vào mỗi item\nfor (const item of $input.all()) {\n  item.json.randomReview = names[Math.floor(Math.random() * names.length)]; // Thêm cột randomName\n}\n\nreturn $input.all();"
      },
      "id": "4387d003-80e3-4188-a2df-b440c186e7c6",
      "name": "Random Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tạo một danh sách tên tiếng Anh ngẫu nhiên\nconst names = [\"John\", \"Alice\", \"Michael\", \"Sarah\", \"David\", \"Emily\", \"James\", \"Sophia\", \"Daniel\", \"Olivia\"];\n\n// Loop over input items và thêm một cột với tên tiếng Anh ngẫu nhiên vào mỗi item\nfor (const item of $input.all()) {\n  item.json.randomName = names[Math.floor(Math.random() * names.length)]; // Thêm cột randomName\n}\n\nreturn $input.all();"
      },
      "id": "41dab322-b322-41c6-8c5f-ff0d532db343",
      "name": "Random User",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        1120
      ]
    },
    {
      "parameters": {
        "url": "=https://strapi4.cloodo.com/api/projects/{{ $json.attributes.project.data.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "populate[0]",
              "value": "agency"
            }
          ]
        },
        "options": {}
      },
      "id": "d45bbe89-4dcc-44ab-aa12-f9251cd81fed",
      "name": "Get Project Agency",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        320
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04b968b7-24c9-4759-aae2-30b6822a58a2",
              "leftValue": "={{ $json.data.attributes.agency.data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "770504b6-cd8b-4c6d-825a-effac861829c",
      "name": "Check Project Agency",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2840,
        320
      ]
    },
    {
      "parameters": {
        "url": "=https://strapi4.cloodo.com/api/user-profiles/{{ $('Random Review').item.json.attributes.user_profile.data.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "populate[0]",
              "value": "agencies"
            }
          ]
        },
        "options": {}
      },
      "id": "42c58f24-628c-4082-a216-a0b20e8f3d63",
      "name": "Get User Agency",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        460
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04b968b7-24c9-4759-aae2-30b6822a58a2",
              "leftValue": "={{ $json.data.attributes.agencies.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c8c9fbdb-0480-4cbb-ae74-69ba2a1a082f",
      "name": "Check User Agency",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3280,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://data2.cloodo.com/api/user/execProjectErp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"data\": {\n        \"title\": \"{{ $('Random Review').item.json.attributes.title }}\",\n        \"rating\": {{ $('Random Review').item.json.attributes.rating }},\n        \"comment\": \"{{ $('Random Review').item.json.attributes.comment.replaceAll(/\\n/g, '\\\\n') }}\",\n        \"reviewer\": \"{{ $json.randomName }}\",\n        \"agency\": 7,\n        \"project\": {{ $('Random Review').item.json.attributes.project.data.id }},\n        \"review_channel\": {{ $('Random Review').item.json.randomReview }}\n    },\n\n    \"type\": \"agency-reviews\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "85435f9f-6cd2-4570-9480-9f6579270b4f",
      "name": "create Agency",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3680,
        -220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bFqbjFfMlfs4tuCQ",
          "name": "Header Auth OceanPham WorkSpace"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://data2.cloodo.com/api/user/execProjectErp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"data\": {\n        \"title\": \"{{ $('Random Review').item.json.attributes.title }}\",\n        \"rating\": {{ $('Random Review').item.json.attributes.rating }},\n        \"comment\": \"{{ $('Random Review').item.json.attributes.comment.replaceAll(/\\n/g, '\\\\n').replaceAll(/\"/g, '\\\"') }}\",\n        \"reviewer\": \"{{ $json.randomName }}\",\n        \"agency\": 7,\n        \n        \"project\": {{ $('Random Review').item.json.attributes.project.data.id }},\n        \"review_channel\": {{ $('Random Review').item.json.randomReview }}\n    },\n    \"type\": \"agency-reviews\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "7b155dc4-f8de-4700-8b84-551a451a4c25",
      "name": "create Agency1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3380,
        -240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bFqbjFfMlfs4tuCQ",
          "name": "Header Auth OceanPham WorkSpace"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://data2.cloodo.com/api/user/execProjectErp",
        "authentication": "predefinedCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"data\": {\n        \"title\": \"ΠΟΛΥ ΚΑΛΟ!!!!\",\n        \"rating\": 5,\n        \"comment\": \"<p>ΠΟΛΥ ΚΑΛΟ!!!!</p>\",\n        \"reviewer\": \"James\",\n        \"agency\": 7,\n        \n        \"project\": 10903,\n        \"review_channel\": 12\n    },\n    \"type\": \"agency-reviews\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "7b3fc6e4-650d-4c43-99d0-d328f16adcd2",
      "name": "create Agency2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bFqbjFfMlfs4tuCQ",
          "name": "Header Auth OceanPham WorkSpace"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://data2.cloodo.com/api/user/execProjectErp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"data\": {\n        \"title\": \"{{ $('Random Review').item.json.attributes.title }}\",\n        \"Rating\": \"{{ $('Random Review').item.json.attributes.rating }}\",\n        \"Comment\": \"{{ $('Random Review').item.json.attributes.comment }}\",\n        \"reviewer\": \"\",\n        \"Agency\": \"7\",\n        \"user_profile\": \"{{ $('Random Review').item.json.attributes.user_profile.data.id }}\",\n        \"project\": \"{{ $('Random Review').item.json.attributes.project.data.id }}\",\n        \"review_channel\": \"{{ $('Random Review').item.json.randomReview }}\",\n    },\n    \"token\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Njg3NDksImlhdCI6MTc0MTE1Nzg1NywiZXhwIjoxNzQzNzQ5ODU3fQ.LjCk7MALYp4pXYEXYF_RR3YKYEryMHnMjRcGuoMEr9g\",\n    \"type\": \"agency-reviews\",\n    \"id\": \"\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "1f09b505-790a-4d32-84b4-3d9dbd83a535",
      "name": "create Agency3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        260
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "bFqbjFfMlfs4tuCQ",
          "name": "Header Auth OceanPham WorkSpace"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  let messagerAI = $node['Random Review']?.json?.attributes?.comment\n  console.log('commen', messagerAI)\n  messagerAI = messagerAI.replace(/\\n\\n/g, '\\\\n\\\\n');\n  messagerAI = messagerAI.replace(/\\n/g, '\\\\n');\n  item.json.content = messagerAI;\n}\n\nreturn $input.all();"
      },
      "id": "88c8701b-4353-478b-98da-0970075766da",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        -280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex+1 }}",
              "operation": "smallerEqual",
              "value2": 5000
            }
          ]
        }
      },
      "id": "1b720b3a-c145-4831-b2dd-65cd1f4b7037",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1240,
        840
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "e9ccf702-9ec0-4efc-bf61-6528f0cf87bf",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        980,
        840
      ],
      "webhookId": "0695c6d0-e193-45e6-8aae-e80dc8888d7a"
    },
    {
      "parameters": {
        "errorMessage": "ee"
      },
      "id": "dfc904a5-1b92-4631-a276-107234d9e9a0",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2040,
        1540
      ]
    },
    {
      "parameters": {
        "errorMessage": "ee"
      },
      "id": "ce9f84f8-1d98-48a9-a013-9b692e931e0c",
      "name": "Stop and Error1",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3540,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tạo một danh sách tên tiếng Anh ngẫu nhiên\nconst names = [\"John\", \"Alice\", \"Michael\", \"Sarah\", \"David\", \"Emily\", \"James\", \"Sophia\", \"Daniel\", \"Olivia\"];\n\n// Loop over input items và thêm một cột với tên tiếng Anh ngẫu nhiên vào mỗi item\nfor (const item of $input.all()) {\n  item.json.randomName = names[Math.floor(Math.random() * names.length)]; // Thêm cột randomName\n}\n\nreturn $input.all();"
      },
      "id": "39f966db-bc5b-4009-9598-47bbdfd514f4",
      "name": "Random User1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3140,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tạo một danh sách tên tiếng Anh ngẫu nhiên\nconst names = [\"John\", \"Alice\", \"Michael\", \"Sarah\", \"David\", \"Emily\", \"James\", \"Sophia\", \"Daniel\", \"Olivia\"];\n\n// Loop over input items và thêm một cột với tên tiếng Anh ngẫu nhiên vào mỗi item\nfor (const item of $input.all()) {\n  item.json.randomName = names[Math.floor(Math.random() * names.length)]; // Thêm cột randomName\n}\n\nreturn $input.all();"
      },
      "id": "8843667e-71f9-4d94-aa69-48e969606963",
      "name": "Random User2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://strapi4.cloodo.com/content-manager/collection-types/api::agency-review.agency-review/18273/actions/publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MjksImlhdCI6MTc0MTI1MjQwMSwiZXhwIjoxNzQzODQ0NDAxfQ.TlKD_N5_tyfRYMMqGZK5UlY1dUdSGCl4nOKtVw482tQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment",
              "value": "<p>test</p>"
            },
            {
              "name": "title",
              "value": "tung"
            },
            {
              "name": "agency",
              "value": 7
            },
            {
              "name": "user_profile",
              "value": 2
            },
            {
              "name": "review_channel",
              "value": 3
            },
            {
              "name": "project",
              "value": 2
            },
            {
              "name": "rating",
              "value": 4
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "be577f1c-92c1-45e6-88cb-93551d77a404",
      "name": "create Agency4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://strapi4.cloodo.com/content-manager/collection-types/api::agency-review.agency-review",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MjksImlhdCI6MTc0MTI1MjQwMSwiZXhwIjoxNzQzODQ0NDAxfQ.TlKD_N5_tyfRYMMqGZK5UlY1dUdSGCl4nOKtVw482tQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment",
              "value": "={{ $('Random Review').item.json.attributes.comment.replaceAll(/\\n/g, '\\\\n').replaceAll(/\"/g, '\\\"') }}"
            },
            {
              "name": "title",
              "value": "={{ $('Random Review').item.json.attributes.title }}"
            },
            {
              "name": "agency",
              "value": "={{ $json.data.attributes.agency.data.id }}"
            },
            {
              "name": "user_profile",
              "value": "={{ $('Random Review').item.json.attributes.user_profile.data.id }}"
            },
            {
              "name": "review_channel",
              "value": "={{ $('Random Review').item.json.randomReview }}"
            },
            {
              "name": "project",
              "value": "={{ $('Random Review').item.json.attributes.project.data.id }}"
            },
            {
              "name": "rating",
              "value": "={{ $('Random Review').item.json.attributes.rating }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "23e5a090-2b48-4ab3-905f-91b42559e46d",
      "name": "create Agency5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3420,
        220
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://strapi4.cloodo.com/content-manager/collection-types/api::agency-review.agency-review/{{ $json.id }}/actions/publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MjksImlhdCI6MTc0MTI1MjQwMSwiZXhwIjoxNzQzODQ0NDAxfQ.TlKD_N5_tyfRYMMqGZK5UlY1dUdSGCl4nOKtVw482tQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "c5e71f4f-8182-4f56-a959-464771bdf279",
      "name": "Update Agency6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3700,
        220
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://strapi4.cloodo.com/content-manager/collection-types/api::agency-review.agency-review",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MjksImlhdCI6MTc0MTI1MjQwMSwiZXhwIjoxNzQzODQ0NDAxfQ.TlKD_N5_tyfRYMMqGZK5UlY1dUdSGCl4nOKtVw482tQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment",
              "value": "={{ $('Random Review').item.json.attributes.comment.replaceAll(/\\n/g, '\\\\n').replaceAll(/\"/g, '\\\"') }}"
            },
            {
              "name": "title",
              "value": "={{ $('Random Review').item.json.attributes.title }}"
            },
            {
              "name": "agency",
              "value": "=7"
            },
            {
              "name": "user_profile",
              "value": "={{ $('Random Review').item.json.attributes.user_profile.data.id }}"
            },
            {
              "name": "review_channel",
              "value": "={{ $('Random Review').item.json.randomReview }}"
            },
            {
              "name": "project",
              "value": "={{ $('Random Review').item.json.attributes.project.data.id }}"
            },
            {
              "name": "rating",
              "value": "={{ $('Random Review').item.json.attributes.rating }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "b6a25b5d-2c31-42ff-be3d-daa4f5067782",
      "name": "create Agency6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3780,
        620
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://strapi4.cloodo.com/content-manager/collection-types/api::agency-review.agency-review/{{ $json.id }}/actions/publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MjksImlhdCI6MTc0MTI1MjQwMSwiZXhwIjoxNzQzODQ0NDAxfQ.TlKD_N5_tyfRYMMqGZK5UlY1dUdSGCl4nOKtVw482tQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "9573ffb1-aa70-4108-b293-d1a4fa744456",
      "name": "Update Agency",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4060,
        620
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.attributes.user_profile.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not null"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77241882-687d-4caa-aca4-d38d11f920e9",
                    "leftValue": "={{ $json.attributes.user_profile.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "null"
            }
          ]
        },
        "options": {}
      },
      "id": "60a860c2-d259-46cc-bc69-bcecdb735022",
      "name": "Check User Profile",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1600,
        620
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.attributes.review_channel.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "null"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "60402fef-c041-4466-b4fb-dcd5f4b165a2",
                    "leftValue": "={{ $json.attributes.review_channel.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not null"
            }
          ]
        },
        "options": {}
      },
      "id": "30fd894d-003e-472c-9f67-01c8b1782915",
      "name": "Check Review Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1920,
        380
      ]
    },
    {
      "parameters": {
        "errorMessage": "rr"
      },
      "id": "8c9ceca6-1f4a-46b8-94d3-a6bdcaab903a",
      "name": "Stop and Error2",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2200,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tạo một danh sách tên tiếng Anh ngẫu nhiên\nconst names = [\"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\", \"11\", \"12\", \"13\", \"14\"];\n\n// Loop over input items và thêm một cột với tên tiếng Anh ngẫu nhiên vào mỗi item\nfor (const item of $input.all()) {\n  item.json.randomReview = names[Math.floor(Math.random() * names.length)]; // Thêm cột randomName\n}\n\nreturn $input.all();"
      },
      "id": "272782aa-22f8-4e52-9c3c-5a948f6a31a3",
      "name": "Random Review1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        1080
      ]
    },
    {
      "parameters": {
        "url": "=https://strapi4.cloodo.com/api/projects/{{ $json.attributes.project.data.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "populate[0]",
              "value": "agency"
            }
          ]
        },
        "options": {}
      },
      "id": "8574e2fb-44a0-4d09-a4aa-2266558d6624",
      "name": "Get Project Agency1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        1080
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04b968b7-24c9-4759-aae2-30b6822a58a2",
              "leftValue": "={{ $json.data.attributes.agency.data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "347fd2e9-10c8-40fc-ac2d-5842eb13242e",
      "name": "Check Project Agency1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3100,
        1080
      ]
    },
    {
      "parameters": {
        "url": "=https://strapi4.cloodo.com/api/user-profiles/{{ $('Random Review1').item.json.attributes.user_profile.data.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "populate[0]",
              "value": "agencies"
            }
          ]
        },
        "options": {}
      },
      "id": "e6a49103-d5c8-40d4-9221-712e79e24c84",
      "name": "Get User Agency1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3340,
        1220
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04b968b7-24c9-4759-aae2-30b6822a58a2",
              "leftValue": "={{ $json.data.attributes.agencies.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2e5029be-1f18-4e42-a456-0d290be922f9",
      "name": "Check User Agency1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3540,
        1220
      ]
    },
    {
      "parameters": {
        "errorMessage": "ee"
      },
      "id": "188ee8b5-5837-4b10-bb76-3166b976aacd",
      "name": "Stop and Error3",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3800,
        1180
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tạo một danh sách tên tiếng Anh ngẫu nhiên\nconst names = [\"John\", \"Alice\", \"Michael\", \"Sarah\", \"David\", \"Emily\", \"James\", \"Sophia\", \"Daniel\", \"Olivia\"];\n\n// Loop over input items và thêm một cột với tên tiếng Anh ngẫu nhiên vào mỗi item\nfor (const item of $input.all()) {\n  item.json.randomName = names[Math.floor(Math.random() * names.length)]; // Thêm cột randomName\n}\n\nreturn $input.all();"
      },
      "id": "712f17d7-4356-49ca-a6d1-219ccb80bc7b",
      "name": "Random User3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        980
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tạo một danh sách tên tiếng Anh ngẫu nhiên\nconst names = [\"John\", \"Alice\", \"Michael\", \"Sarah\", \"David\", \"Emily\", \"James\", \"Sophia\", \"Daniel\", \"Olivia\"];\n\n// Loop over input items và thêm một cột với tên tiếng Anh ngẫu nhiên vào mỗi item\nfor (const item of $input.all()) {\n  item.json.randomName = names[Math.floor(Math.random() * names.length)]; // Thêm cột randomName\n}\n\nreturn $input.all();"
      },
      "id": "0fed509d-7776-48ab-a56f-b47dcb4247fe",
      "name": "Random User4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3780,
        1380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://strapi4.cloodo.com/content-manager/collection-types/api::agency-review.agency-review",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MjksImlhdCI6MTc0MTI1MjQwMSwiZXhwIjoxNzQzODQ0NDAxfQ.TlKD_N5_tyfRYMMqGZK5UlY1dUdSGCl4nOKtVw482tQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment",
              "value": "={{ $('Random Review1').item.json.attributes.comment.replaceAll(/\\n/g, '\\\\n').replaceAll(/\"/g, '\\\"') }}"
            },
            {
              "name": "title",
              "value": "={{ $('Random Review1').item.json.attributes.title }}"
            },
            {
              "name": "agency",
              "value": "={{ $json.data.attributes.agency.data.id }}"
            },
            {
              "name": "reviewer",
              "value": "={{ $('Random User').item.json.randomName }}"
            },
            {
              "name": "review_channel",
              "value": "={{ $('Random Review1').item.json.randomReview }}"
            },
            {
              "name": "project",
              "value": "={{ $('Random Review1').item.json.attributes.project.data.id }}"
            },
            {
              "name": "rating",
              "value": "={{ $('Random Review1').item.json.attributes.rating }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "c14e4307-3ceb-4546-b715-47fe6aa1f8ef",
      "name": "create Agency7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3680,
        980
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://strapi4.cloodo.com/content-manager/collection-types/api::agency-review.agency-review/{{ $json.id }}/actions/publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MjksImlhdCI6MTc0MTI1MjQwMSwiZXhwIjoxNzQzODQ0NDAxfQ.TlKD_N5_tyfRYMMqGZK5UlY1dUdSGCl4nOKtVw482tQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "15c11c69-f043-4175-812c-99d33bc432c7",
      "name": "Update Agency7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3960,
        980
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://strapi4.cloodo.com/content-manager/collection-types/api::agency-review.agency-review",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MjksImlhdCI6MTc0MTI1MjQwMSwiZXhwIjoxNzQzODQ0NDAxfQ.TlKD_N5_tyfRYMMqGZK5UlY1dUdSGCl4nOKtVw482tQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment",
              "value": "={{ $('Random Review1').item.json.attributes.comment.replaceAll(/\\n/g, '\\\\n').replaceAll(/\"/g, '\\\"') }}"
            },
            {
              "name": "title",
              "value": "={{ $('Random Review1').item.json.attributes.title }}"
            },
            {
              "name": "agency",
              "value": "=7"
            },
            {
              "name": "reviewer",
              "value": "={{ $('Random User').item.json.randomName }}"
            },
            {
              "name": "review_channel",
              "value": "={{ $('Random Review1').item.json.randomReview }}"
            },
            {
              "name": "project",
              "value": "={{ $('Random Review1').item.json.attributes.project.data.id }}"
            },
            {
              "name": "rating",
              "value": "={{ $('Random Review1').item.json.attributes.rating }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "7f479c0b-d6f2-4794-a73b-0c31f8fb0abf",
      "name": "create Agency8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4040,
        1380
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://strapi4.cloodo.com/content-manager/collection-types/api::agency-review.agency-review/{{ $json.id }}/actions/publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MjksImlhdCI6MTc0MTI1MjQwMSwiZXhwIjoxNzQzODQ0NDAxfQ.TlKD_N5_tyfRYMMqGZK5UlY1dUdSGCl4nOKtVw482tQ"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "7a05da5e-4520-4f13-b86e-3e41f5a23e54",
      "name": "Update Agency1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        1380
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "errorMessage": "rr"
      },
      "id": "b490f8ce-218b-4b34-9900-3999f398603a",
      "name": "Stop and Error4",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2460,
        1320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.attributes.review_channel.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "null"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "60402fef-c041-4466-b4fb-dcd5f4b165a2",
                    "leftValue": "={{ $json.attributes.review_channel.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not null"
            }
          ]
        },
        "options": {}
      },
      "id": "20781fe5-8e6c-4855-a7c5-37a855065602",
      "name": "Check Review Channel1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2160,
        1120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Check User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Reviews": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Review": {
      "main": [
        [
          {
            "node": "Get Project Agency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Agency": {
      "main": [
        [
          {
            "node": "Check Project Agency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Project Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Project Agency": {
      "main": [
        [
          {
            "node": "Random User1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User Agency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Agency": {
      "main": [
        [
          {
            "node": "Check User Agency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Agency": {
      "main": [
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Random User2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Project Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random User": {
      "main": [
        [
          {
            "node": "Check Review Channel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random User1": {
      "main": [
        [
          {
            "node": "create Agency5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create Agency5": {
      "main": [
        [
          {
            "node": "Update Agency6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random User2": {
      "main": [
        [
          {
            "node": "create Agency6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create Agency6": {
      "main": [
        [
          {
            "node": "Update Agency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Profile": {
      "main": [
        [
          {
            "node": "Check Review Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Random User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Review Channel": {
      "main": [
        [
          {
            "node": "Random Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Review1": {
      "main": [
        [
          {
            "node": "Get Project Agency1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Agency1": {
      "main": [
        [
          {
            "node": "Check Project Agency1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Project Agency1": {
      "main": [
        [
          {
            "node": "Random User3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User Agency1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Agency1": {
      "main": [
        [
          {
            "node": "Check User Agency1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Agency1": {
      "main": [
        [
          {
            "node": "Stop and Error3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Random User4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create Agency7": {
      "main": [
        [
          {
            "node": "Update Agency7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create Agency8": {
      "main": [
        [
          {
            "node": "Update Agency1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Review Channel1": {
      "main": [
        [
          {
            "node": "Random Review1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random User3": {
      "main": [
        [
          {
            "node": "create Agency7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random User4": {
      "main": [
        [
          {
            "node": "create Agency8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b037528c-04ce-4f32-9122-b56cf8e17b81",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "zUfGdEuKJ7W99r6x",
  "tags": []
}