cloodo/QCM54___MInus.json
{
  "name": "QCM54 - MInus",
  "nodes": [
    {
      "parameters": {
        "resource": "task",
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "37cac3a9-d676-46f4-882e-912e3b5cb216",
      "name": "Cloodo Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -400,
        360
      ],
      "credentials": {
        "cloodoApi": {
          "id": "uL6pbTJUJrD9Ug6k",
          "name": "Cloodo Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "resource": "task",
        "page": "={{ $runIndex + 1}}",
        "additionalFields": {
          "fromDate": "= {{ $today.set({ day: 1 }).minus({month : 0}).format('dd-MM-yyyy') }} ",
          "toDate": "= {{ $today.set({ day: 1 }).minus({month :-1}).format('dd-MM-yyyy') }} "
        },
        "requestOptions": {}
      },
      "id": "918f7575-c46f-490d-822c-c24013790c1d",
      "name": "Cloodo Project1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -920,
        360
      ],
      "credentials": {
        "cloodoApi": {
          "id": "uL6pbTJUJrD9Ug6k",
          "name": "Cloodo Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "4322b4e3-66d8-42e5-aa5f-b0361a2c5009",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -680,
        360
      ]
    },
    {
      "parameters": {},
      "id": "1ed1c7dd-31b9-44d1-aacc-6f2647760ab0",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1160,
        360
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 22,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "id": "6592f962-7e2f-436b-bba7-e60ce3f64de3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1160,
        540
      ]
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('IF is empty category').item.json.data.assigned_by.id }}",
        "points": 1,
        "note": "=QCM54 {{ $('IF is empty category').item.json.data.assigned_by.name }}: -1 point because the Task was created without a category attached Link: https://worksuite.cloodo.com/apps/work/tasks/{{ $('IF is empty category').item.json.data.id }}"
      },
      "id": "658da774-e3d5-47d3-aa51-61e1b44a0dca",
      "name": "Cloodo Point",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        560,
        320
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "XXu5qERVTq5JJyek",
          "name": "Cloodo account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "keyword": "=QCM54 {{ $('IF is empty category').item.json.data.assigned_by.name }}: -1 point because the Task was created without a category attached Link: https://worksuite.cloodo.com/apps/work/tasks/{{ $('IF is empty category').item.json.data.id }}",
        "max_limit_record": 50
      },
      "id": "26d41bc8-edf9-4e07-ba18-4a99796f25b7",
      "name": "Cloodo Point1",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        80,
        340
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "XXu5qERVTq5JJyek",
          "name": "Cloodo account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data.category }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "45414368-c357-47e6-80bf-f6930d3f9cc9",
      "name": "IF is empty category",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -180,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.total_records }}",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "648553f5-6ca6-449f-b8e8-2b5634dd5a8d",
      "name": "IF not found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        320,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.meta.current_page }}",
              "value2": "={{ $json.meta.last_page }}"
            }
          ]
        }
      },
      "id": "7203fe62-fbde-4a74-810a-1e1b2f599770",
      "name": "Loop page",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -720,
        580
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cloodo Project": {
      "main": [
        [
          {
            "node": "IF is empty category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Cloodo Project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Cloodo Project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Point1": {
      "main": [
        [
          {
            "node": "IF not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF is empty category": {
      "main": [
        [
          {
            "node": "Cloodo Point1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF not found": {
      "main": [
        [
          {
            "node": "Cloodo Point",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop page": {
      "main": [
        [
          {
            "node": "Cloodo Project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44e4a650-28f0-4483-99b1-85efac35bfe1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "b495ohozvuNZIRAM",
  "tags": []
}