cloodo/QCM_68___Minus.json
{
  "name": "QCM 68 - Minus",
  "nodes": [
    {
      "parameters": {},
      "id": "3d7b8f2c-6f41-4548-8e41-e3991d498ce8",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2840,
        1060
      ]
    },
    {
      "parameters": {
        "resource": "milestones",
        "page": "={{ $runIndex +1}}",
        "additionalFields": {
          "fromDate": "= {{ $today.set({ day: 1 }).minus({month : 0}).format('dd-MM-yyyy') }} ",
          "toDate": "= {{ $today.set({ day: 1 }).minus({month : -1}).format('dd-MM-yyyy') }} "
        },
        "requestOptions": {}
      },
      "id": "2418a12a-f1bc-41e8-b5dd-a9018cd66cd0",
      "name": "Cloodo Project",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -2620,
        1060
      ],
      "credentials": {
        "cloodoApi": {
          "id": "uL6pbTJUJrD9Ug6k",
          "name": "Cloodo Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "01b652da-ebdc-4d58-8bac-5aa35d4af9f5",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -2260,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $runIndex }}",
              "value2": "={{ $json.meta.last_page }}"
            }
          ]
        }
      },
      "id": "2812acd3-6324-4d32-bbda-61f71e0d68a4",
      "name": "IF6",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2420,
        1300
      ]
    },
    {
      "parameters": {
        "resource": "milestones",
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "5795057b-aa6e-4e32-9da9-473350d02d27",
      "name": "Cloodo Project1",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -2020,
        1000
      ],
      "credentials": {
        "cloodoApi": {
          "id": "uL6pbTJUJrD9Ug6k",
          "name": "Cloodo Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "756535e3-03f3-40e8-aa0d-5b8431104719",
              "leftValue": "={{ $json.data.cost }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "a6af313f-6dbe-4f91-b4d3-2b6f97ec3e88",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "complete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a7952d7d-bb95-4698-a0a9-cbd0cb165c07",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1780,
        1000
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "get",
        "ID": "={{ $json.id }}",
        "requestOptions": {}
      },
      "id": "6275ce80-c453-4a3b-a203-c969efec26c8",
      "name": "Cloodo Project2",
      "type": "@cloodo/n8n-nodes-cloodo-project.CloodoProject",
      "typeVersion": 1,
      "position": [
        -1040,
        980
      ],
      "credentials": {
        "cloodoApi": {
          "id": "uL6pbTJUJrD9Ug6k",
          "name": "Cloodo Worksuite account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.task",
        "options": {}
      },
      "id": "03c04c7c-9c18-431f-8141-a321331a5ea2",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -1300,
        980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "96acfa6e-a0f4-489d-bf6e-bdac36a1b851",
              "leftValue": "={{ $json.data.labels[1] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "785e0b03-4a7d-47e9-b549-b730756657e1",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -820,
        980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4cfc4856-1da9-4176-9a98-c2646fac3379",
              "leftValue": "={{ $json.data.labels[0].id }}",
              "rightValue": "6c8028d6-7612-4bfa-9e42-bb8e18fd2471",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "13168217-7f03-4dfb-be15-4785854a4024",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -600,
        1180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.meta.total }}",
              "value2": 1
            }
          ]
        }
      },
      "id": "21a912b0-2b3a-42b9-8159-322ba1cad3d2",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        980
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "keyword": "=There are no tasks in the Milestone Roadmap catalog in Milestone : <a href=\"https://worksuite.cloodo.com/apps/work/milestones/detail/{{ $('Cloodo Project2').item.json.data.milestone.id }}\">Click here</a><br>  ",
        "max_limit_record": 50
      },
      "id": "1c2f4270-bf9e-49f8-9099-e87471b40eaf",
      "name": "QCM",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        -360,
        960
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "XXu5qERVTq5JJyek",
          "name": "Cloodo account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "minus",
        "user_id": "={{ $('Cloodo Project2').item.json.data.assigned_to[0].id }}",
        "points": 3,
        "note": "=There are no tasks in the Milestone Roadmap catalog in Milestone : <a href=\"https://worksuite.cloodo.com/apps/work/milestones/detail/{{ $('Cloodo Project2').item.json.data.milestone.id }}\">Click here</a><br>  "
      },
      "id": "8588a4c7-b94d-446b-896e-4f946aecbb4d",
      "name": "QCM68",
      "type": "@cloodo/n8n-nodes-cloodo-point.cloodoPoint",
      "typeVersion": 1,
      "position": [
        120,
        960
      ],
      "credentials": {
        "cloodoApi2": {
          "id": "XXu5qERVTq5JJyek",
          "name": "Cloodo account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "828dd906-8b74-4f81-a852-6adb46ef73ef",
              "leftValue": "={{ $json.data.title }}",
              "rightValue": "KPI thang",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f98b9eda-eb08-4851-a75c-672a33dd277f",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1560,
        980
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 50
            }
          ]
        }
      },
      "id": "12415ac7-7ab8-4c49-a096-08f0a173e1d0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2880,
        780
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project": {
      "main": [
        [
          {
            "node": "IF6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Cloodo Project1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF6": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloodo Project2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Cloodo Project2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "QCM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "QCM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "QCM68",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QCM": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Cloodo Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "af6690b3-2160-4627-bda9-80fe77f2b4cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3909475c03ca6926b6e6edc6a6f06c1feb448ce7ac700d69b17002085d9011f8"
  },
  "id": "AwrSkFlkdPgtwp64",
  "tags": []
}